


.btngroup{
    width:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px;
}

.page{
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    label{
        margin-left: 30px;
        select{
            width: 40px;
            height: 28px;
            line-height: 26px;
            border: 1px solid #ccc;
        }
    }
}
