
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    box-sizing: border-box;
}

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.sscbottom {
    width: 900px;
    padding: 10px 10px 60px 10px;
    background-color: white;
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    .tabbox {
        width: 100%;
        padding-bottom: 10px;
        background-color: white;
        border: none;
        border-radius: 0;
        justify-content: flex-start;
        .tabitem {
            padding-right: 10px;
            select {
                padding-top: 5px;
                width: 110px;
                height: 30px;
                line-height: 30px;
                border: 1px solid #999;
                border-radius: 2px;
            }
            .tabbtn {
                display: inline-block;
                padding: 0 14px;
                height: 30px;
                line-height: 28px;
                text-align: center;
                border: 1px solid #999;
                border-radius: 2px;
                background-color: #ccc;
                cursor: pointer;
            }
            .tabbtnactive {
                color: white;
                background: linear-gradient(to top, #c76401, #fba915);
                border: none;
            }
        }
        .tabitem:first-child {
            padding-right: 20px;
        }
    }
    .wenlu {
        width: 100%;
        padding-bottom: 20px;
        align-items: center;
        .wenlubtn {
            width: 44px;
            height: 98px;
            justify-content: center;
            align-items: center;
            background: url("../../images/wenlu.png") center no-repeat;
            background-size: cover;
            cursor: pointer;
        }
        .wtablebox {
            flex: 1;
            height: 98px;
            padding: 0;
            padding-left: 24px;
            .wtable {
                width: 100%;
                height: 98px;
                border: 1px solid #999;
                overflow: hidden;
                .iteminfo {
                    width: 30px;
                    height: 100%;
                    background-color: #333;
                    border-right: 1px solid #999;
                    font-size: 16px;
                    line-height: 40px;
                    color: white;
                    text-align: center;
                    padding-top: 6px;
                }
                .infosmall {
                    line-height: 28px;
                    padding-top: 6px;
                }
                .wrapbox {
                    position: relative;
                    height: 100%;
                    overflow: hidden;
                    align-self: flex-start;
                    .tablebox {
                        position: absolute;
                        top: 0;
                        left: 0;
                        cursor: move;
                        z-index: 99;
                        table {
                            table-layout: fixed;
                            border: none;
                            border-collapse: collapse;
                            td {
                                width: 16px;
                                height: 16px;
                                border: 1px solid #999;
                            }
                        }
                    }
                }
            }
        }
    }
}
