##ignore this file##
/node_modules/ 
/dll/ 
/font/ 
/build/ 
/.svn/

.classpath
.project
.settings      
*.7z  
*.dmg  
*.gz  
*.iso  
*.jar  
*.rar  
*.tar  
*.zip  
src/router/router.service.ts.bak
