.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

#layout {
    width: 100%;
    .chart {
        margin: 0 auto;
        #chartsTable {
            position: relative;
            display: table;
            table-layout: fixed;
            border-collapse: collapse;
            width: auto;
            tr {
                td {
                    border: 1px solid rgba(55, 55, 55, 0.3);
                    width: 20px;
                    height: 20px;
                    font-size: 12px;
                    text-align: center;
                }
                .td_bg1 {
                    background-color: rgb(216, 210, 210);
                    color: midnightblue;
                }
                .line {
                    width: 1px;
                    background-color: red;
                    border: none;
                    padding: 0;
                }
                .omissionbg {
                    background-color: rgba(93, 61, 134, 0.2);
                }
            }
            .thead {
                background-color: #e6e6e6;
                td {
                    border: 1px solid rgba(55, 55, 55, 0.3);
                }
            }
            #tdata {
                td {
                    color: rgba(55, 55, 55, 0.5);
                }
                .number {
                    color: black;
                }
                .cvs1.bgred,.cvs3.bgred,.cvs5.bgred,.cvs7.bgred,.cvs9.bgred, {
                    .span {
                        background-color: #2B9FF8;
                    }
                }
                .bgred {
                    .span {
                        display: block;
                        width: 16px;
                        height: 16px;
                        line-height: 16px;
                        font-size: 10px;
                        margin: auto auto;
                        background-color: red;
                        color: white;
                        border-radius: 50%;
                        z-index: 99;
                    }
                    .span2 {
                        background-color: #666;
                    }
                    .span.doubbg {
                        background-color: #9A019A;
                    }
                    .span.bgblue {
                        background-color: #2B9FF8;
                    }
                    .span.bgyellow {
                        background-color: #FF7206;
                    }
                    .span.bgred2 {
                        background-color: red;
                    }
                }
                
                tr:nth-child(5n).trborder {
                    border-bottom: 2px solid rgba(46, 45, 45, 0.5);
                }
                tr:nth-child(odd) .resultbg {
                    span {
                        background-color: #2B9FF8;
                    }
                }
                tr:nth-child(even) .resultbg {
                    span {
                        background-color: #FF7206;
                    }
                }
            }
            .canwrap {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
    }
}