<div class="flex-c container">
    <header>
        <app-header [username]="'test08'" [curpath]="'phone'"></app-header>
    </header>
    <main>
        <div class="flex-c  content">
            <div class="top"> 
                <img src="../images/mod3/phone_m3_font.png" alt="与时共进">
            </div>
            <p>移动端</p>
            <p>已经正式上线，我们的宗旨做行业的领航者</p>
            <div class="flex-r btngroup">
                <span class="flex-r andr">
                    <i></i>Android
                </span>
                <span class="flex-r opho">
                    <i></i>iphone
                </span>

            </div>

        </div>
    </main>
</div>

