        <div class="footer ">
            <div class="foot_box flex-r" >
                <div class="foot_c">
                    <div class="foot_c_cont">
                        <div class="top">
                            银行卡类型
                        </div>
                        <div class="bot bank_c">

                        </div>
                    </div>
                </div>
                <div class="foot_c">
                    <div class="foot_c_cont">
                        <div class="top">
                            新手帮助
                        </div>
                        <div class="bot  ">
                            <a href="">〉存款帮助</a>
                            <a href="">〉取款帮助</a>
                            <a href="">〉联系我们</a>
                            <a href="">〉常见问题</a>
                        </div>
                    </div>
                </div>
                <div class="foot_c">
                    <div class="foot_c_cont">
                        <div class="erweima">
                            <img src="../../images/head_top/erweima.png"  alt="">
                        </div>
                        <div class="app_til">
                            手机APP
                        </div>
                        <a class="app_bot" href="">

                            手机APP下载
                        </a>
                    </div>
                </div>
            </div>
            <div class="bot_right_call">我们星甶菲律宾政府NORTH CAGAYAN和CEZA所授权井拥有合法博彩牌照，并接受其机构监管，严格按照上述机构頒发的规则进行运营.Copyright 2015 HeYilottery, lnc All Rights Reserved.</div>
        </div>