<div class="flex-c container">
  <div class="flex-r querycontent">
    <span>时间：
      <select id="starttime" name="starttime" [(ngModel)]="querydata.starttime">
        <option value="全部" selected>全部</option>
        <option value="option1">option1</option>
        <option value="option2">option2</option>
        <option value="option3">option3</option>
      </select>
      至
      <select id="endtime" name="endtime" [(ngModel)]="querydata.endtime">
        <option value="全部" selected>全部</option>
        <option value="option1">option1</option>
        <option value="option2">option2</option>
        <option value="option3">option3</option>
      </select>
    </span>
    <span>彩种：

      <select id="caizhong" name="caizhong" [(ngModel)]="querydata.caizhong">
        <option value="全部" selected>全部</option>
        <option value="option1">option1</option>
        <option value="option2">option2</option>
        <option value="option3">option3</option>
      </select>
    </span>
    <span>玩法：

      <select id="playtype" name="playtype" [(ngModel)]="querydata.playtype">
        <option value="全部" selected>全部</option>
        <option value="option1">option1</option>
        <option value="option2">option2</option>
        <option value="option3">option3</option>
      </select>
    </span>
    <span>状态：

      <select id="status" name="status" [(ngModel)]="querydata.status">
        <option value="全部" selected>全部</option>
        <option value="option1">option1</option>
        <option value="option2">option2</option>
        <option value="option3">option3</option>
      </select>
    </span>
    <span class="flex-r">

      <input type="checkbox" id="wrap" name="wrap" [(ngModel)]="querydata.iswrap" />&nbsp;包含下级
    </span>
    <button class="querybtn">查&nbsp;询</button>
  </div>
  <div class=" flex-c tablebox">
    <div class="tablewrap">
      <table id="table" width="100%" border="1" cellspacing="0" cellpadding="4" bgcolor="#ccc" align="center">
        <tr class="">
          <th width="160px">追号编号</th>
          <th width="140px">追号时间</th>
          <th width="120px">用户</th>
          <th>彩种</th>
          <th>玩法</th>
          <th>追号内容</th>
          <th>追号期号</th>
          <th>总金额</th>
          <th>完成</th>
          <th>追号期数</th>
          <th>完成期数</th>
          <th>追号状态</th>
        </tr>
        <tr *ngFor="let item of goucaidata">
          <td>{{item.id?item.id:'&nbsp;'}}</td>
          <td>{{item.time}}</td>
          <td>{{item.user}}</td>
          <td>{{item.style}}</td>
          <td>{{item.playtype}}</td>
          <td>{{item.content}}</td>
          <td>{{item.issue}}</td>
          <td>{{item.money}}</td>
          <td>{{item.rebates}}</td>
          <td>{{item.bonus}}</td>
          <td>{{item.currentnumber}}</td>
          <td>{{item.state?'中奖':item.id?'未中奖':'&nbsp;'}}</td>
        </tr>
      </table>

    </div>

    <div class="page" shark-pager [currentPage]="pagination.page" [totalPage]="pagination.totalPage" [gopage]="pagination.gopage"
      [hl]="hl" [segmentSize]="pagination.segmentSize" [startFrom]="pagination.startFrom" (onPageChanged)="onPageChanged($event);">
    </div>

  </div>
</div>