* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.color_m {
    color: #C42136;
}

.container {
    width: 100%;
    min-width: 1200px;
    margin: 0;
    padding: 0;
    background: url("../images/mod3/bg_m3_01.png") center no-repeat;
    background-size: cover;
    align-content: center;
    background-color: red;
    ul,
    dl {
        list-style: none
    }
}

.usercontent {
    width: 1200px;
    margin-bottom: 40px;
    background-color: white;
    .sidebox {
        width: 230px;
        padding-bottom: 30px;
        border: none;
        background-color: #ECECF4;
        align-self: stretch;
        .userinfobox {
            padding-top: 30px;
            color: black;
            .userinfo {
                padding-bottom: 20px;
                i {
                    width: 74px;
                    height: 74px;
                    border-radius: 50%;
                    background-color: #111;
                }
            }
            dl {
                width: 230px;
                justify-content: center;
                font-size: 14px;
                padding: 0 20px;
                margin-bottom: 8px;
                td {
                    width: 50%;
                    text-align: right;
                }
                dd {
                    width: 50%;
                }
            }
            .btngroup {
                width: 100%;
                padding: 10px;
                justify-content: center;
                span {
                    height: 30px;
                    line-height: 28px;
                    text-align: center;
                    padding: 0 14px;
                    margin: 0 5px;
                    color: black;
                    border: none;
                    border-radius: 4px;
                    background: linear-gradient(to top, #d7d5d5, #fdfdfd);
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                }
                .active,
                span:hover {
                    color: white;
                    background: linear-gradient(to top, #941927, #e22137);
                }
            }
            .infofoot {
                justify-content: center;
                padding: 10px;
                .color_m{
                    padding-left:8px;
                    cursor: pointer;
                }
                i {
                    display: inline-block;
                    width: 8px;
                    height: 12px;
                    background: url('../images/mod3/usericon_md3_01.png') -10px -39px;
                    cursor: pointer;
                }
            }
        }
        
        .sidel {
            width: 100%;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            .flex-sr {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                align-items: center;
            }
            .flex-sc {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: space-between;
            }
            li {
                width: 100%;
                font-size: 14px;
                color: black;             
                .itembox {
                    font-size: 14px;
                    padding:0 10px;
                    cursor: pointer;
                    .borderb{
                        width: 100%;
                        height: 54px;
                        line-height: 54px;
                        .itemboxiconr {
                            width: 12px;
                            height: 8px;
                            // background: url('../images/mod2/nav01.png') -10px -38px;
                        }
                        .iconactive {
                            // background: url('../images/mod2/nav01.png') -10px -10px;
                        }
                        .sideicon {
                            width: 44px;
                            height: 44px;
                            // background: url('../images/mod2/caizhong.png');
                            background-position-x:-10px;
                            background-repeat: no-repeat;
                        }
                    }
                }
                .itembox:hover {
                    background-color:white;
                    .borderb{
                        border: none !important;
                    }
                }
                .item {
                    font-size: 14px;
                    height: 46px;
                    line-height: 44px;
                    padding:0 18px 0 30px;
                    border-top: 1px solid #D6D6D6;
                    background-color: white;
                    // border-left: 2px solid #eeeff0;
                    color: #333;
                    cursor: pointer;
                    i{
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        // background: url('../images/mod2/nav01.png') -10px -66px;
                        margin-right: 10px;
                    }
                }
                .itemactive,
                .item:hover {
                    // color: #b61010;
                    // border-left: 2px solid #b61010;
                    background-color: #E4E3E9;
                    i{
                        // background: url('../images/mod2/nav01.png') -10px -98px;
                    }
                }
                .boxactive {
                    color: white;
                    background-color: #b61010;
                    .borderb{
                        border: none !important;
                    }
                }
            }
            li:last-child .itembox .borderb{
                border-bottom: 1px dashed #dadada;
            }
            li:first-child .itembox .borderb{
                border-top: none;
            }
            li:first-child .itembox .borderb{
                border-top: none;
            }
        }
    }
}

//  =========
.content {
    width: 950px;
    min-height: 530px;
    justify-content: flex-start;
}

.contop {
    width: 100%;
    height: 140px;
    padding: 18px 30px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    justify-content: flex-start;
}

.contopl {
    width: 300px;
    height: 100%;
    border-right: 1px solid #ccc;
    justify-content: flex-start;
}

.contopl i {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #666;
}

.contopl div {
    padding-left: 22px;
    font-size: 18px;
    font-weight: bold;
}

.contopl div span {
    color: #fe8f00;
}

.contopr {
    height: 100%;
    align-items: flex-start;
    padding-left: 30px;
    font-size: 18px;
}

.cottitle span {
    color: #999;
    font-weight: bold;
}

.cotmid {
    width: 100%;
}

.cotmid span {
    padding-right: 10px;
}

.btn {
    display: inline-block;
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    font-size: 14px;
    color: #333;
    background-color: #ccc;
    border: 1px solid #999;
    border-radius: 2px;
    cursor: pointer;
}

.chongzhi,
.chongzhi:hover,
.tixian:hover {
    background-color: #fe8f00;
    border: 1px solid #c48c15;
    color: white;
    outline: none;
    box-shadow: none;
}

.btnb {
    width: 100px;
    height: 40px;
    line-height: 38px;
    font-size: 18px;
    text-align: center;
    padding-left: 15px;
    letter-spacing: 5px;
}

.cotmid span {
    font-size: 22px;
}

.cotmid small {
    font-size: 18px;
    font-weight: bold;
}

.cotmid strong {
    color: #fe8f00;
}

.cotinfo {
    font-size: 12px;
}

.crumbs {
    height: 66px;
    line-height: 66px;
    font-size: 14px;
}

.crumbs a {
    text-decoration: none;
    color: black;
    padding: 0 5px; //   cursor: pointer;
}

.crumbs span {
    padding: 0 10px;
    margin-left: 5px;
}

.tablecontent {
    width: 100%;
}