* {
    box-sizing: border-box;
}

ul,ol,dl {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.color_m {
    color: #C42136;
}

.container {
    position: relative;
    width: 100%;
    min-width: 1200px;
    margin: 0;
    padding: 0;
    align-content: center;
}
.container:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/mod3/bg_m3_01.png") center no-repeat;
    background-size: cover;
    z-index: -8;
}

.usercontent {
    width: 1200px;
    margin-bottom: 40px;
    background-color: white;
    .sidebox {
        width: 230px;
        min-height: 780px;
        padding-bottom: 30px;
        border: none;
        background-color: #ECECF4;
        align-self: stretch;
        .userinfobox {
            padding-top: 30px;
            color: black;
            .userinfo {
                padding-bottom: 20px;
                i {
                    width: 74px;
                    height: 74px;
                    border-radius: 50%;
                    background-color: #111;
                }
            }
            dl {
                width: 230px;
                justify-content: center;
                font-size: 14px;
                padding: 0 20px;
                margin-bottom: 8px;
                td {
                    width: 50%;
                    text-align: right;
                }
                dd {
                    width: 50%;
                }
            }
            .btngroup {
                width: 100%;
                padding: 10px;
                justify-content: center;
                span {
                    height: 30px;
                    line-height: 28px;
                    text-align: center;
                    padding: 0 14px;
                    margin: 0 5px;
                    color: black;
                    border: none;
                    border-radius: 4px;
                    background: linear-gradient(to top, #d7d5d5, #fdfdfd);
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                }
                .active,
                span:hover {
                    color: white;
                    background: linear-gradient(to top, #941927, #e22137);
                }
            }
            .infofoot {
                justify-content: center;
                padding: 10px;
                .color_m {
                    padding-left: 8px;
                    cursor: pointer;
                }
                i {
                    display: inline-block;
                    width: 8px;
                    height: 12px;
                    background: url('../images/mod3/usericon_md3_01.png') -10px -39px;
                    cursor: pointer;
                }
            }
        }
        .sidel {
            width: 100%;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;
            .flex-sr {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                align-items: center;
            }
            .flex-sc {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: space-between;
            }
            li {
                width: 100%;
                font-size: 14px;
                color: black;
                border-top: 1px solid #ECECF4;
                .itembox {
                    font-size: 14px;
                    padding: 0 10px;
                    cursor: pointer;
                    .borderb {
                        width: 100%;
                        height: 54px;
                        line-height: 54px;
                        padding-left: 40px;
                        .itemboxiconr {
                            width: 7px;
                            height: 14px;
                            background: url('../images/mod3/usernav_m3_01.png') -10px -138px;
                        }
                        .iconactive {
                            width: 14px;
                            height: 7px;
                            background-position-y: -10px;
                        }
                        .sideicon {
                            width: 13px;
                            height: 13px;
                            background: url('../images/mod3/usernav_m3_01.png');
                            background-position-x: -10px;
                            background-repeat: no-repeat;
                        }
                        .liconbox{
                            width: 30px;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                .itembox:hover {
                    background-color: white;
                }
                .item {
                    font-size: 14px;
                    height: 46px;
                    line-height: 44px;
                    padding: 0 18px 0 80px;
                    border-top: 1px solid #D6D6D6;
                    background-color: white;
                    color: #333;
                    cursor: pointer;
                    i {
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        margin-right: 10px;
                    }
                }
                .itemactive,
                .item:hover {
                    background-color: #E4E3E9;
                }
                .boxactive {
                    background-color: white;
                }
            }
        }
    }
}
.content {
    width: 970px;
    min-height: 530px;
    padding:0 0 30px 30px;
    color: black;
    justify-content: flex-start;
    align-self: flex-start;
    .crumbs {
        width: 100%;
        height: 50px;
        font-size: 14px;
        align-items: flex-end;
        border-bottom: 1px solid #909090;
        span {
            position: relative;
            line-height: 24px;
            padding: 0 4px;
        }
        .curitem:before {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 3px;
            border-radius: 1px;
            background-color: #CB1F32;
            z-index: 8;
        }
    }
    .tablecontent {
        width: 100%;
        margin-top: 20px;
        padding-right: 20px;
    }
        
    
}
