<div class="head_box">
  <div class="head">
      <div class="head_top">
          <div class="log_ico">
              
          </div>
          <div class="flex-r fl-r head_top_right" >
              <div class="accountbox" [ngClass]="{errbd:logindata.name.err}">
                  <label for="account_top"></label>
                  <input type="text"
                  name="name"
                  id="account_top"
                  placeholder={{now_lang.index.User_pho}}
                  [(ngModel)]="logindata.name.value"
                  (focus)="focus('name')" />
              </div>
              <div class="passbox" [ngClass]="{errbd:logindata.password.err}">
                  <label for="password_top"></label>
                  <input type="password"
                  name="password"
                  id="password_top"
                  placeholder={{now_lang.index.Password}}
                  [(ngModel)]="logindata.password.value"
                  (focus)="focus('password')" />
                  <span class="forgetbtn" (click)="linkrouter('/usercenter/security')">{{now_lang.index.Forget}}?</span>
              </div>
              <div class="secubox flex-r" [ngClass]="{errbd:logindata.security.err}">
                  <label for="security_top"></label>
                  <input type="text"
                  name="security"
                  id="security_top"
                  placeholder={{now_lang.index.Smscode}}
                  [(ngModel)]="logindata.security.value"
                  (focus)="focus('security')"security
                  />
                  <span class="secuimg" style='text-align:center'>uyes</span>
              </div>
              <div class="btngroup flex-r">
                  <div class="btn_loding" (click)="onsubmit()">
                      <span>{{now_lang.index.Login}}</span>
                  </div>
                  <a href="#/register" class="btn_reg">
                      <span>{{now_lang.index.Regist}}</span>
                  </a>
              </div>
              <div class="flex-r topnav">
                  <span>{{now_lang.Top_nav.Agent_login}}</span>|
                  <span>{{now_lang.Top_nav.Phone_stake}}</span>
                  <language></language>
              </div>
          </div>
      </div>
      <div class="head_mid">
          <div class="flex-r topnav head_mid_right fl-r">
              <span *ngFor="let item of navdatal; let i=index"  class='top_nav_item' [ngClass]="{'navhover': item.isover,'production_li':i == 1}"
              (mouseenter)="navmouseenter(i,'left')" (mouseleave)="navmouseleave(i,'left')" (click)="linkrouter(item.link)">{{item.text}}</span>
              <span *ngFor="let item of navdatar; let i=index"  class='top_nav_item' [ngClass]="{'navhover': item.isover}"
              (mouseenter)="navmouseenter(i,'right')" (mouseleave)="navmouseleave(i,'right')">{{item.text}}</span>
          </div>
      </div>

  </div>
  <div class="hid_top">
      <div class="hid_box flex-r">
          <div class="child_box flex-r">
              <div class="child_col">
                  <div class="top_til">
                      官方玩法
                  </div>

                  <div class="cont_box">
                      <ul class="flex-r-l-w czbox">
                          <li   class="" *ngFor="let child of cpdata; let i=index" >
                              <ng-container *ngIf="i<=29">
                                  <span  (click)="linkrouter(child.linko)" class="flex-c item">
                                      <span class="flex-r imgbox" >
                                              <img src="{{child.src}}" alt="child.name"
                                              >
                                      </span>
                                      <span class="info flex-r">{{child.name}}</span>

                                  </span>
                              </ng-container>
                          </li>
                      </ul>
                  </div>
                  
              </div>

          </div>
          <div class="child_box flex-r">
              <div class="child_col">
                  <div class="top_til">
                      信用玩法
                  </div>

                  <div class="cont_box">
                      <ul class="flex-r-l-w czbox">
                          <li   class="" *ngFor="let child of cpdata; let i=index" >
                              <ng-container *ngIf="i<=29">
                                  <span   (click)="linkrouter(child.linkc)" class="flex-c item">
                                      <span class="flex-r imgbox" >
                                              <img src="{{child.src}}" alt="child.name"
                                             >
                                      </span>
                                      <span class="info flex-r">{{child.name}}</span>

                                  </span>
                              </ng-container>
                          </li>
                      </ul>
                  </div>
                  
              </div>

          </div>

      </div>

  
  </div>
</div>
