* {
    box-sizing: border-box;
}

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.color_y {
    color: #C42136;
}

.bankbox {
    width: 100%;
    padding: 10px 30px;
    justify-content: flex-start;
}

.bankhead {
    width: 100%;
    height: 44px;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}

.bankhead p {
    padding-left: 16px;
    font-size: 10px;
}
.addbtn{
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    padding: 0 14px;
    margin: 5px 30px;
    color: white;
    border-radius: 4px;
    background: linear-gradient(to top, #941927, #e22137);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

.bankcontent {
    position: relative;
    padding: 15px 0;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.itmdel {
    font-size: 20px;
    cursor: pointer;
}

.itmdel:hover {
    color: #C42136;
}



.tablebox {
    width: 100%;
    padding: 10px 0 0;
}

.tablewrap {
    width: 100%;
}

#table {
    table-layout: fixed;
    border-collapse: collapse;
}

#table th {
    font-size: 14px;
    font-weight: bold;
}

#table th,
#table td {
    text-align: center;
    height: 40px;
}

#table td {
    border-bottom: 1px solid #ccc;
}

#table tr:nth-child(even) {
    background-color: #FBFBFB;
}

.bg_1 {
    background-color: #ECECF4;
}




#addcontent {
    position: fixed;
    top: -96px;
    left: 180px;
    width: 500px;
    height: 520px;
    font-size: 14px;
    color: #333;
    background-color: white;
    box-shadow: 0 0 0px 5px rgba(50, 50, 50, .6);
    justify-content: flex-start;
    align-items: flex-start;
    transform: scale(.6);
    transition: transform .1s linear;
    z-index: 99;
    .addgead {
        width: 100%;
        height: 50px;
        line-height: 48px;
        text-align: center;
        padding: 20px;
        color: black;
        border-bottom: 1px solid #ccc;
        span {
            width: 450px;
            font-size: 18px;
            text-align: center;
        }
        i {
            height: 50px;
            color: black;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .addform {
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 10px 0;
        .formitem {
            height: 50px;
            justify-content: flex-start;
            label {
                width: 160px;
                text-align: right;
                padding-right: 5px;
            }
            input {
                width: 240px;
                height: 32px;
                line-height: 30px;
                padding-left: 8px;
            }
            input[name="check"] {
                width: 16px;
                height: 16px;
            }
            input#note {
                width: 130px;
            }
            .note{
                width: 240px;
            }
            .check {
                width: 240px;
                font-size: 12px;
                justify-content: flex-start;
                p {
                    padding-left: 5px;
                }
            }
            .getnote{
                width: 90px;
                height: 30px;
                line-height: 28px;
                border: 1px solid #ccc;
                border-radius: 3px;
                text-align: center;
                cursor: pointer;
            }
            .getnote:hover {
                color: white;
                background-color: #C42136;
            }
        }
        
        .btngroup {
            width: 100%;
            padding: 10px;
            justify-content: center;
            span {
                height: 30px;
                line-height: 28px;
                text-align: center;
                padding: 0 20px;
                margin: 0 10px;
                color: black;
                border: none;
                border-radius: 4px;
                background: linear-gradient(to top, #d7d5d5, #fdfdfd);
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                cursor: pointer;
            }
            .active,
            span:hover {
                color: white;
                background: linear-gradient(to top, #941927, #e22137);
            }
        }
    }
}
#addcontent.scale{
    transform: scale(1);
}

.shade {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(154, 154, 154, 0.5);
    z-index: 19;
}