* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
}

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.color_y {
  color: #fe8f00;
}
.sscbox {
    width: 100%;
    min-width: 1200px;
    font-size: 14px;
}

.ssccontain {
    width: 100%;
    align-self: center;
    background: #111 url(../../images/bg_02.jpg) center no-repeat;
    background-size: cover;
}

.contaner {
    width: 1200px;
    align-self: center;
    padding-top: 30px;
}

.mainbox {
    padding: 20px 0;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    .contentbox {
        width: 900px;
        border-radius: 5px;
        background-color: #3d3d3d;
        align-self: stretch;
        overflow: hidden;
        .tabbox {
            width: 100%;
            height: 50px;
            padding: 0 20px;
            color: white;
            justify-content: space-between;
            background-color: #333;
            .topl {
                i {
                    width: 30px;
                    height: 28px;
                    background: url("../../images/vrc01.png") -10px -282px;
                    background-repeat: no-repeat;
                }
                strong {
                    font-size: 18px;
                    padding-left: 10px;
                }
            }
            .topr {
                font-size: 14px;
                .play {
                    i {
                        width: 8px;
                        height: 17px;
                        background: url("../../images/vrc01.png") -10px -45px;
                        background-repeat: no-repeat;
                    }
                    span {
                        padding-left: 10px;
                        padding-top: 4px;
                        cursor: pointer;
                    }
                }
                .operate {
                    padding-left: 20px;
                    i {
                        width: 13px;
                        height: 17px;
                        background: url("../../images/vrc01.png") -10px -82px;
                        background-repeat: no-repeat;
                    }
                    span {
                        padding-left: 10px;
                        padding-top: 4px;
                        cursor: pointer;
                    }
                }
            }
        }
        .media{
            width: 100%;
            padding:20px;
            border-bottom: 1px solid #111;
            justify-content: space-between;
            .mediabox{
                width:425px;
                height: 360px;
                background-color: white;
                border-radius: 6px;
                overflow: hidden;
            }
            .videobox{
                .head{
                    width: 100%;
                    height: 40px;
                    padding: 0 15px;
                    font-size: 14px;
                    justify-content: space-between;
                    .onoff{
                        width: 98px;
                        height: 20px;
                        padding: 1px;
                        border-radius: 2px;
                        background-color: #fe8f00;
                        height: 20px;
                        
                        span{
                            width:48px;
                            height: 18px;
                            line-height: 18px;
                            text-align: center;
                            p{
                                display: inline-block;
                                width:100%;
                                height: 100%;
                                background-color: white;
                                cursor: pointer;
                            }
                            
                        }
                    }
                }
                .vcontent{
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    justify-content: center;
                    i{
                        width: 40px;
                        height: 40px;
                        background: 
                        url('../../images/vrc01.png') -10px -330px;
                        cursor: pointer;
                    }

                }
            }

        }
        .playbox{
            width:100%;
            padding:30px 0 20px;
            // align-content: center;
            align-items: center;
            .desk{
                position: relative;
                width:860px;
                height: 400px;
                background:url("../../images/vrc/bjl_10.png");
                justify-content: flex-end;
                align-content: center;
                align-items: center;
                .add{
                    width: 220px;
                    height: 144px;
                    padding-top: 10px;
                    font-size: 14px;
                    text-align: center;
                    font-weight: bold;
                    strong{
                        font-size: 16px;
                    }
                }

            
                .deskbg{
                    position: absolute;
                    top: 50px;
                    left: 60px;
                    width:740px;
                    height: 286px;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    // background-color: red;
                    border-radius: 143px;
                    overflow: hidden;
                    z-index: 222;
                    .deskplay{
                        justify-content: center;

                        .betball{
                            padding: 10px;
                            justify-content: center;
                            align-self: flex-end;
                            .betval{
                                width: 68px;
                                height: 68px;
                                font-size: 14px;
                                font-weight: bold;
                                color:#fe8f00;
                                background: url('../../images/vac02.png') -10px -890px;
                                justify-content: center;
                            }
                        }
                        .betinfo{
                            width:70px;
                            height: 84px;
                            align-self: flex-start;
                            align-items: center;
                            justify-content: center;
                            span{
                                line-height: 38px;
                                font-size: 24px;
                            }
                        }
                        .acinfo{
                            height: 140PX;
                        }

                    }
                    .play0{
                        width: 220px;
                        height: 142PX;
                        cursor: pointer;
                    }
                    .play0_bg,.play0:hover{
                        background:url("../../images/vrc/bjl_11.png");
                    }
                    .play1{
                        width: 298px;
                        height: 84PX;
                        cursor: pointer;
                    }
                    .play1_bg,.play1:hover{
                        background:url("../../images/vrc/bjl_12.png");
                    }
                    .play2{
                        width: 222px;
                        height: 142PX;
                        cursor: pointer;
                    }
                    .play2_bg,.play2:hover{
                        background:url("../../images/vrc/bjl_13.png");
                    }
                    .play3{
                        width: 245px;
                        height: 144PX;
                        cursor: pointer;
                    }
                    .play3_bg,.play3:hover{
                        background:url("../../images/vrc/bjl_14.png");
                    }
                    .play4{
                        width: 247px;
                        height: 144PX;
                        cursor: pointer;
                    }
                    .play4_bg,.play4:hover{
                        background:url("../../images/vrc/bjl_15.png");
                    }

                }
                .deskball{
                    position: absolute;
                    top: 135px;
                    left:200px;
                    width: 458px;
                    height: 120px;
                    border-radius: 60px;
                    justify-content: center;
                    
                    z-index: 333;
                    .ballbox{
                        padding: 5px;
                        .ball{
                            width: 68px;
                            height: 68px;
                            background: url('../../images/vac02.png') -10px -10px;
                            cursor: pointer;
                        }
                    }
                }

            }
            .butgroup{
                width:100%;
                padding: 20px;
                justify-content: center;
                span{
                    width: 130px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: white;
                    font-size: 18px;
                    margin: 0 120px;
                    border-radius: 4px;
                    background-color: #fe8f00;
                    box-shadow: 0 1px 2px 1px rgba(30,30,30,.5);
                    cursor: pointer;
                }
            }
        }
    }
}
