

.bg-公告_小喇叭 {
    width: 18px; height: 18px;
    background: url('../../images/mod3/icon_m3_01.png') -10px -99px;
}
.bg-下拉 {
    width: 9px; height: 5px;
    background: url('../../images/mod3/icon_m3_01.png') -10px -10px;
}
.bg-消息 {
    width: 14px; height: 12px;
    background: url('../../images/mod3/icon_m3_01.png') -10px -35px;
}
.bg-用户 {
    width: 12px; height: 12px;
    background: url('../../images/mod3/icon_m3_01.png') -10px -67px;
}
.bg-投注排行 {
    width: 33px; height: 33px;
    background: url('../../images/mod3/icon_m3_01.png') -10px -137px;
}
.bg-3D_未选中 {
    width: 64px; height: 60px;
    background: url('../../images/mod3/cplogo_m3_01.png') -10px -89px;
}
.bg-3D_选中 {
    width: 65px; height: 62px;
    background: url('../../images/mod3/cplogo_m3_01.png') -10px -410px;
}
.bg-快乐8_未选中 {
    width: 81px; height: 61px;
    background: url('../../images/mod3/cplogo_m3_01.png') -10px -329px;
}
.bg-快乐8_选中 {
    width: 77px; height: 62px;
    background: url('../../images/mod3/cplogo_m3_01.png') -10px -492px;
}
.bg-幸运28_未选中 {
    width: 60px; height: 60px;
    background: url('../../images/mod3/cplogo_m3_01.png') -10px -169px;
}
.bg-幸运28_选中 {
    width: 66px; height: 66px;
    background: url('../../images/mod3/cplogo_m3_01.png') -10px -740px;
}
.bg-重庆时时彩_未选中 {
    width: 78px; height: 63px;
    background: url('../../images/mod3/cplogo_m3_01.png') -10px -574px;
}
.bg-重庆时时彩_选中 {
    width: 78px; height: 63px;
    background: url('../../images/mod3/cplogo_m3_01.png') -10px -657px;
}
.bg-北京PK10_未选中 {
    width: 86px; height: 59px;
    background: url('../../images/mod3/cplogo_m3_01.png') -10px -10px;
}
.bg-北京pk10_选中 {
    width: 85px; height: 60px;
    background: url('../../images/mod3/cplogo_m3_01.png') -10px -249px;
}
.bg-提升 {
    width: 8px; height: 12px;
    background: url('../../images/mod3/usericon_md3_01.png') -10px -39px;
}
.bg-必填 {
    width: 7px; height: 9px;
    background: url('../../images/mod3/usericon_md3_01.png') -10px -10px;
}
.bg-提款密码 {
    width: 14px; height: 14px;
    background: url('../../images/mod3/usericon_md3_01.png') -10px -71px;
}
.bg-手机号码_1_ {
    width: 14px; height: 14px;
    background: url('../../images/mod3/usericon_md3_01.png') -10px -105px;
}
.bg-登录密码 {
    width: 12px; height: 14px;
    background: url('../../images/mod3/usericon_md3_01.png') -10px -139px;
}
.bg-密保问题 {
    width: 12px; height: 14px;
    background: url('../../images/mod3/usericon_md3_01.png') -10px -173px;
}.bg-账户管理 {
    width: 14px; height: 14px;
    background: url('../../images/mod3/usernav_m3_01.png') -10px -70px;
}
.bg-投注记录 {
    width: 15px; height: 17px;
    background: url('../../images/mod3/usernav_m3_01.png') -10px -314px;
}
.bg-报表管理 {
    width: 15px; height: 15px;
    background: url('../../images/mod3/usernav_m3_01.png') -10px -172px;
}
.bg-代理管理 {
    width: 13px; height: 13px;
    background: url('../../images/mod3/usernav_m3_01.png') -10px -37px;
}
.bg-短信公告 {
    width: 14px; height: 16px;
    background: url('../../images/mod3/usernav_m3_01.png') -10px -242px;
}
.bg-安全中心 {
    width: 13px; height: 15px;
    background: url('../../images/mod3/usernav_m3_01.png') -10px -207px;
}
.bg-彩种信息 {
    width: 14px; height: 14px;
    background: url('../../images/mod3/usernav_m3_01.png') -10px -104px;
}
.bg-彩种限额 {
    width: 23px; height: 16px;
    background: url('../../images/mod3/usernav_m3_01.png') -10px -278px;
}
.bg-向下 {
    width: 14px; height: 7px;
    background: url('../../images/mod3/usernav_m3_01.png') -10px -10px;
}
.bg-向右 {
    width: 7px; height: 14px;
    background: url('../../images/mod3/usernav_m3_01.png') -10px -138px;
}
.bg-银行卡 {
    width: 23px; height: 19px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -212px;
}
.bg-微信 {
    width: 18px; height: 18px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -174px;
}
.bg-支付宝 {
    width: 20px; height: 20px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -290px;
}
.bg-QQ钱包支付 {
    width: 17px; height: 20px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -330px;
}
.bg-京东钱包快捷支付 {
    width: 20px; height: 20px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -370px;
}

.bg-网银 {
    width: 26px; height: 23px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -452px;
}
.bg-ATM {
    width: 24px; height: 13px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -106px;
}
.bg-柜台 {
    width: 15px; height: 15px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -139px;
}
.bg-手机_1_ {
    width: 14px; height: 22px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -410px;
}
.bg-中国银行 {
    width: 12px; height: 12px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -10px;
}

.bg-中国建设银行 {
    width: 12px; height: 12px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -42px;
}
.bg-工商银行 {
    width: 12px; height: 12px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -74px;
}

.bg-在线支付 {
    width: 19px; height: 19px;
    background: url('../../images/mod3/userbank_m3_01.png') -10px -251px;
}