<div class="container">
  <app-header></app-header>
  <div class="contain">

    <div class="main">
      <form id="reform" class="reform flex-c rel">
        <div class="errbox" *ngIf="errtip">
          <app-errtip [message]="errtip"></app-errtip>
        </div>
        <div class="head">
          <span>用户登录</span>
        </div>
        <div calss="account">
          <div class="flex-r reform-item trans-bg" [ngClass]="{'errborder': inborder.account}">
            <label for="account">
              <i class="account-icon"></i>
            </label>
            <input class="reform-item-in" type="text" placeholder="账号只能有3-15位是熟悉和字母组成" [(ngModel)]="formdata.account" name="account"
              id="account" (blur)="validator('account')" (keyup.enter)="validator('account')">
          </div>
        </div>
        <div calss="password">
          <div class="flex-r reform-item trans-bg" [ngClass]="{'errborder': inborder.password1}">
            <label for="password1">
              <i class="password-icon"></i>
            </label>
            <input class="reform-item-in" id="password1" type="password" placeholder="密码长度有6-13个数字和字母组成" [(ngModel)]="formdata.password1"
              name="password" (blur)="validator('password1')" (keyup.enter)="validator('password1')">
          </div>
        </div>

        <div>
          <button class="sub-btn" (click)="onsubmit()">立即注册</button>
        </div>
        <div class="linktip color-white">
          <a class="color-white" href="#/login">我要登录</a> &nbsp;|&nbsp;
          <a class="color-white" href="javascript:;">联系客服</a>
        </div>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>

