<div class=".flex-c securitybox">
  <div class = "flex-r securityhead">
    <span>安全等级</span>
    <span class="color_y">75分</span>
    <span style="padding-left: 10px;">
      <div class="pipe">
        <div class="pipetop"></div>
      </div>
    </span>
    <small>存在<i class="color_y">1</i> 项风险</small>
  </div>
  <div class="flex-r securityitem">
    <div class="flex-r">
      <i class="securityicon1"></i>
      <div class="flex-c securityinfo">
        <span>账号密码</span>
        <p>用于保护账号信息和登陆安全</p>
      </div>
    </div>
    <button class="xiugaibtn">修改</button>
  </div>
  <div class="flex-r securityitem">
    <div class="flex-r">
      <i class="securityicon1"></i>
      <div class="flex-c securityinfo">
        <span>提款密码</span>
        <p>在线取款时需要输入取款密码才能进行取款，请牢记！</p>
      </div>
    </div>
    <button class="xiugaibtn">修改</button>
  </div>
  <div class="flex-r securityitem">
    <div class="flex-r">
      <i class="securityicon1"></i>
      <div class="flex-c securityinfo">
        <span>手机绑定</span>
        <p>绑定手机可增加账号安全级别，可重置密码或其他安全验证</p>
      </div>
    </div>
    <button class="xiugaibtn">修改</button>
  </div>
  <div class="flex-r securityitem">
    <div class="flex-r">
      <i class="securityicon1"></i>
      <div class="flex-c securityinfo">
        <span>密保问题</span>
        <p class="color_y">密保问题用于安全验证，建议立即设置</p>
      </div>
    </div>
    <button class="xiugaibtn">修改</button>
  </div>
  <div class ="securityhead" style="height:60px; padding-top:20px;">
    <span>登陆历史</span>
  </div>
  <div class="histinfo">
    <p >以下为您最近<span class="color_y">1</span>次登录记录，若存在异常情况，请在核实后尽快 <span class="color_y">修改密码</span> </p>
  </div>
  <div class="tablewrap">
      <table id="table" width="100%" border="1" cellspacing="0" cellpadding="4" bgcolor="#ccc" align="center">
        <tr class="bg_1">
          <th>时间</th>
          <th>地点</th>
          <th>IP地址</th>
          <th>浏览器</th>
          <th>登陆方式</th>
        </tr>
        <tr class="bg_2">
          <td>2018-05-28  10:25:36</td>
          <td>美国-San Mateo</td>
          <td>47.52.61.232</td>
          <td>360安全浏览器</td>
          <td>账号密码登录</td>
        </tr>
      </table>
    </div>
  
  

</div>
