<div class="flex-c sscbox" [hidden]="!loadpage">
    <div class="flex-c pccontain">
        <div class="contaner">
            <app-credtop [type]="'pk10'" [indata]="cpnav"></app-credtop>
            <div class="flex-r mainbox">
                <div class="flex-c contentbox">
                    <div class="flex-r tabbox">
                        <div class="flex-r tabcontent">
                            <span *ngFor="let item of typedata" [ngClass]="{tabactive:this.type == item.id}" (click)="togtype(item.id)">{{item.name}}</span>
                        </div>
                    </div>
                    <div class="flex-r selctbox">
                        <span class="flex-r">
                            <strong>$</strong>
                            <span class="flex-r rangebox">
                                <span class="showvalue" *ngIf="type===7">0%</span>
                                <ng-container *ngIf="!(type===7)" >
                                    <span class="showvalue">{{(odds-rangevalue)| number : '1.0-1'}}%</span>

                                    <span class="icon" (click)="rangevaluelessen()">-</span>
                                    <span class="flex-r range">
                                        <input type="range" name="points" min="0" max="{{odds}}" step="{{rastep}}" id="points" [(ngModel)]="rangevalue">
                                    </span>
                                    <span class="icon" (click)="rangevalueadd()">+</span>
                                </ng-container>
                            </span>
                        </span>
                        <span class="flex-r btngroup">
                            <button [ngClass]="{btnactive:selectbtnvalue === 0}" (click)="tabclick(0)" [hidden]="type===7 ||type===10 ||type===11 ||type===12">一般</button>
                            <button [ngClass]="{btnactive:selectbtnvalue === 1}" (click)="tabclick(1)" [hidden]="type===7 ||type===10 ||type===11 ||type===12">快捷</button>
                            <button class="kuxuan" (click)="tabclick(2)">快选金额</button>
                        </span>
                    </div>
                    <div class="flex-c mycontaion">

                        <!-- 特码 -->
                        <div class="flex-c content content1" *ngIf="type === 1">
                            <div class="flex-r conmain">
                                <div class="flex-c conmainbox" *ngFor="let item of contenttoptitle;">
                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">号码</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3" *ngIf="inputshow">金额</span>
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="flex-c conmain" style="height: 400px;">
                                <div class="flex-c conmainbox" *ngFor="let item of dpcdata1.data1; let i=index">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 " *ngIf="item.numb !== null">
                                            <i [ngClass]="{bgred: item.red , bgblue: item.blue, bggreen: item.green }">{{item.numb}}</i>
                                        </span>
                                        <span class="item2 color_y" *ngIf="item.numb !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow && item.numb !== null">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoney1focus($event, 1,'data1', i,null)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-r conmain">
                                <div class="flex-c conmainbox" *ngFor="let item of dpcdata1.data2; let i=index">
                                    <span class="flex-r itembox" *ngFor="let child of item; let q=index">
                                        <span class="item1" *ngIf="child.name!==null">
                                            {{child.name}}
                                        </span>
                                        <span class="item2 color_y" *ngIf="child.name!==null">{{(child.point+(child.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="child.value" (focus)="inmoney1focus($event, 1,'data2', i, q)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()" *ngIf="child.name!==null">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- 色波 -->
                        <div class="flex-c content content1" *ngIf="type === 2">
                            <div class="flex-r conmain">
                                <div class="flex-c conmainbox conmainbox1">
                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">项目</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3" *ngIf="inputshow">金额</span>
                                        </span>
                                        <span class="flex-r item4box">号码</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-c conmain">
                                <div class="flex-r conmainbox conmainbox1" *ngFor="let item of dpcdata2.data1; let i=index">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 " *ngIf="item.name !== null">
                                            {{item.name}}
                                        </span>
                                        <span class="item2 color_y" *ngIf="item.name !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow && item.name !== null">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoney1focus($event, 2,'data1', i, null)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                    <span class="flex-r item4box">
                                        <i *ngFor="let child of item.data" [ngClass]="{bgred: child.red , bgblue: child.blue, bggreen: child.green }">{{child.numb}}</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- 特肖 -->
                        <div class="flex-c content content1" *ngIf="type === 3">
                            <div class="flex-r conmain">
                                <div class="flex-r conmainbox conmainbox2">
                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">生肖</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3" *ngIf="inputshow">金额</span>
                                        </span>
                                        <span class="flex-r item4box">号码</span>
                                    </div>
                                </div>
                                <div class="flex-r conmainbox conmainbox2">

                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">生肖</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3" *ngIf="inputshow">金额</span>
                                        </span>
                                        <span class="flex-r item4box">号码</span>

                                    </div>
                                </div>
                            </div>
                            <div class="flex-r conmain">
                                <div class="flex-r conmainbox conmainbox2" *ngFor="let item of dpcdata3.data1; let i=index">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 " *ngIf="item.name !== null">
                                            {{item.name}}
                                        </span>
                                        <span class="item2 color_y" *ngIf="item.name !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow && item.name !== null">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoney1focus($event, 3,'data1', i, null)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                    <span class="flex-r item4box">
                                        <i *ngFor="let child of item.data" [ngClass]="{bgred: child.red , bgblue: child.blue, bggreen: child.green }">{{child.numb}}</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- 正码 -->
                        <div class="flex-c content content1" *ngIf="type === 4">
                            <div class="flex-r conmain">
                                <div class="flex-c conmainbox" *ngFor="let item of contenttoptitle;">

                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">号码</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3" *ngIf="inputshow">金额</span>
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="flex-c conmain" style="height: 400px;">
                                <div class="flex-c conmainbox" *ngFor="let item of dpcdata4.data1; let i=index">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 " *ngIf="item.numb !== null">
                                            <i [ngClass]="{bgred: item.red , bgblue: item.blue, bggreen: item.green }">{{item.numb}}</i>
                                        </span>
                                        <span class="item2 color_y" *ngIf="item.numb !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow && item.numb !== null">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoney1focus($event, 4,'data1', i,null)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- 正特 -->
                        <div class="flex-c content content1" *ngIf="type === 5">
                            <div class="flex-r electbox">
                                <span class="flex-r btngroup">
                                    <button *ngFor="let item of optionsdata.zhengte; let i=index" class="active" [ngClass]="{active: optionsdata.zhengteactive === i}"
                                        (click)="zhengteclick(i)">{{item}}</button>
                                </span>

                            </div>
                            <div class="flex-r conmain">
                                <div class="flex-c conmainbox" *ngFor="let item of contenttoptitle;">

                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">号码</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3" *ngIf="inputshow">金额</span>
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="flex-c conmain" style="height: 400px;">
                                <div class="flex-c conmainbox" *ngFor="let item of dpcdata5.data1; let i=index">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 " *ngIf="item.numb !== null">
                                            <i [ngClass]="{bgred: item.red , bgblue: item.blue, bggreen: item.green }">{{item.numb}}</i>
                                        </span>
                                        <span class="item2 color_y" *ngIf="item.numb !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow && item.numb !== null">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoney1focus($event, 5,'data1', i,null)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- 正码1-6 -->
                        <div class="flex-c content content1" *ngIf="type === 6">
                            <div class="flex-r conmain">
                                <div class="flex-c conmainbox conmainbox3" *ngFor="let item of dpcdata6; let i=index">
                                    <div class="flex-r contenttop contenttop1">
                                        <span class="flex-r itembox">
                                            {{item.title}}
                                        </span>
                                    </div>
                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">号码</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3" *ngIf="inputshow">金额</span>
                                        </span>

                                    </div>
                                    <span class="flex-r itembox" *ngFor="let child of item.data1; let q=index">
                                        <span class="item1" *ngIf="child.name!==null">
                                            {{child.name}}
                                        </span>
                                        <span class="item2 color_y" *ngIf="child.name!==null">{{(child.point+(child.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="child.value" (focus)="inmoney1focus($event, 6,'data1', i, q)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()" *ngIf="child.name!==null">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- 连码 -->
                        <div class="flex-c content content1" *ngIf="type === 7">
                            <div class="flex-r electbox">
                                <span class="flex-r btngroup">
                                    <button *ngFor="let item of optionsdata.lianma; let i=index" [ngClass]="{active: optionsdata.lianmaactive === i}" (click)="lianmaclick(i,1)">{{item}}</button>
                                </span>

                            </div>
                            <ng-container *ngIf="optionsdata.lianmaactive < 2" >
                                <div class="flex-r conmain">
                                    <div class="flex-c conmainbox" *ngFor="let item of contenttoptitle;">
    
                                        <div class="flex-r contenttop">
                                            <span class="flex-r itembox">
                                                <span class="item1">号码</span>
                                                <span class="item2">赔率</span>
                                                <span class="item3" *ngIf="inputshow">勾选</span>
                                            </span>
    
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-c conmain" style="height: 400px;">
                                    <div class="flex-c conmainbox" *ngFor="let item of dpcdata7.data1; let i=index">
                                        <span class="flex-r itembox">
                                            <span class="flex-r item1 " *ngIf="item.numb !== null">
                                                <i [ngClass]="{bgred: item.red , bgblue: item.blue, bggreen: item.green }">{{item.numb}}</i>
                                            </span>
                                            <span class="item2 color_y" *ngIf="item.numb !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                            <span class="flex-r item3" *ngIf="item.numb !== null">
                                                <input type="checkbox" name="check" [(ngModel)]="item.checked" (change)="chechange(i,1)" [disabled]="item.disabled"/>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                            </ng-container>
                            <ng-container *ngIf="optionsdata.lianmaactive === 2 || optionsdata.lianmaactive === 4">
                                    <div class="flex-r conmain">
                                        <div class="flex-r conmainbox conmainbox2">
                                            <div class="flex-r contenttop">
                                                <span class="flex-r itembox">
                                                    <span class="item1">生肖</span>
                                                    <span class="item2">赔率</span>
                                                    <span class="item3">勾选</span>
                                                </span>
                                                <span class="flex-r item4box">号码</span>
                                            </div>
                                        </div>
                                        <div class="flex-r conmainbox conmainbox2">
        
                                            <div class="flex-r contenttop">
                                                <span class="flex-r itembox">
                                                    <span class="item1">生肖</span>
                                                    <span class="item2">赔率</span>
                                                    <span class="item3">勾选</span>
                                                </span>
                                                <span class="flex-r item4box">号码</span>
        
                                            </div>
                                        </div>
                                    </div>
                                        <div class="flex-r conmain">
                                            <div class="flex-r conmainbox conmainbox2" *ngFor="let item of dpcdata7.data2; let i=index">
                                                <span class="flex-r itembox">
                                                    <span class="flex-r item1 " *ngIf="item.name !== null">
                                                        {{item.name}}
                                                    </span>
                                                    <span class="item2 color_y" *ngIf="item.name !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                                    <span class="item3">
                                                        <input type="checkbox" name="check" [(ngModel)]="item.checked" [disabled]="item.disabled" (change)="chechange(i,2)" />
                                                    </span>
                                                </span>
                                                <span class="flex-r item4box">
                                                    <i *ngFor="let child of item.data" [ngClass]="{bgred: child.red , bgblue: child.blue, bggreen: child.green }">{{child.numb}}</i>
                                                </span>
                                            </div>
                                        </div>

                            </ng-container>
                            <ng-container *ngIf="optionsdata.lianmaactive === 3 || optionsdata.lianmaactive === 4">
                                <div class="flex-r conmain">
                                        <div class="flex-r conmainbox conmainbox2">
                                            <div class="flex-r contenttop">
                                                <span class="flex-r itembox">
                                                    <span class="item1">尾数</span>
                                                    <span class="item2">赔率</span>
                                                    <span class="item3">勾选</span>
                                                </span>
                                                <span class="flex-r item4box">号码</span>
                                            </div>
                                        </div>
                                        <div class="flex-r conmainbox conmainbox2">
        
                                            <div class="flex-r contenttop">
                                                <span class="flex-r itembox">
                                                    <span class="item1">尾数</span>
                                                    <span class="item2">赔率</span>
                                                    <span class="item3">勾选</span>
                                                </span>
                                                <span class="flex-r item4box">号码</span>
        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-r conmain">
                                        <div class="flex-r conmainbox conmainbox2" *ngFor="let item of dpcdata7.data3; let i=index">
                                            <span class="flex-r itembox">
                                                <span class="flex-r item1 " *ngIf="item.name !== null">
                                                    {{item.name}}
                                                </span>
                                                <span class="item2 color_y" *ngIf="item.name !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                                <span class="item3">
                                                        <input type="checkbox" name="check" [(ngModel)]="item.checked" [disabled]="item.disabled" (change)="chechange(i,3)" />
                                                </span>
                                            </span>
                                            <span class="flex-r item4box">
                                                <i *ngFor="let child of item.data" [ngClass]="{bgred: child.red , bgblue: child.blue, bggreen: child.green }">{{child.numb}}</i>
                                            </span>
                                        </div>
                                    </div>
                            </ng-container>
                            <div class="flex-r electbox">
                                <span class="flex-r btngroup">
                                    <span>类别</span>
                                    <button *ngFor="let item of optionsdata.lianmastyle; let i=index" [ngClass]="{active: optionsdata.lianmastactive === i}"
                                        (click)="lianmaclick(i,0)">{{item}}</button>
                                </span>

                            </div>
                        </div>
                        <!-- 一肖 -->
                        <div class="flex-c content content1" *ngIf="type === 8">
                            <div class="flex-r conmain">
                                <div class="flex-r conmainbox conmainbox2">
                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">生肖</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3" *ngIf="inputshow">金额</span>
                                        </span>
                                        <span class="flex-r item4box">号码</span>
                                    </div>
                                </div>
                                <div class="flex-r conmainbox conmainbox2">

                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">生肖</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3" *ngIf="inputshow">金额</span>
                                        </span>
                                        <span class="flex-r item4box">号码</span>

                                    </div>
                                </div>
                            </div>
                            <div class="flex-r conmain">
                                <div class="flex-r conmainbox conmainbox2" *ngFor="let item of dpcdata8.data1; let i=index">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 " *ngIf="item.name !== null">
                                            {{item.name}}
                                        </span>
                                        <span class="item2 color_y" *ngIf="item.name !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow && item.name !== null">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoney1focus($event, 8,'data1', i, null)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                    <span class="flex-r item4box">
                                        <i *ngFor="let child of item.data" [ngClass]="{bgred: child.red , bgblue: child.blue, bggreen: child.green }">{{child.numb}}</i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- 尾数 -->
                        <div class="flex-c content content1" *ngIf="type === 9">
                            <div class="flex-r conmain">
                                <div class="flex-r conmainbox conmainbox2">
                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">尾数</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3" *ngIf="inputshow">金额</span>
                                        </span>
                                        <span class="flex-r item4box">号码</span>
                                    </div>
                                </div>
                                <div class="flex-r conmainbox conmainbox2">

                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">尾数</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3" *ngIf="inputshow">金额</span>
                                        </span>
                                        <span class="flex-r item4box">号码</span>

                                    </div>
                                </div>
                            </div>
                            <div class="flex-r conmain">
                                <div class="flex-r conmainbox conmainbox2" *ngFor="let item of dpcdata9.data1; let i=index">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 " *ngIf="item.name !== null">
                                            {{item.name}}
                                        </span>
                                        <span class="item2 color_y" *ngIf="item.name !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow && item.name !== null">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoney1focus($event, 9,'data1', i, null)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                    <span class="flex-r item4box">
                                        <i *ngFor="let child of item.data" [ngClass]="{bgred: child.red , bgblue: child.blue, bggreen: child.green }">{{child.numb}}</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- 合肖 -->
                        <div class="flex-c content content1" *ngIf="type === 10">
                            <div class="flex-r electbox">
                                <span class="flex-r btngroup">
                                    <button *ngFor="let item of optionsdata.hexiao1; let i=index" [ngClass]="{active: radvalue==='合肖六肖 - 中' || radvalue==='合肖六肖 - 不中'}" (click)="hexiaoclick(i,1)">{{item}}</button>
                                    <button *ngFor="let item of optionsdata.hexiao2; let i=index" [ngClass]="{active: optionsdata.hexiaoactive === i}" (click)="hexiaoclick(i,2)">{{item}}</button>
                                </span>

                            </div>
                            <div class="flex-r conmain">
                                <div class="flex-r conmainbox conmainbox4">
                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">生肖</span>
                                            <span class="item2">号码</span>
                                            <span class="item3">勾选</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-r conmainbox conmainbox4">

                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">生肖</span>
                                            <span class="item2">号码</span>
                                            <span class="item3">勾选</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-r conmain">
                                <div class="flex-r conmainbox conmainbox4" *ngFor="let item of dpcdata10.data1; let i=index">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 " *ngIf="item.name !== null">
                                            {{item.name}}
                                        </span>
                                        <span class="item2">
                                            <i *ngFor="let child of item.data" [ngClass]="{bgred: child.red , bgblue: child.blue, bggreen: child.green }">{{child.numb}}</i>
                                        </span>
                                        <span class="item3">
                                            <input type="checkbox" name="check" [(ngModel)]="item.checked" [disabled]="item.disabled" (change)="chechange(i,1)" />
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-r conmain3">
                                <div class="itemwrap2" *ngFor="let item of data10_1;let i=index">
                                    <div class="flex-c itembox2">
                                        <span class="item1">
                                            {{item.title}}
                                        </span>
                                        <span class="flex-c item2">
                                            <span class="flex-r item2info">
                                                <span class="flex-r">
                                                    <input type="radio" name="hexiao" [(ngModel)]="radvalue" value="{{item.value1}}" (change)="radchange(i,1)">
                                                    <label>中</label>
                                                </span>
                                                <span class="item2 color_y">{{(item.point1+(item.step1*rangevalue))| number : '1.0-3'}} </span>
                                            </span>
                                            <span class="flex-r item2info">
                                                <span class="flex-r">
                                                    <input type="radio" name="hexiao" [(ngModel)]="radvalue" value="{{item.value2}}" (change)="radchange(i,2)">
                                                    <label>不中</label>
                                                </span>
                                                <span class="item2 color_y">{{(item.point2+(item.step2*rangevalue))| number : '1.0-3'}} </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- 自选不中 -->
                        <div class="flex-c content content1" *ngIf="type === 11">
                            <div class="flex-r conmain">
                                <div class="flex-c conmainbox" *ngFor="let item of contenttoptitle;">

                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">号码</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3" *ngIf="inputshow">勾选</span>
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="flex-c conmain" style="height: 400px;">
                                <div class="flex-c conmainbox" *ngFor="let item of dpcdata11.data1; let i=index">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 " *ngIf="item.numb !== null">
                                            <i [ngClass]="{bgred: item.red , bgblue: item.blue, bggreen: item.green }">{{item.numb}}</i>
                                        </span>
                                        <span class="item2 color_y" *ngIf="item.numb !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="flex-r item3" *ngIf="item.numb !== null">
                                            <input type="checkbox" name="check" [(ngModel)]="item.checked" [disabled]="item.disabled" (change)="chechange(i,1)" />
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-r electbox">
                                <span class="flex-r btngroup">
                                    <button *ngFor="let item of optionsdata.zixuanno; let i=index" [ngClass]="{active: optionsdata.zixuactive === i}" (click)="zixuanclick(i)">{{item}}</button>
                                </span>

                            </div>
                        </div>

                        <!-- 连肖 -->
                        <div class="flex-c content content1" *ngIf="type === 12">
                            <div class="flex-r electbox">
                                <span class="flex-r btngroup">
                                    <button *ngFor="let item of optionsdata.lianxiao; let i=index" [ngClass]="{active: optionsdata.lianxiaoactive === i}" (click)="lianxiaoclick(i,1)">{{item}}</button>
                                </span>

                            </div>
                            <div class="flex-r conmain">
                                <div class="flex-r conmainbox conmainbox2">
                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">生肖</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3">勾选</span>
                                        </span>
                                        <span class="flex-r item4box">号码</span>
                                    </div>
                                </div>
                                <div class="flex-r conmainbox conmainbox2">

                                    <div class="flex-r contenttop">
                                        <span class="flex-r itembox">
                                            <span class="item1">生肖</span>
                                            <span class="item2">赔率</span>
                                            <span class="item3">勾选</span>
                                        </span>
                                        <span class="flex-r item4box">号码</span>

                                    </div>
                                </div>
                            </div>
                            <div class="flex-r conmain">
                                <div class="flex-r conmainbox conmainbox2" *ngFor="let item of dpcdata12.data1; let i=index">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 " *ngIf="item.name !== null">
                                            {{item.name}}
                                        </span>
                                        <span class="item2 color_y" *ngIf="item.name !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3">
                                            <input type="checkbox" name="check" [(ngModel)]="item.checked" [disabled]="item.disabled" (change)="chechange(i,1)" />
                                        </span>
                                    </span>
                                    <span class="flex-r item4box">
                                        <i *ngFor="let child of item.data" [ngClass]="{bgred: child.red , bgblue: child.blue, bggreen: child.green }">{{child.numb}}</i>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-r electbox">
                                <span class="flex-r btngroup">
                                    <button *ngFor="let item of optionsdata.lianxiaostyle; let i=index" [ngClass]="{active: optionsdata.lianxiaostactive === i}"
                                        (click)="lianxiaoclick(i,0)">{{item}}</button>
                                </span>

                            </div>
                        </div>

                        <!-- // 龙虎斗 -->
                        <div class="flex-c content" *ngIf="type === 13">
                            <div class="flex-r conmain2">
                                <div class="itemwrap2" *ngFor="let item of dpcdata13;let i=index">
                                    <div class="flex-c itembox2">
                                        <span class="item1">
                                            {{item.title}}
                                        </span>
                                        <span class="flex-r item2">
                                            <span class="flex-r item2info" [ngClass]="{togstyle2:!inputshow}">
                                                <span class="color_r">龙</span>
                                                <span class="color_y">{{(item.value1.point+(item.value1.step*rangevalue))| number : '1.0-3'}}</span>
                                            </span>
                                            <span class="flex-r item2info" [ngClass]="{togstyle2:!inputshow}">
                                                <span class="color_b">虎</span>
                                                <span class="color_y">{{(item.value2.point+(item.value2.step*rangevalue))| number : '1.0-3'}}</span>
                                            </span>
                                        </span>
                                        <span class="flex-r item3" *ngIf="inputshow">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value1.value" (focus)="inmoney2focus($event,i,'value1')"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value2.value" (focus)="inmoney2focus($event,i,'value2')"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 按钮 -->
                        <div class="flex-r subbox">
                            <span class="flex-r btngroup">
                                <span *ngIf="allinput" class="jine">金额</span>
                                <span *ngIf="!inputshow || allinput">
                                    <input type="text" maxlength="9" class="inmoney" id="allinmoney" name="allinmoney" [(ngModel)]="setallmoney.value" value=""
                                        (focus)="inmoneyfocus($event,'all')" (blur)="inmoneyblur()" (change)="allchange()" (keyup)="changereg()">
                                </span>
                                <button class="btnactive" (click)="sub()">确定</button>
                                <button class="resetbtn" (click)="reset()">取消</button>
                            </span>

                        </div>



                        <!-- 快速投注 -->
                        <div class="flex-c kuaitou" *ngIf="type === 1||type === 4||type === 5" >
                            <div class="flex-c content">
                                <div class="flex-r top">
                                    <span [ngClass]="{active: kuaitoutab === 0}" (click)="kuaitoutab=0"> 快速投注 </span>
                                    <span [ngClass]="{active: kuaitoutab === 1}" (click)="kuaitoutab=1">键盘下注</span>
                                </div>
                                <div class="flex-r main" *ngIf="kuaitoutab===0" >
                                    <div class="flex-r optionbox optionbox1">
                                        <ul class="flex-r infobox">
                                            <li class="flex-r" *ngFor="let item of kuaitoudata.data1;let i=index" [ngClass]="{active:item.checked}" (click)="ktclick('data1',i)">{{item.numb}}</li>
                                        </ul>

                                    </div>
                                    <div class="flex-r optionbox optionbox2">
                                        <div class="flex-r optionbox optionbox2">
                                            <ul class="flex-r infobox">
                                                <li class="flex-r" *ngFor="let item of kuaitoudata.data2;let i=index" [ngClass]="{active:item.checked}" (click)="ktclick('data2',i)">{{item.name}}</li>
                                            </ul>
                                        </div>
                                        <div class="flex-r optionbox optionbox3">
                                            <ul class="flex-r infobox">
                                                <li class="flex-r" *ngFor="let item of kuaitoudata.data3;let i=index" [ngClass]="{active:item.checked}" (click)="ktclick('data3',i)">{{item.name}}</li>
                                            </ul>
                                        </div>
                                        <div class="flex-r optionbox optionbox4">

                                            <ul class="flex-r infobox allbox">
                                                <li class="flex-r" [ngClass]="{active:kuaitoudata.data4.checked}"  (click)="ktclick('data4',0)">全选</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="flex-c btngroup">
                                        <span class="flex-c inputbox">
                                            <input type="text" maxlength="9" class="inmoney" placeholder="下注金额" name="allinmoney" [(ngModel)]="kuaitoudata.value" value=""
                                                (focus)="inmoneyfocus($event,'kuaitou')" (blur)="inmoneyblur()" (change)="allchange()"
                                                (keyup)="changereg()">
                                        </span>
                                        <span class="btnactive" (click)="ktclick('rest', 0)">清空选号</span>
                                        <span class="btnactive" (click)="ktsub()">确定投注</span>


                                    </div>

                                </div>
                                <div class="ktfoot" *ngIf="kuaitoutab===0">
                                    <div class="resutbox">
                                        <p>{{kuaitoudata.ktstr}}</p>
                                    </div>
                                </div>
                                <div class="flex-c jianpan" *ngIf="kuaitoutab===1">
                                    <p>输入下单文字</p>
                                    <div class="flex-r main">
                                        <textarea name="jiantou" id="jiantou" cols="180" rows="6" [(ngModel)]="kuaitoudata.jiantoustr"></textarea>
                                        <div class="flex-c btngroup">
                                                <span class="btnactive" (click)="kuaitoudata.jiantoustr ='' ">清空</span>
                                                <span class="btnactive" (click)="jiansub()">确定</span>
        
                                            </div>
                                    </div>
                                    <p>格式：号码=金额，以空格分开每一笔
                                            例如：【3=188 26=280】 代表特码3号188元 特码26号280元</p>
                                </div>
                            </div>


                        </div>

                        <!-- 活动选择框 -->
                        <div id="selectbox" [ngStyle]="{'top': boxposition.y, 'left': boxposition.x}" *ngIf="boxshow && boxvalid">
                            <div class="flex-c selectwrap">
                                <i></i>
                                <span class="option" *ngFor="let item of selmoeny" (mousedown)="optinclick(item)">{{item}}元</span>
                            </div>
                        </div>
                        <!-- 底部问路-->
                        <!-- <div *ngIf="type!==3">
                            <app-wenlu></app-wenlu>
                        </div> -->
                        <!-- 快选金额 -->
                        <div class="setbox" *ngIf="popup.setnumb.show" [style.left.px]= "popup.setnumb.left" [style.top.px]= "popup.setnumb.top">
                            <div class="flex-c content" [ngClass]="{scale:popup.setnumb.scale}">
                                <div class="flex-r top" (mousedown)="popmousedown($event,'setnumb')" (mouseleave)="popmouseup($event,'setnumb')" (mouseup)="popmouseup($event,'setnumb')" (mousemove)="popmousmove($event,'setnumb')">
                                    <span>快选金额</span>
                                    <i (click)="close()"> &times; </i>
                                </div>
                                <div class="flex-c main">
                                    <p>注意： </p>
                                    <p>设置只保存在您的电脑，清空浏览器缓存或 更换电脑会显示默认值。</p>
                                    <div class="flex-c setinput">

                                        <span class="flex-r item" *ngFor="let item of popup.setnumb.data; let i=index">
                                            <input type="text" name="setinput" maxlength="9" [(ngModel)]="popup.setnumb.data[i].value" (keyup)="changeregset(i)">
                                            <span (click)="setnumbdel(i)">删除</span>
                                        </span>
                                        <span class="flex-r item">
                                            <input type="text" name="setinput" maxlength="9" [(ngModel)]="popup.setnumb.value" (keyup)="changeregset(-1)">
                                            <span (click)="addnumb()">增加</span>
                                            <span (click)="numbdel()">删除</span>
                                        </span>

                                    </div>
                                    <div class="flex-r btnbox">
                                        <span class="btn1" (click)="setboxvalid()">{{boxvalid?'禁用':'开启'}}</span>
                                        <span class="btn2" (click)="savenum()">保存</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 提示信息窗口 -->
                        <div id="notebox" *ngIf="popup.note.show" [style.left.px]= "popup.note.left" [style.top.px]= "popup.note.top">
                            <div class="flex-c content" [ngClass]="{scale:popup.note.scale}" >
                                <div class="flex-r top" (mousedown)="popmousedown($event,'note')" (mouseleave)="popmouseup($event,'note')" (mouseup)="popmouseup($event,'note')" (mousemove)="popmousmove($event,'note')">
                                    <span>操作信息</span>
                                    <i (click)="close()"> &times; </i>
                                </div>
                                <div class="flex-r note">
                                    <p>{{popup.note.messsage}}</p>

                                </div>

                                <div class="flex-r foot">
                                    <span (click)="close()">确定</span>
                                </div>
                            </div>
                        </div>
                        <!-- 提交窗口 -->
                        <div class="subpopup" *ngIf="popup.sub.show" [style.left.px]= "popup.sub.left" [style.top.px]= "popup.sub.top">
                            <div class="flex-c content" [ngClass]="{scale:popup.sub.scale}">
                                <div class="flex-r top" (mousedown)="popmousedown($event,'sub')" (mouseleave)="popmouseup($event,'sub')" (mouseup)="popmouseup($event,'sub')" (mousemove)="popmousmove($event,'sub')">
                                    <span>投注信息</span>
                                    <i (click)="close()"> &times; </i>
                                </div>
                                <div class="flex-c thead">
                                    <table id="table" width="100%" border="0" cellspacing="0" cellpadding="4"   align="center">
                                        <tr class="bg_1">
                                            <th style="width: 40px;">序号</th>
                                            <th style="width: 140px;">频道</th>
                                            <th style="width: 140px;">玩法</th>
                                            <th style="width: 100px;">期号</th>
                                            <th style="width: 80px;">球号</th>
                                            <th style="width: 60px;">号码</th>
                                            <th style="width: 80px;">赔率</th>
                                            <th style="padding-right: 18px;">金额</th>
                                        </tr>
                                    </table>
                                </div>
                                <div class="flex-c tablewrap">
                                    <table id="table" width="100%" border="0" cellspacing="0" cellpadding="4"   align="center">
                                        <tbody>
                                            <tr *ngFor="let item of subdata; let i=index">
                                                <td style="width: 40px;">{{ i + 1 }}</td>
                                                <td style="width: 140px;">{{item.channel}}</td>
                                                <td style="width: 140px;">{{item.type}}</td>
                                                <td style="width: 100px;">{{item.id}}</td>
                                                <td style="width: 80px;">{{item.ball}}</td>
                                                <td style="width: 60px;">{{item.number}}</td>
                                                <td style="width: 80px;">{{item.point}}</td>
                                                <td>{{item.money}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <span class="flex-r foot">共<strong>{{subdata.length}}</strong>注，总计投注金额
                                    <strong>{{submoney}}</strong> 元
                                </span>
                                <div class="flex-r subbox">
                                    <span class="flex-r btngroup">
                                        <button class="btnactive" (click)="submit()">提交</button>
                                        <button class="resetbtn" (click)="close()">取消</button>
                                    </span>
        
                                </div>
                            </div>
                        </div>
                        <!-- 遮罩层 -->
                        <div class="shade" [style.width.px]="popup.shade.w" [style.height.px]="popup.shade.h" *ngIf="popup.shade.show"></div>

                    </div>

                </div>
                <!-- 右边信息区内容 -->
                <app-sider></app-sider>
            </div>
        </div>
    </div>