
.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
input {
  outline: none;
  color: white;
  border: none;
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

#contain {
    background: url("../images/index-bg_02.jpg");
    height: 720px;
}
#header{

    background: url("../images/index-bg_01.jpg");
    height: 530px;
}

#header {
  background: url("../images/index-bg_01.jpg") center no-repeat;
  height: 530px;
}
#contain {
  background: url("../images/index-bg_02.jpg") center no-repeat;
  height: 720px;
  border-bottom: none;
}
#header,
#contain {
  position: relative;
  width: 100%;
  min-width: 1200px;
  background-size: cover;
  border-bottom: 1px solid #44230f;
}
.head {
  width: 1200px;
  margin: 0 auto;
  height: 530px;
}
.sidenavl span,
.sidenavr span {
  display: block;
  width: 90px;
  height: 104px;
  text-align: center;
  padding-top: 60px;
  color: white;
}
.sidenavl span {
  background: url("../images/nav_01.png");
}
.sidenavr span {
  background: url("../images/nav_02.png");
}
.sidenavl span.navhover {
  color: #f6f743;
  background: url("../images/nav-hove_01.png");
  cursor: pointer;
}
.sidenavr span.navhover {
  color: #f6f743;
  background: url("../images/nav-hove_02.png");
  cursor: pointer;
}

.headmid {
  height: 100%;
  justify-content: flex-start;
}
.langgroup {
  width: 81px;
  height: 16px;
  padding-left: 5px;
}
.topnav {
  text-align: center;
  height: 56px;
  padding-top: 42px;
  color: white;
}
.topnav i {
  width: 22px;
  height: 16px;
  background: url("../images/langs.png") -24px 0 no-repeat;
  cursor: pointer;
}
.topnav span {
  padding: 0 5px;
}
.topnav span:hover {
  color: #f6f743;
  cursor: pointer;
}
.topimg {
  width: 192px;
  height: 350px;
  margin: 0 auto;
  padding-top: 55px;
}
.headformbox {
  position: absolute;
  width: 100%;
  left: 0;
  top: 473px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.headformbg {
  width: 820px;
  height: 57px;
  margin: 0 auto;
  background: url(../images/zh-bg_02.png) no-repeat;
  padding:0 90px;
}
.accountbox , .passbox , .secubox{
    width: 150px;
    height: 30px;
    border: 1px solid #555555;
    border-radius: 3px;
    background-color:#1C1C1C;
}
.secubox{
    width: 120px;
    padding-right: 4px;
}
#account, #password, #security{
    width: 140px;
    height: 28px;
    line-height: 28px;
    background-origin: none;
    background-color:rgba(75, 77, 104, 0) ;
}
#password{
    width: 96px;
}
#security{
    width: 68px;
}
.forgetbtn{
    display: inline-block;
    width:  40px;
    font-size: 14px;
    text-align: center;
    background-color: #363636;
    border: none;
    border-radius: 2px;
    color: #999999;
}
.secuimg{
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: white;
    border: none;
    border-radius: 2px;
}
.btn_loding, .btn_reg,.btn_demo{
    height: 36px;
    line-height: 32px;
    text-align: center;
    color: white;
    background: url(../images/loding.png);
    cursor: pointer;
}
.btn_loding{
    width:56px;
    background-position: 0 0;
}
.btn_reg{
    width:56px;
    background-position: -56px 0;
}
.btn_demo{
    width:86px;
    background-position: -112px 0;
}
.accountbox,
.passbox,
.secubox {
  width: 150px;
  height: 30px;
  border: 1px solid #555555;
  border-radius: 3px;
  background-color: #1c1c1c;
}
.secubox {
  width: 120px;
  padding-right: 4px;
}
#account,
#password,
#security {
  width: 140px;
  height: 28px;
  line-height: 28px;
  background-origin: none;
  background-color: rgba(75, 77, 104, 0);
}
#password {
  width: 96px;
}
#security {
  width: 68px;
}
.forgetbtn {
  display: inline-block;
  width: 40px;
  font-size: 14px;
  text-align: center;
  background-color: #363636;
  border: none;
  border-radius: 2px;
  color: #999999;
}
.secuimg {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: white;
  border: none;
  border-radius: 2px;
}
.btn_loding,
.btn_reg,
.btn_demo {
  height: 36px;
  line-height: 32px;
  text-align: center;
  color: white;
  background: url(../images/loding.png);
  cursor: pointer;
}
.btn_loding {
  width: 56px;
  background-position: 0 0;
}
.btn_reg {
  width: 56px;
  background-position: -56px 0;
}
.btn_demo {
  width: 86px;
  background-position: -112px 0;
}
// 中间区域

.cont {
  width: 1200px;
  margin: 0 auto;
  align-content: flex-start;
  align-items: flex-start;
}
.tableactive {
  background-color: #f55c00;
}
.md-top {
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 2px 2px #121212;
  border-left: 2px solid #121212;
  border-right: 2px solid #121212;
}
.md-tab {
  width: 100%;
  height: 50px;
  justify-content: space-between;
  background-color: #232323;
}
.md-tab span {
  width: 160px;
  height: 50px;
  color: white;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.md-new {
  width: 100px;
  text-align: right;
  font-size: 12px;
  color: #f55c00;
  justify-content: flex-end;
}
.md-new i {
  display: inline-block;
  width: 30px;
  height: 18px;
  background: url("../images/index_1.png") -181px -10px;
}
.marq {
  flex: 1;
  color: #cccccc;
  font-size: 12px;
  padding-right: 10px;
}
// tab 切换内容
.hot,
.phonedown,
.special {
  width: 1200px;
  height: 618px;
}
.phonedown,
.special {
  border: 2px solid #121212;
  border-top: none;
}
.special-content {
  width: 100%;
  height: 610px;
  padding: 0 15px;
}
.special-box {
  height: 520px;
  justify-content: space-between;
}
.phonedown {
  background: url("../images/app-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.md-ball {
  width: 100%;
  height: 160px;
  padding: 0 15px;
  box-shadow: 0 4px 2px 2px #121212;
  border: 2px solid #121212;
  border-top: none;
  background-color: #161616;
}
.l-icon i,
.r-icon i {
  width: 21px;
  height: 42px;
  cursor: pointer;
}
.l-icon i {
  background: url("../images/index_1.png") -10px -115px;
}
.r-icon i {
  background: url("../images/index_1.png") -140px -10px;
}
.ball-box {
  height: 100px;
  width: 1080px;
  padding: 0 35px;
  position: relative;
  overflow: hidden;
}
.ball {
  width: 92px;
  height: 104px;
  background: url("../images/index_2.png");
  position: absolute;
  top: 0;
}
.md-content {
  width: 100%;
  height: 450px;
  border: 1px solid #424242;
  align-self: flex-end;
  box-shadow: 0 0 4px 2px #121212;
  background-color: #161616;
  padding: 18px 14px;
  align-items: flex-start;
}
.hot-card {
  width: 286px;
  height: 396px;
  background-color: #464646;
}
.hot-card-info {
  padding-top: 25px;
  height: 116px;
  color: #fbfbfb;
  align-items: center;
  font-size: 12px;
}
.card-head {
  width: 100%;
  font-size: 18px;
  padding: 0 46px;
}
.card-head i {
  width: 14px;
  height: 14px;
  background: url("../images/index_1.png") -181px -48px;
}
.card-btn {
  width: 90px;
  height: 28px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #fbfbfb;
  cursor: pointer;
}
.card-btn:hover {
  color: #faae30;
  border-color: #faae30;
}
.paihang-card {
  padding: 14px;
}
.tab_btn {
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 4px;
  background-color: #121212;
  color: white;
  overflow: hidden;
}
.tab_btn span {
  display: block;
  width: 50%;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  float: left;
}
.info-text {
  width: 220px;
  padding: 0 10px;
}
.info_tr {
  widows: 100%;
  height: 30px;
  line-height: 24px;
  padding: 0 10px 3px;
  color: white;
  font-size: 12px;
  border-bottom: 1px solid white;
}
.info_tr i {
  width: 25px;
  height: 26px;
  background: url("../images/index_1.png") -96px -115px;
  align-self: center;
  transform: scale(0.7, 0.7);
}
.font12 {
  font-size: 12px;
}
.font14 {
  font-size: 14px;
}
