@charset "UTF-8";
html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.body {
    background: url(../images/mod3/bg_m3_01.png) center no-repeat;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    .zhezhao {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
    }
}

.loginmod {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -205px;
    margin-top: -210px;
    overflow: hidden;
    z-index: 10;
    -webkit-animation: cloud_two 0.1s linear;
    -moz-animation: cloud_two 0.1s linear;
    -o-animation: cloud_two 0.1s linear;
    animation: cloud_two 0.1s linear;
}

.loginmod .logo {
    text-align: center;
    margin: 30px auto;
}

.dialog_login {
    position: relative;
    width: 410px;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: #221b29;
    border-radius: 8px;
}

.form {
    width: 100%;
    position: relative;
}

.logincon {
    position: relative;
    margin-top: 30px;
    padding: 0px;
}

.form .form-group {
    width: 290px;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    text-align: center;
}

.form .form-group .control-label {
    position: absolute;
    font-size: 14px;
    color: #fff;
    z-index: 1;
}

.form .form-group .input {
    position: relative;
    float: left;
    font-size: 14px;
    width: 100%;
}

input::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
}

input::-moz-placeholder {
    color: #999;
    font-size: 14px;
}

input::-ms-input-placeholder {
    color: #999;
    font-size: 14px;
}

.form .form-group .input .form-control {
    display: block;
    width: 290px;
    height: 38px;
    line-height: 34px;
    padding: 0 20px;
    color: #FAFFFA;
    border: 1px solid #473e51;
    border-radius: 4px;
    float: left;
    background-color: #161521;
    outline: none;
    font-size: 14px;
}

.form .form-group .input .code {
    width: 180px;
}

.form .form-group .input .codebtnfil {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    display: none;
}

.form .form-group .input .codebtn:hover {
    background: #1e1e1f;
    background-size: cover;
}

.form .errtip {
    position: absolute;
    top: -26px;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.form .errtip .alltip {
    display: inline-block;
    width: 290px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    text-align: left;
    word-break: break-word;
    margin: 0 auto;
    background-color: white;
    color: #6C6C6C;
    padding-left: 5px;
    border-radius: 2px;
}

.form .red {
    color: red;
}

.form .green {
    color: #329824;
}

.btnsubmit {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 0px 50px;
}

.btnsubmit .btntitle {
    display: inline-block;
    width: 290px;
    height: 38px;
    line-height: 34px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    background: linear-gradient(to top, #941927, #e22137);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.btnsubmit .forget {
    display: inline-block;
    width: 290px;
    line-height: 30px;
    font-size: 14px;
    color: #999;
    text-align: left;
    margin-top: 5px;
}

.btnsubmit .forget a {
    color: #c9333a;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.btnsubmit .forget .aleft {
    color: #D29217;
    float: left;
}

.btnsubmit .forget .aright {
    color: #fff;
    float: right;
}

.form-group .input .tx_code {
    display: block;
    width: 100px;
    height: 38px;
    line-height: 50px;
    color: #8c8c8c;
    border: 1px solid #473e51;
    border-radius: 4px;
    float: right;
    background-color: #161521;
    outline: none;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

.form-group .input .tx_code .yzmcode {
    width: 70px;
    height: 30px;
    float: left;
}

input:-webkit-autofill {
    background-color: #FAFFBD;
    background-image: none;
    color: #000;
}