*{
    box-sizing: border-box;
}
.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.bg_1 {
    background-color: #ECECF4;
}

.mycontainer {
    width: 100%;
    padding: 0;
    align-content: flex-start;
    align-items: flex-start;
}

.formbox {
    width: 100%;
    min-height: 200px;
    padding: 10px 0 20px;
}

.formitem {
    height: 50px;
    padding-top: 20px;
    justify-content: flex-start;
}

.formitem label {
    width: 150px;
    height: 30px;
    line-height: 28px;
    text-align: right;
}

.formitem select,
.formitem input {
    width: 240px;
    height: 30px;
    line-height: 28px;
    padding-left: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radiobox {
    padding-left: 84px;
}

.radiobox label {
    width: auto;
}

.radiobox input[type="radio"] {
    width: 16px;
    height: 16px;
    margin: 0 4px 0 10px;
}

.groupbox {
    width: 200px;
    height: 30px;
    line-height: 28px;
}

.groupbox span {
    width: 50%;
    height: 30px;
    text-align: center;
    background: linear-gradient(to top, #d7d5d5, #fdfdfd);
    cursor: pointer;
}

.groupbox span.bg_y, .bg_y {
    color: white;
    background: linear-gradient(to top, #941927, #e22137);
}

.subbox {
    padding: 20px 0 0 84px;
    height: 171px;
}

.btn {
    display: inline-block;
    width: 120px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    margin: 10px 30px;
    color: white;
    border-radius: 4px;
    background: linear-gradient(to top, #941927, #e22137);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

#other {
    width: 150px;
    height: 30px;
    line-height: 28px;
}