
  .language_btn_box {
    height: 35px;
    min-width: 80px!important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: around;
    align-items: center;
    padding: 0!important;
  }
  .language_btn {
    height: 100%;
    width: 33%;
    cursor:pointer;
    background-color: #fff;
  }
  .chinese {
    background: url(../../static/language/img/lan1.png) center center no-repeat;
  }
  .english {
    background: url(../../static/language/img/lan2.png) center center no-repeat;
  }
  .japanese {
    background: url(../../static/language/img/lan3.png) center center no-repeat;
  }
/* 上部导航结束 */