* {
    box-sizing: border-box;
}

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}

.container {
    width: 100%;
    min-width: 1200px;
    align-items: center;
}

.contentbox {
    width: 100%;

    .midimg {
        position: relative;
        width: 100%;
        height: 600px;
        background: url("../images/mod5/index_m5_01.png") top center no-repeat;
        background-size: cover;
        align-items: center;
        padding-top: 50px;
        margin-bottom: 300px;
        .content{
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -300px;
            justify-content: center;
            // overflow: hidden;
            // z-index: 666;
            .contwrap{
                height: 600px;
                box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, .3);
                .cont_l{
                    width: 700px;
                    flex: 0 0 700px;
                    height: 100%;
                    overflow: hidden;
                    justify-content: space-between;
                    .top{
                        width: 100%;
                        height: 200px;
                        flex: 1;
                        background-color: red;
                    }
                    .active{
                        width: 100%;
                        height: 400px;
                        background: url("../images/mod5/index_m5_03.png") center no-repeat;
                        background-size: cover;
                    }
                }
                .cont_r{
                    width: 500px;
                    flex: 0 0 500px;
                    height: 100%;
                    overflow: hidden;
                    .top{
                        width: 100%;
                        height: 200px;
                        flex: 0 0 200px;
                        font-size: 14px;
                        color: white;
                        background-color: #9D1A28;
                        .toplink{
                            width: 100%;
                            padding: 10px 10px 0;
                            border-bottom: 1px solid #E1B4B8;
                            justify-content: space-between;
    
                            a {
                                text-decoration: none;
                                color: white;
                                margin: 0 6px;
                                font-size: 14px;
                                line-height: 30px;
                                cursor: pointer;
                            }
                            i {
                                // margin-top: -2px;
                            }
                            
                        }
    
                    }
                    .infowrap{
                        width: 100%;
                        height: 600px;
                        flex:  0 0 600px;
                        background-color: white;
    
                    }
                    
                }
            }

        }
    }


    .cpsite {
        width: 100%;
        align-items: center;

        .sitetitle {
            font-size: 22px;
            line-height: 50px;
        }

        .sitecon {
            width: 100%;
            height: 750px;
            background: url("../images/mod5/index_m5_02.png") center no-repeat;
            background-size: cover;
            justify-content: center;

            .siteitem {
                width: 500px;
                height: 620px;
                background-color: rgba(0, 0, 0, .6);
                padding: 20px;
                margin: 0 30px;
                color: white;
                align-items: center;

                .top {
                    width: 100%;
                    height: 60px;
                    justify-content: space-between;

                    strong {
                        font-size: 24px;
                        line-height: 40px;
                    }
                }

            }

            .games {
                justify-content: space-between;

                .top {
                    margin-bottom: 20px;

                    .lineicon {
                        width: 207px;
                        height: 19px;
                        background: url("../images/mod5/leftline_m5_01.png") no-repeat;

                    }

                    .ritiaon {
                        display: inline-block;
                        width: 60px;
                        height: 60px;
                        line-height: 56px;
                        font-size: 14px;
                        // font-weight: bold;
                        // text-shadow: 1px 1px 4px 4px #EF0C02;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: #fff;
                        -webkit-text-stroke: 2px transparent;
                        text-align: center;
                        border: 2px solid #EF0C02;
                        border-radius: 6px;
                        margin-right: 10px;
                        background-color: #EF0C02;
                        // background-color: #FF9000;
                    }

                }

                p {
                    font-size: 18px;
                    line-height: 32px;

                    span {
                        padding: 0 20px;
                    }
                }

                .restlist {
                    justify-content: center;
                    height: 120px;

                    i {
                        width: 72px;
                        height: 72px;
                        line-height: 62px;
                        font-size: 32px;
                        font-weight: bold;
                        text-align: center;
                        color: white;
                        background: url("../images/mod5/ball72_m5_01.png") no-repeat;
                    }
                }

                .timewrap {
                    align-items: center;
                    margin: 20px 0;

                    .timeicion {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        background-color: tan;
                    }

                    .stock {
                        width: 371px;
                        height: 4px;
                        background: url("../images/mod5/stock_m5.png") no-repeat;
                        opacity: .2;
                    }
                }


                .foot {
                    width: 100%;
                    height: 100px;
                    justify-content: space-between;
                    margin: 10px 0;

                    i {
                        display: inline-block;
                        width: 22px;
                        height: 31px;
                        cursor: pointer;
                    }

                    .to_l {
                        background: url('../images/mod5/indexicon_m5_01.png') -10px -169px;
                    }

                    .to_r {
                        background: url('../images/mod5/indexicon_m5_01.png') -10px -118px;
                    }

                    .gameswrap {
                        flex: 1;
                        margin: 0 10px;
                        overflow: hidden;

                        .game {
                            width: 100px;
                            height: 100px;
                            justify-content: center;

                            i {
                                display: inline-block;
                                height: 80px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .historys {
                .top {
                    margin-bottom: 10px;

                    strong {
                        align-self: flex-end;
                    }

                    .lineicon {
                        width: 207px;
                        height: 19px;
                        background: url("../images/mod5/ritline_m5_01.png") no-repeat;
                        align-self: flex-start;
                    }
                }

                .hiswrap {
                    flex: 1;
                    width: 100%;
                    overflow: hidden;
                    .hisitem {
                        width: 100%;
                        height: 50px;
                        flex:  0 0 50px;
                        padding: 0 20px;
                        border-bottom: 1px solid #807775;
                        justify-content: space-between;

                        span {
                            color: white;
                            font-size: 16px;
                            letter-spacing: 2px;
                            i{
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                line-height: 18px;
                                font-size: 12px;
                                text-align: center;
                                border: 1px solid #EF0C02;
                                margin-right: 40px;
                            }
                        }
                    }
                }
            }

        }
    }
}