<div class="flex-c container">
    <div style="width:100%;">
        <app-header [username]="'test08'" [curpath]="'index'"></app-header>
    </div>

    <div class="flex-c contentbox">
        <div class="flex-c midimg">
            <img src="../images/mod5/indextext_m5_01.png" alt="豪彩">

            <!-- <img src="../images/mod5/index_m5_01.png" alt="豪彩" width="100%" height="auto"> -->
            <div class="flex-r content">
                <div class="flex-r contwrap">

                    <div class="flex-c cont_l">
                        <div class="flex-r top"> </div>
                        <div class="active"></div>
                    </div>
                    <div class="flex-c cont_r">
                        <div class="flex-c top">
                            <span class="flex-r toplink">
                                <span>
                                    <a href="javascript:;">登录</a>
                                    <i>|</i>
                                    <a href="javascript:;">注册</a>
                                </span>
                                <span>
                                        <a href="javascript:;">联系客服</a>
                                        <a href="javascript:;">忘记密码？</a>
                                </span>
                            </span>
                        </div>
                        <div class="flex-c infowrap"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="flex-c cpsite">
            <h2 class="sitetitle">彩票专区</h2>

            <div class="flex-r sitecon">
                <div class="flex-c siteitem games">
                    <div class="flex-r top">
                        <span class="flex-c">
                            <span class="lineicon"></span>
                            <strong>重庆时时彩</strong>
                        </span>
                        <span class="ritiaon">时时彩</span>
                    </div>
                    <p>第201800917088期 <span>开奖结果</span> </p>
                    <div class="flex-r restlist">
                        <i *ngFor="let item of resultdata">{{item}}</i>
                    </div>
                    <p>第201800917089期 <span>投注剩余时间</span> </p>
                    <div class="flex-c timewrap">
                        <div class="timeicion">

                        </div>
                        <div class="stock">
                        </div>

                    </div>

                    <div class="flex-r foot">
                        <i class="to_l"></i>
                        <div class="flex-r gameswrap">
                            <!-- <div class="flex-r gamesbox"></div> -->
                            <span class="flex-r game" *ngFor="let item of gamedata">
                                <i [style.width.px]="item.width">
                                    <img [src]="item.src" alt="item.name">
                                </i>
                            </span>
                        </div>
                        <i class="to_r"></i>
                    </div>

                </div>
                <div class="flex-c siteitem historys">
                    <div class="flex-r top">
                        <strong>开奖历史</strong>
                        <span class="lineicon"></span>
                    </div>
                    <ul class="flex-c hiswrap">
                        <li class="flex-r hisitem" *ngFor="let item of hisdata; let i=index">
                            <span class="flex-r">
                                <i>{{i+1}}</i>
                                20180917088</span>
                            <span>0,5,6,7,3</span>
                        </li>
                    </ul>


                </div>
            </div>

        </div>
    </div>



    <app-footer></app-footer>


</div>