<div class="flex-c sscbox">
    <div>
        <app-header></app-header>
    </div>
    <div class="flex-c ssccontain">
        <div class="contaner">
            <app-credtop></app-credtop>
            <div class="flex-r mainbox">
                <div class="flex-c contentbox">
                    <div class="flex-r tabbox">
                        <div class="flex-r tabcontent">
                            <span [ngClass]="{tabactive:this.type == 1}" (click)="type = 1">整合</span>
                            <span [ngClass]="{tabactive:this.type == 2}" (click)="type = 2">龙虎斗</span>
                            <span [ngClass]="{tabactive:this.type == 3}" (click)="type = 3">全5中1</span>
                        </div>
                        <div class="flex-r togglebtn">
                            <span>官方</span>
                            <span class="togactive">信用</span>
                        </div>
                    </div>
                    <div class="flex-r selctbox">
                        <span class="flex-r">
                            <strong>$</strong>
                            <span class="flex-r rangebox">
                                <span class="showvalue">{{(rangevalue*-1).toFixed(1)}}%</span>
                                <span class="icon">-</span>&nbsp;&nbsp;
                                <input type="range" name="points" min="-7.8" max="0" step="0.078" id="points" [(ngModel)]="rangevalue"> &nbsp;&nbsp;
                                <span class="icon">+</span>
                            </span>
                        </span>
                        <span class="flex-r btngroup">
                            <button [ngClass]="{btnactive:selectbtnvalue == 0}" (click)="selectbtnvalue = 0">一般</button> &nbsp;&nbsp;
                            <button [ngClass]="{btnactive:selectbtnvalue == 1}" (click)="selectbtnvalue = 1">快捷</button>&nbsp;&nbsp;
                            <button [ngClass]="{btnactive:selectbtnvalue == 2}" (click)="selectbtnvalue = 2">快选金额</button>
                        </span>
                    </div>
                    <div class="flex-c mycontaion">
                        <!-- // 全5中1 -->
                        <div class="flex-c content" *ngIf="type == 3">
                            <div class="flex-r contenttop">
                                <span class="flex-r itembox" *ngFor="let item of contenttoptitle3">
                                    <span class="item1">号码</span>
                                    <span class="item2">赔率</span>
                                    <span class="item3" [hidden]="selectbtnvalue == 1">金额</span>
                                </span>

                            </div>
                            <div class="flex-r conmain">
                                <span class="flex-r itembox" *ngFor="let item of betdata3;let i=index" [ngStyle]="{'order': item.order}">
                                    <span class="item1">
                                        <span>{{item.numb}}</span>
                                    </span>
                                    <span class="item2 color_y">{{(2.29+(rangevalue/0.078*0.00191)).toFixed(3)}} </span>
                                    <span class="item3" [hidden]="selectbtnvalue == 1">
                                        <input type="text" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoneyfocus($event,i)" (blur)="inmoneyblur()">
                                    </span>
                                </span>
                            </div>
                        </div>
                        <!-- // 龙虎斗 -->
                        <div class="flex-c content" *ngIf="type == 2">
                            <div class="flex-r conmain2">
                                <div class="itemwrap2" *ngFor="let item of betdata2;let i=index">
                                    <div class="flex-c itembox2">
                                        <span class="item1">
                                            {{item.title}}
                                        </span>
                                        <span class="flex-r item2">
                                            <span class=" item2info" [ngClass]="{togstyle2:selectbtnvalue == 1}">
                                                <span class="color_r">龙</span>
                                                <span class="color_y">{{(2.168+(rangevalue/0.078*0.00224)).toFixed(3)}}</span>
                                            </span>
                                            <span class="item2info" [ngClass]="{togstyle2:selectbtnvalue == 1}">
                                                <span class="color_g">和</span>
                                                <span class="color_y">{{(9.76+(rangevalue/0.078*0.0078)).toFixed(2)}}</span>
                                            </span>
                                            <span class="item2info" [ngClass]="{togstyle2:selectbtnvalue == 1}">
                                                <span class="color_b">虎</span>
                                                <span class="color_y">{{(2.168+(rangevalue/0.078*0.00224)).toFixed(3)}}</span>
                                            </span>
                                        </span>
                                        <span class="flex-r item3" *ngIf="selectbtnvalue !== 1">
                                            <input type="text" class="inmoney" name="inmoney" [(ngModel)]="item.value1.value" (focus)="inmoney2focus($event,i,'value1')"
                                                (blur)="inmoneyblur()">
                                            <input type="text" class="inmoney" name="inmoney" [(ngModel)]="item.value2.value" (focus)="inmoney2focus($event,i,'value2')"
                                                (blur)="inmoneyblur()">
                                            <input type="text" class="inmoney" name="inmoney" [(ngModel)]="item.value3.value" (focus)="inmoney2focus($event,i,'value3')"
                                                (blur)="inmoneyblur()">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 整合 -->
                        <div class="flex-c content content1" *ngIf="type == 1">
                            <div class="flex-r contenttop contenttop1">
                                <span class="flex-r itembox" *ngFor="let item of contenttoptitle1; let i = index">
                                    {{item}}
                                </span>

                            </div>
                            <div class="flex-r contenttop contenttop3">
                                <span class="flex-r itembox" *ngFor="let item of contenttoptitle1">
                                    <span class="item1">号码</span>
                                    <span class="item2">赔率</span>
                                    <span class="item3" [hidden]="selectbtnvalue == 1">金额</span>
                                </span>

                            </div>
                            <div class="flex-r conmain">
                                <div class="flex-c conmainbox" *ngFor="let item of betdata1.data1;let i=index">
                                    <span class="flex-r itembox" *ngFor="let child of betdata1.data1[i];let q=index">
                                        <span class="item1">
                                            {{child.name}}
                                        </span>
                                        <span class="item2 color_y">{{(1.956+(rangevalue/0.078*0.00156)).toFixed(3)}} </span>&nbsp;
                                        <span class="item3" [hidden]="selectbtnvalue == 1">
                                            <input type="text" class="inmoney" name="inmoney" [(ngModel)]="child.value" (focus)="inmoney1focus($event,'data1',i,q)" (blur)="inmoneyblur()">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-r conmain">
                                <div class="flex-c conmainbox ballbox" *ngFor="let item of betdata1.data2;let i=index">
                                    <span class="flex-r itembox" *ngFor="let child of betdata1.data2[i];let q=index">
                                        <span class=" item1">
                                            <i>{{child.numb}}</i>
                                        </span>
                                        <span class="item2 color_y">{{(9.78+(rangevalue/0.078*0.0078)).toFixed(2)}} </span>&nbsp;
                                        <span class=" item3" [hidden]="selectbtnvalue == 1">
                                            <input type="text" class="inmoney" name="inmoney" [(ngModel)]="child.value" (focus)="inmoney1focus($event,'data2',i,q)" (blur)="inmoneyblur()">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-r contenttop contenttop2">
                                <span class="flex-r itembox" [ngClass]="{bg_y:btolast==0}"  (click)="btolast=0">前三</span>
                                <span class="flex-r itembox" [ngClass]="{bg_y:btolast==1}"  (click)="btolast=1">中三</span>
                                <span class="flex-r itembox" [ngClass]="{bg_y:btolast==2}"  (click)="btolast=2">后三</span>

                            </div>
                            <div class="flex-r contenttop">
                                <span class="flex-r itembox" *ngFor="let item of contenttoptitle3">
                                    <span class="item1">号码</span>
                                    <span class="item2">赔率</span>
                                    <span class="item3" [hidden]="selectbtnvalue == 1">金额</span>
                                </span>

                            </div>
                            <div class="flex-r conmain">
                                <span class="flex-r itembox" *ngFor="let item of betdata1.data3;let i=index">
                                    <span class="item1 itembold">
                                        {{item.name}}
                                    </span>
                                    <span class="item2 color_y">{{(12.933+(rangevalue/0.078*0.0013)).toFixed(3)}} </span>
                                    <span class="item3" [hidden]="selectbtnvalue == 1">
                                        <input type="text" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoneyfocus($event,i)" (blur)="inmoneyblur()">
                                    </span>
                                </span>
                            </div>
                        </div>

                        <!-- 按钮 -->
                        <div class="flex-r subbox">
                            <span class="flex-r btngroup">
                                <input type="text" class="inmoney" id="allinmoney" name="allinmoney" [(ngModel)]="setallmoney.value" [hidden]="selectbtnvalue !== 1"
                                    value="" (focus)="inmoneyfocus($event,'all')" (blur)="inmoneyblur()" (change)="allchange()"> &nbsp;&nbsp;&nbsp;
                                <button class="btnactive" (click)="sub()">确定</button> &nbsp;&nbsp;&nbsp;
                                <button (click)="reset()">取消</button>
                            </span>

                        </div>
                        <!-- 活动选择框 -->
                        <div id="selectbox" [ngStyle]="{'top': boxposition.y, 'left': boxposition.x}" [hidden]="!boxshow">
                            <div class="flex-c selectwrap">
                                <i></i>
                                <span class="option" (click)="optinclick(100)">100元</span>
                                <span class="option" (click)="optinclick(200)">200元</span>
                                <span class="option" (click)="optinclick(500)">500元</span>
                                <span class="option" (click)="optinclick(1000)">1000元</span>
                                <span class="option" (click)="optinclick(5000)">5000元</span>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- 右边信息区内容 -->
                <div class="flex-c infobox">
                    <div class="infoitem userinfobox">
                        <span class="flex-r userinfo">
                            <i></i>
                            <span>赌神</span>
                        </span>
                        <span>账户余额：
                            <span class="color_y">9999.99</span> 元</span>
                        <span class="flex-r userbtngroup">
                            <span>充值</span>
                            <span>提现</span>
                            <span>转账</span>
                        </span>

                    </div>
                    <div class="resultinfobox">
                        <div class="flex-c infoitem  resultinfo">
                            <span class="flex-r tabtn">
                                <span class="btnactive">开奖结果</span>
                                <span>本期投注</span>
                            </span>
                            <span class="flex-r resultitem" *ngFor="let item of resultdata">
                                <span>20180517014 期</span>
                                <strong class="flex-r resultitemr color_y">2 9 0 8 7</strong>
                            </span>
                        </div>

                        <div class="resultinfobox">
                            <div class="flex-c infoitem  resultinfo">
                                <span class="flex-r tabtn">
                                    <span class="btnactive">出码排行</span>
                                    <span>遗漏排行</span>
                                </span>
                                <div class="flex-c resultbox">
                                    <span class="flex-r querybox">
                                        <span>期数 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <span>
                                            <select id="qishu" name="qishu" [(ngModel)]="querydata.qishu">
                                                <option value="2期" selected>2期</option>
                                                <option value="option1">option1</option>
                                                <option value="option2">option2</option>
                                                <option value="option3">option3</option>
                                            </select>
                                        </span>
                                    </span>
                                    <div class="resulttable">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="4" bgcolor="#ccc" align="center">
                                            <tr *ngFor="let item of resultdata">
                                                <td style="width:200px">第一球VS第二球
                                                    <span class="color_y">@和</span>
                                                </td>
                                                <td>2期</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>