<div class="flex-r gamenav">
    <div class="padright">
        <div class="flex-r navitem alltype" (mouseenter)="shownav=true" (mouseleave)="shownav=false">
            <div class="fltitle">全部彩种</div>
            <div class="frimg">
                <img src="../../images/cqssc_13.png" />
            </div>

        </div>
        <!-- 全部彩种列表 -->
        <div class="allnav"
        (mouseenter)="shownav=true"
        (mouseleave)="shownav=false"
        [hidden]="!shownav">
            <ul class="flex-sc sidel">
                <li class="flex-sc"
                *ngFor="let item of data; let i=index"
                onselectstart="return false;"
                style="-moz-user-select:none;">
                    <div class="flex-sr itembox"
                    (click)="itemboxclick(i)"
                    (mouseenter)="itemboxenter(i)"
                    (mouseleave)="itemboxleave(i)"
                    [ngClass]="{'yborder': currentactive == i}">
                        <div class="flex-sr">
                            <i class="sideicon" [ngStyle]="{'background-position-x.px':item.bg.x,'background-position-y.px':item.bg.y}" [ngClass]="{sideiconhoverbg: item.isover || currentactive == i}"></i>
                            <span style="padding-left: 10px;">{{item.title}}</span>
                        </div>
                        <div>
                            <i class="itemboxiconr" [ngClass]="{'iconactive': currentactive == i}"> &#8250;</i>
                        </div>
                    </div>
                    <ng-container *ngIf="currentactive == i">
                        <div class="item" *ngFor="let child of item.items; let n=index" (click)="itemclick(child.link)" [ngClass]="{'itemactive': currentitem== child.text}">
                            {{child.text}}
                        </div>
                    </ng-container>
                </li>
            </ul>
        </div>
    </div>
    <div class="padright">
        <div class="flex-r navitem gametime">
            <div class="fltitle">
                <p>第
                    <span class="color_y">{{next}}</span>
                    期</p>
                <p>预售时间</p>
            </div>
            <ul class="flex-r frtime">
                <li>{{timedate| date:'hh'}}</li>
                <li>{{timedate| date:'mm'}}</li>
                <li>{{timedate| date:'ss'}}</li>
            </ul>
        </div>
    </div>
    <div>
        <div class="flex-r navitem gameresult">
            <div class="fltitle">
                <p>第
                    <span class="color_y">{{previous}}</span>
                    期</p>
                <p>开奖号码</p>
            </div>
            <ul class="flex-r frnumber">
                <li *ngFor="let item of number">
                    <span>{{item}}</span>
                </li>
            </ul>
            <div class="line"></div>
            <div class="flex-c currresult">
                <p class="pt">近期开奖</p>
                <p class="pimg">
                    <span></span>
                </p>
            </div>
        </div>
    </div>
</div>