<div class="flex-c mainbox" *ngIf="status == 0" >
  <div class="flex-r itembox">
    <div class="itemlabel">
      <span>{{now_lang.User_center_c.Choose_bankcard}}</span>
    </div>
    <div class="flex-r itemcontent">
      <div class="bankitembox">
        <div class="flex-c bankitem">
          <div class="flex-r">
            <i></i>
            <span class="bold">{{now_lang.User_center_c.Til_number}}8888
              <span class="cardtype">{{now_lang.User_center_c.Bankcard1}}</span>
            </span>
          </div>
          <div class="flex-r bankinfo">
            <span>
              <p>{{now_lang.User_center_c.Banker_owner}}：*赌神</p>
              <p>{{now_lang.User_center_c.Phone_number}}：188****3333</p>
            </span>
            <span class="del">{{now_lang.User_center_c.Delet}}</span>
          </div>
        </div>

      </div>
      <div class="bankitembox">

        <div class="flex-c bankitem add" (click)="addbank()">
          <strong>+</strong>
          <span>{{now_lang.User_center_c.Add_bankcard}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-r itembox">
    <div class="itemlabel">
      <span>{{now_lang.User_center_c.Tips19}}</span>
    </div>
    <div class="flex-r itemcontent">
      <div class="bankitembox">
        <div class="flex-c">
          <span class="flex-r">
            <input type="text" name="money" id="money" [(ngModel)]="subdata.money">
            <p>Tips19：
              <strong class="color_y">9999.00</strong>{{now_lang.User_center_c.Yuan}} </p>
          </span>
          <span>{{now_lang.User_center_c.Charge}}：
            <strong class="color_y">2.50</strong>{{now_lang.User_center_c.Yuan}}</span>
        </div>
      </div>
      <div class="bankitembox">
      </div>
    </div>
  </div>
  <div class="flex-r itembox">
    <div class="itemlabel">
      <span>{{now_lang.User_center_c.Safe_password}}</span>
    </div>
    <div class="flex-r itemcontent">
      <div class="bankitembox">
        <div class="flex-c">
          <span class="flex-r">
            <input type="password" name="password" id="password" [(ngModel)]="subdata.password">
          </span>
          <span class="flex-r btntab">
            <span>
              <button>
                {{now_lang.User_center_c.Immediate_outmoney}}
              </button>
            </span>
            <span>
              <button (click)="status = 2">
                {{now_lang.User_center_c.Look_progress}}
              </button>
            </span>
            <span>
              <button (click)="status = 1">
                {{now_lang.User_center_c.Look_flow}}
              </button>
            </span>
          </span>
          <table width="640px" border="1" cellspacing="0" cellpadding="4"   align="center">        
            <tr>
              <td class="alignr">{{now_lang.User_center_c.All_balance}}</td>
              <td class="alignl">9999.00元</td>
              <td class="alignr">{{now_lang.User_center_c.Out_money_time}}</td>
              <td class="alignl">24{{now_lang.User_center_c.Hour}}</td>
            </tr>
            <tr>
              <td class="alignr">{{now_lang.User_center_c.Tips20}}</td>
              <td class="alignl">5{{now_lang.User_center_c.Second}}</td>
              <td class="alignr">{{now_lang.User_center_c.Tips21}}</td>
              <td class="alignl">10{{now_lang.User_center_c.Second}}</td>
            </tr>
            <tr>
              <td class="alignr">{{now_lang.User_center_c.Tips22}}</td>
              <td class="alignl">500000.00元</td>
              <td class="alignr">{{now_lang.User_center_c.Tips23}}</td>
              <td class="alignl">0{{now_lang.User_center_c.Second}}</td>
            </tr>
            <tr>
              <td class="alignr">{{now_lang.User_center_c.Charge_Explain}}</td>
              <td class="alignl" colspan="3">0.00元</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- 弹窗添加银行卡 -->
  <div id="addcontent" *ngIf="addbanck" class="flex-c">
    <div class="flex-r addgead">
      <span>{{now_lang.User_center_c.Add_bankcard}}</span>
      <i (click)="deladd()"> &times; </i>
    </div>
    <form class="flex-c addform">
      <div class="flex-r formitem">
        <label for="name">{{now_lang.User_center_c.Banker_owner}}：</label>
        <input type="text" id="name" name="name" placeholder="输入持卡人姓名" [(ngModel)]="formdata.username" />
      </div>
      <div class="flex-r formitem">
        <label for="name">{{now_lang.User_center_c.Opening_bank}}：</label>
        <input type="text" id="bankname" name="bankname" placeholder="输入开户银行名称" [(ngModel)]="formdata.bankname" />
      </div>
      <div class="flex-r formitem">
        <label for="name">{{now_lang.User_center_c.Branch_bank}}：</label>
        <input type="text" id="bankbranch" name="bankbranch" placeholder="输入银行支行" [(ngModel)]="formdata.bankbranch" />
      </div>
      <div class="flex-r formitem">
        <label for="name">{{now_lang.User_center_c.Bankcard_number}}：</label>
        <input type="text" id="cardnmb" name="cardnmb" placeholder="输入银行卡号" [(ngModel)]="formdata.cardnmb" />
      </div>
      <div class="flex-r formitem">
          <label for="name">{{now_lang.User_center_c.Bankcard_phone}}：</label>
          <input type="text" id="phone" name="phone" placeholder="输入办卡时预留手机号码" [(ngModel)]="formdata.phone" />
        </div>
        <div class="flex-r formitem">
          <label for="name">{{now_lang.User_center_c.Message_sms}}：</label>
          <span class="flex-r note">
            <input type="text" id="note" name="note" placeholder="" [(ngModel)]="formdata.note" />
            <span class="getnote">{{now_lang.User_center_c.Get_sms}}</span>
          </span>
        </div>
        <div class="flex-r formitem ">
          <label for="check"></label>
          <div class="flex-r check">
            <input type="checkbox" id="check" name="check" [(ngModel)]="formdata.checkvalue" />
            <p>{{now_lang.User_center_c.I_read_and_agree}}
              <span class="color_y">《{{Tips8}}》</span>
            </p>
          </div>
        </div>
        <div class="flex-r formitem btngroup">
          <span>{{now_lang.User_center_c.Comfirm}}</span> 
          <span>{{now_lang.User_center_c.Cancel}}</span>
        </div>

      </form>
  </div>
  <!-- 遮罩层 -->
  <div class="shade" [style.width.px]="shade.w" [style.height.px]="shade.h" *ngIf="addbanck"></div>
</div>
<!-- 查看流水内容 -->
<div class="flex-c flowbox" *ngIf="status == 1">
  <div class="flex-c itembox flowboxtop">
    <div class="flex-c  topinfo">
      <span class="">{{now_lang.User_center_c.Tips24}}</span>
      <span>{{now_lang.User_center_c.Total_effective_betting}}：100  {{now_lang.User_center_c.Tips25}}</span>
    </div>
    <div class="flex-r btntab">
      <span>
        <button [ngClass]="{btnactive: tabselect1}" (click)="tabselect1 = !tabselect1"><span [hidden]="!tabselect1">{{now_lang.User_center_c.Show_effect}}</span><span [hidden]="tabselect1">{{now_lang.User_center_c.Hide_effect}}</span></button>
      </span>
      <span>
        <button [ngClass]="{btnactive: tabselect2}" (click)="tabselect2 = !tabselect2"><span [hidden]="!tabselect2">{{now_lang.User_center_c.Show_flow}}</span><span [hidden]="tabselect2">{{now_lang.User_center_c.Hide_flow}}
</span></button>
      </span>
      <span>
        <button (click)="status=2">{{now_lang.User_center_c.Outmoney_progress}}</button>
      </span>
      <span>
        <button (click)="status=0">{{now_lang.User_center_c.Back_outmoney}}</button>
      </span>
    </div>
  </div>
  <div class="flex-c itembox tablebox">
    <table width="1400px" border="1" cellspacing="0" cellpadding="4"   align="center">
      <tr>
        <th rowspan="2" style="width: 190px;" class="color11">{{now_lang.User_center_c.Deposit_date}}</th>
        <th rowspan="2" style="width: 90px;" class="color11">{{now_lang.User_center_c.Deposit_money}}</th>
        <th rowspan="2" style="width: 90px;" class="color11">{{now_lang.User_center_c.Deposit_discount}}</th>
        <th rowspan="2" style="width: 90px;" class="color11">{{now_lang.User_center_c.Activity}}</th>
        <th style="width: 90px;" class="color11" [hidden]="tabselect1">{{now_lang.User_center_c.Effect}}</th>
        <th colspan="4" style="width: 420px;" class="color22" [hidden]="tabselect2">{{now_lang.User_center_c.Effect}} </th>
        <th colspan="4" style="width: 420px;" class="color33">{{now_lang.User_center_c.Normal_flow}}</th>
      </tr>
      <tr>
        <th class="color11" [hidden]="tabselect1">{{now_lang.User_center_c.Lot}}</th>
        <th class="color22" [hidden]="tabselect2">{{now_lang.User_center_c.Lot_need_flow}}</th>
        <th class="color22" [hidden]="tabselect2">{{now_lang.User_center_c.Pass}}</th>
        <th class="color22" [hidden]="tabselect2">{{now_lang.User_center_c.Integrated_need_flow}}</th>
        <th class="color22" [hidden]="tabselect2">{{now_lang.User_center_c.Integrated_need_flow}}</th>
        <th class="color33">{{now_lang.User_center_c.Lot_need_flow}}</th>
        <th class="color33">{{now_lang.User_center_c.Lenders}}</th>
        <th class="color33">{{now_lang.User_center_c.Pass}}</th>
        <th class="color33">{{now_lang.User_center_c.Required_be_deducted}}</th>
      </tr>
      <tr *ngFor="let item of tabledata" >
        <td>
            <span class="flex-c datecell">
                <span>{{item.starttime}}</span>
                <span>{{item.endtime}}</span>
            </span>
        </td>
        <td>{{item.data1}}</td>
        <td>{{item.data2}}</td>
        <td>{{item.data3}}</td>
        <td [hidden]="tabselect1">{{item.data4}}</td>
        <td [hidden]="tabselect2">{{item.data5}}</td>
        <td [hidden]="tabselect2">{{item.data6}}</td>
        <td [hidden]="tabselect2">{{item.data7}}</td>
        <td [hidden]="tabselect2">{{item.data8}}</td>
        <td>{{item.data9}}</td>
        <td>{{item.data10}}</td>
        <td>{{item.data11}}</td>
        <td>{{item.data12}}</td>
      </tr>
    </table>
  </div>
  <div class="flex-c itembox">
    <div class="flex-c  bottinfo" style="padding-left: 20px;">
        <span class="">{{now_lang.User_center_c.Discount_flow}}：未通过优惠流水审核！{{now_lang.User_center_c.Discount_be_deducted}}：0</span>
        <span>{{now_lang.User_center_c.Normal_flow}}： <span class="color_r">未通过常态性流水审核！需要扣除50%行政费：500</span> </span>
        <span class="flex-r warning">

          <p>优惠流水审核+常态性流水审核  共需扣除：500</p>
        </span>
        <span>此次出款时间为：2018-06-06  17:15:16</span>
      </div>
  </div>
</div>

<!-- 查看进度内容 -->
<div class="flex-c planbox" *ngIf="status == 2">
    <div class="flex-c">
        <div class="flex-r querycontent">
          <span class="flex-r" style="justify-content: flex-start;">
            <span class="query_item">
              <label for="starttime">{{now_lang.User_center_c.Time}}： </label>
              <input type="date" id="starttime" name="starttime" [(ngModel)]="querydata.starttime" />
              <label for="endtime">{{now_lang.User_center_c.Go}} </label>
              <input type="date" id="endtime" name="endtime" [(ngModel)]="querydata.endtime" />
            </span>
          </span>
          <span class="rbtn">

            <span class="querybtn">{{now_lang.User_center_c.Search}}</span>
            <span class="querybtn" (click)="status=0">{{now_lang.User_center_c.Back_outmoney}}</span>
          </span>
        </div>
        <div class=" flex-c tablebox1">
          <div class="tablewrap">
            <table id="table" width="1200ox" border="0" cellspacing="0" cellpadding="4"   align="center">
              <tr class="bg_1">
                <th style="width:170px">{{now_lang.User_center_c.Number}}</th>
                <th>{{now_lang.User_center_c.User_name}}</th>
                <th style="width:160px">{{now_lang.User_center_c.Time}}</th>
                <th>{{now_lang.User_center_c.Bank}}</th>
                <th>{{now_lang.User_center_c.BankCard_name}}</th>
                <th style="width:160px">{{now_lang.User_center_c.Bankcard_number}}</th>
                <th>{{now_lang.User_center_c.Balance}}</th>
                <th>{{now_lang.User_center_c.Application_status}}</th>
                <th>{{now_lang.User_center_c.Progress}}</th>
              </tr>
              <tr>
                <td>80305211802572873668</td>
                <td>test02</td>
                <td>2018-06-03  13:00:00</td>
                <td>招商银行</td>
                <td>李张刘</td>
                <td>5555555555555555</td>
                <td>200</td>
                <td>-</td>
                <td>-</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
</div>