
// @import "../ssc/ssc.component.scss";

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    box-sizing: border-box;
}

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.color_y {
    color: #fe8f00;
}

.color_r {
    color: #d00216;
}

.color_g {
    color: #0f954e;
}

.color_b {
    color: #002eff;
}
.checkbg{
    background-color: #FFF8B6;
}

.sscbox {
    width: 100%;
    min-width: 1200px;
    font-size: 14px;
}

.pkccontain {
    width: 100%;
    align-self: center;
    background: #111 url(../../images/bg_02.jpg) center no-repeat;
    background-size: cover;
    .contaner {
        width: 1200px;
        align-self: center;
        padding-top: 30px;
        .mainbox {
            padding: 20px 0;
            justify-content: space-between;
            align-content: flex-start;
            align-items: flex-start;
            .contentbox {
                width: 900px;
                border-radius: 5px;
                background-color: #ddd;
                align-self: stretch;
                .tabbox {
                    width: 100%;
                    padding-right: 20px;
                    justify-content: space-between;
                    background-color: #333;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    overflow: hidden;
                    .tabcontent {
                        span {
                            height: 50px;
                            line-height: 50px;
                            padding: 0 18px;
                            color: white;
                            cursor: pointer;
                        }
                        .tabactive {
                            background-color: #3d3d3d;
                        }
                    }
                    .togglebtn {
                        width: 90px;
                        height: 25px;
                        line-height: 18px;
                        border: 1px solid white;
                        border-radius: 3px;
                        color: white;
                        background-color: #333;
                        overflow: hidden;
                        span {
                            width: 50%;
                            height: 100%;
                            line-height: 24px;
                            text-align: center;
                            cursor: pointer;
                        }
                        .togactive,
                        span:hover {
                            color: #111;
                            background-color: white;
                        }
                    }
                }
                .selctbox {
                    width: 100%;
                    height: 60px;
                    padding: 0 20px 0 30px;
                    justify-content: space-between;
                    background-color: #3d3d3d;
                    strong {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 20px;
                        text-align: center;
                        border-radius: 50%;
                        background-color: #fe8f00;
                        color: white;
                    }
                    .rangebox {
                        color: white;
                        .showvalue {
                            flex: 0 0 70px;
                            width: 50px;
                            text-align: right;
                            padding-right: 20px;
                        }
                        .icon {
                            flex: none;
                            width: 16px;
                            height: 16px;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: center;
                            font-weight: bold;
                            border-radius: 50%;
                            background-color: #999;
                            color: white;
                            cursor: pointer;
                        }
                        .range {
                            width: 130px;
                            padding: 0 10px;
                            align-items: center;
                        }
                    }
                    .btngroup {
                        button {
                            width: 80px;
                            font-size: 14px;
                            height: 32px;
                            line-height: 30px;
                            text-align: center;
                            padding: 0;
                            background-color: #ccc;
                            color: #333;
                            border: 1px solid #999;
                            border-radius: 3px;
                            margin-left: 10px;
                            outline: none;
                        }
                        .lactive {
                            margin-left: 0px;
                        }
                        .btnactive,
                        .resetbtn:hover,
                        .kuxuan:hover {
                            color: white;
                            background-color: #fe8f00;
                            background: linear-gradient(to top, #c76401, #fba915);
                            border: 1px solid #d17702;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

.mycontaion {
    position: relative;
    width: 900px;
    .content {
        width: 100%;
        align-items: center;
        .contenttop {
            width: 100%;
            background-color: #eee;
            .itembox {
                flex: 0 0 20%;
                height: 40px;
                border-right: 1px solid #ddd;
                span {
                    text-align: center;
                    border-right: 1px solid #ddd;
                }
                span:last-child {
                    border-right: none;
                }
                .item1,
                .item2 {
                    flex: 3;
                    line-height: 24px;
                }
                .item3 {
                    flex: 4;
                }
            }
            .itembox:last-child {
                border-right: none;
            }
        }
        .conmain {
            width: 100%;
            background-color: white;
            flex-wrap: wrap;
            background-color: white;
            .itembox {
                flex: 0 0 20%;
                height: 40px;
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                span {
                    text-align: center;
                }
                .item1,
                .item2 {
                    flex: 3;
                    line-height: 24px;
                }
                .item3 {
                    flex: 4;
                }
                .item1 {
                    
                    font-weight: bold;
                    i {
                        display: inline-block;
                        width: 26px;
                        height: 26px;
                        line-height: 24px;
                        font-size: 14px;
                        text-align: center;
                        color: white;
                        background-image: url("../../images/crball26.png");
                    }
                }
            }
        }
    }
}

// 整合
.content1 {
    .conmain {
        width: 100%;
        align-items: flex-start;
        .conmainbox {
            width: 180px;
            align-content: center;
            align-items: center;
            span {
                width: 100%;
            }
            .itembox {
                padding-right: 2px;
                height: 40px;
                flex: 0 0 40px;
                justify-content: space-between;
                .item3 {
                    input {
                        width: 56px;
                    }
                }
            }
            .contenttop {
                .itembox {
                    height: 40px;
                    border-right: 1px solid #ddd;
                    .item1 {
                        font-weight: normal;
                    }
                }
            }
            .contenttop1 {
                .itembox {
                    flex: 0 0 180px;
                    justify-content: center;
                    background-color: #fe7200;
                    font-size: 16px;
                    color: white;
                }
            }
        }
        .contenttop2 {
            .itembo {
                width: 100%;
                height: 40px;
                justify-content: center;
                background-color: #999;
                font-size: 16px;
                color: #333;
                cursor: pointer;
                border-right: 1px solid #ddd;
            }
            .itembo:last-child {
                border-right: none;
            }
            .bg_y {
                color: white;
                background: linear-gradient(to top, #c76401, #fba915);
            }
        }
        .contenttop3 {
            .itembox {
                flex: 0 0 180px;
                justify-content: center;
                span {
                    border-right: 1px solid #ddd;
                }
                span:last-child {
                    border-right: none;
                }
            }
        }
        .contenttop4 {
            .itembox {
                flex: 0 0 225px;
                justify-content: center;
                span {
                    border-right: 1px solid #ddd;
                }
                span:last-child {
                    border-right: none;
                }
            }
        }
        .bomainbox {
            width: 225px;
            align-content: center;
            align-items: center;
        }
        .conmainbox:nth-child(5) .contenttop .itembox {
            border-right: none;
        }
        .conmainbox:last-child .contenttop .itembox {
            border-right: none;
        }
    }
    .itembold {
        font-weight: bold;
    }
}

// 输入框统一样式
.inmoney {
    width: 60px;
    font-size: 12px;
    height: 22px;
    padding-left: 5px;
    border: 1px solid #ccc;
}

.subbox {
    width: 100%;
    padding: 20px 0 40px 0;
    justify-content: center;
    .btngroup {
        button {
            width: 80px;
            font-size: 14px;
            height: 32px;
            line-height: 30px;
            text-align: center;
            padding: 0;
            background-color: #ccc;
            color: #333;
            border: 1px solid #999;
            border-radius: 3px;
            outline: none;
        }
        .resetbtn {
            margin-left: 10px;
        }
        .btnactive,
        .resetbtn:hover {
            color: white;
            background-color: #fe8f00;
            background: linear-gradient(to top, #c76401, #fba915);
            border: 1px solid #d17702;
            outline: none;
        }
        .inmoney {
            width: 80px;
            height: 32px;
            margin-right: 10px;
        }
    }
}

#selectbox {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 70px;
    height: 160px;
    padding-top: 6px;
    z-index: 888;
    .selectwrap {
        position: relative;
        padding-top: 4px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, .2);
        i {
            position: absolute;
            top: -4px;
            left: 37px;
            width: 6px;
            height: 6px;
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            background-color: white;
            transform: rotate(45deg);
        }
        .option {
            width: 100%;
            height: 32px;
            line-height: 32px;
            text-align: center;
            cursor: pointer;
        }
        .option:hover {
            background-color: #ccc;
        }
    }
}

.setbox {
    position: fixed;
    top: 8px;
    left: 450px;
    z-index: 998;
    .content {
        width: 260px;
        min-height: 300px;
        background-color: white;
        border: none;
        border-radius: 6px;
        box-shadow: 0 0 0px 5px rgba(50, 50, 50, .6);
        overflow: hidden;
        transform: scale(.6);
        transition: transform .1s linear;
        .top {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color: white;
            padding: 0 12px 0 20px;
            justify-content: space-between;
            background: linear-gradient(to top, #c76401, #fba915);
            i {
                font-size: 18px;
                cursor: pointer;
            }
        }
        .main {
            padding: 5px 12px 20px 20px;
            p {
                font-size: 10px;
                line-height: 20px;
                color: #999;
            }
            .setinput {
                width: 100%;
                justify-content: center;
                .item {
                    width: 100%;
                    font-size: 12px;
                    padding: 5px 0;
                    justify-content: center;
                    input {
                        width: 100px;
                        height: 30px;
                        line-height: 28px;
                        padding-left: 5px;
                        border: 1px solid #ccc;
                    }
                    span {
                        width: 50px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        letter-spacing: 4px;
                        padding-left: 4px;
                        border-radius: 2px;
                        margin-left: 10px;
                        color: white;
                        background-color: #999;
                        cursor: pointer;
                    }
                }
            }
            .btnbox {
                width: 100%;
                justify-content: center;
                padding: 10px 0;
                span {
                    width: 75px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 14px;
                    background-color: #999;
                    color: white;
                    border-radius: 2px;
                    cursor: pointer;
                }
                .btn2,
                .btn1:hover {
                    background-color: #fe8f00;
                }
                .btn2 {
                    margin-left: 10px;
                }
            }
        }
    }
    .scale{
        transform: scale(1);
    }
}


.subpopup {
    position: fixed;
    left: 160px;
    z-index: 998;
    .content {
        width: 800px;
        background-color: white;
        border: none;
        border-radius: 6px;
        box-shadow: 0 0 0px 5px rgba(50, 50, 50, .6);
        overflow: hidden;
        transform: scale(.6);
        transition: transform .1s linear;
        .top {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color: white;
            padding: 0 12px 0 20px;
            justify-content: space-between;
            background: linear-gradient(to top, #c76401, #fba915);
            i {
                font-size: 18px;
                cursor: pointer;
            }
        }
        .thead {
            width: 760px;
            margin-top: 10px;
            border: 1px solid #ccc;
            border-bottom: none;
            table {
                table-layout: fixed;
                width: 100%;
                border-collapse: collapse;
                th {
                    text-align: center;
                    height: 40px;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: rgb(195, 221, 230);
                    border: 1px solid #ccc;
                }
            }
        }
        .tablewrap {
            width: 760px;
            height: 260px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            border-top: none;
            table {
                table-layout: fixed;
                width: 100%; // border: 1px solid #ccc;
                border-collapse: collapse;
                tr:nth-child(even) {
                    background-color: #eee;
                }
                td {
                    text-align: center;
                    height: 30px;
                    border: 1px solid #ccc;
                }
            }
        }
        .foot {
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 18px;
            padding: 0 30px;
            justify-content: flex-end;
            strong {
                font-size: 20px;
                color: #fe8f00;
                padding: 0 8px;
            }
            .newpoint{
                margin-left: 150px;
                align-items: center;
                input{
                    margin-right: 6px;
                }
            }
        }
    }
    .scale{
        transform: scale(1);
    }
}
//遮罩层
.shade {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(154, 154, 154, 0.5);
    z-index: 19;
}

// 各浏览器滑块样式
input[type="range"] {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
}
input[type="range"]:focus{
    outline:1px solid #3D3D3D;
}

// range中心圆点
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 18px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin-top: -4px;
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    height: 12px;
    width: 18px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    -ms-appearance: none;
    appearance: none;
    height: 12px;
    width: 18px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 1px;
}

input[type="range"]::slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 18px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin-top: -6px;
}

// range轨道
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background-color: #fe8f00;
    border-radius: 2px;
    cursor: pointer;
    z-index: 3;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 4px;
    background-color: #fe8f00;
    border-radius: 2px;
    cursor: pointer;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    border-color: transparent;
    color: #fe8f00;
    border-radius: 2px;
    background: #fe8f00;
    cursor: pointer;
}