.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .flex-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }
  .bg_1 {
    background-color: #f5f5f5;
  }
  .container {
    width: 950px;
    padding: 0;
    align-content: flex-start;
    align-items: flex-start;
  }
  #starttime,
  #endtime {
    width: 120px;
  }
  #numb{
      width: 140px;
  }
  .querycontent {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f5f5f5;
  }
  .query_item{
    flex: none;
    padding-right: 20px;
  }
  .querybtn {
    width: 70px;
    height: 30px;
    line-height: 28px;
    padding: 0;
    text-align: center;
    background-color: #fe8f00;
    color: white;
    outline: none;
  }
  #wrap{
    outline: none;
    width: 14px;
    height: 14px;
    // padding-left:10px;
  }
  .tablebox{
    width: 100%;
    padding: 10px 0 0;
  }
  
  .tablewrap {
    width: 100%;
    border: 1px solid #ccc;
  }
  #table {
    table-layout: fixed;
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
  }
  #table th {
    font-size: 14px;
    font-weight: bold;
  }
  #table th,
  #table td {
    text-align: center;
    height: 40px;
    border: 1px solid #ccc;
  }
  .total_tr{
      font-size: 14px;
      color: #fe8f00;
  }
  .color_r{
    color:#C82839;
  }
  .color_y{
    color:#fe8f00;
  }
  .page {
    align-self: center;
  }
  