<div class="flex-c container">
    <div class="flex-r querycontent">
      <span class="flex-r" style="width:750px;">
        <span>时间：
          <select id="starttime" name="starttime" [(ngModel)]="querydata.starttime">
            <option value="全部" selected>全部</option>
            <option value="option1">option1</option>
            <option value="option2">option2</option>
            <option value="option3">option3</option>
          </select>
          至
          <select id="endtime" name="endtime" [(ngModel)]="querydata.endtime">
            <option value="全部" selected>全部</option>
            <option value="option1">option1</option>
            <option value="option2">option2</option>
            <option value="option3">option3</option>
          </select>
        </span>
        <span>
          <label for="numb">订单号： </label>
          <input type="text" id="numb" name="numb" [(ngModel)]="querydata.numb" />
        </span>
        <span>
            <label for="status">充值状态：</label>
            
            <select id="status" name="status" [(ngModel)]="querydata.status">
              <option value="全部" selected>全部</option>
              <option value="option1">option1</option>
              <option value="option2">option2</option>
              <option value="option3">option3</option>
            </select>
        </span>
        <span class="flex-r">
          <input type="checkbox" id="wrap" name="wrap" [(ngModel)]="querydata.iswrap" />&nbsp;包含下级</span>
      </span>
      <button class="querybtn">查&nbsp;询</button>
    </div>
    <!-- <div class="checkboxs">
      <div class="flex-c checkcontent">
        <div class="flex-r checkcontent_top">
          类型：&nbsp;<input type="checkbox" id="all" class="all" name="wrap" [(ngModel)]="checkdatas.all" (click)="checksall()" />&nbsp;&nbsp;所有类型
        </div>
        <div class="checksbox">
          <div class="flex-r" style="flex-wrap: nowrap;">
            <span class="checktitle">收入:</span>
            <div class="flex-r">
              <span class="flex-r checkwrap" *ngFor="let item of checkdatas.income; let i = index" >
                  <input type="checkbox" class="checkitems" name="{{item.title}}" [(ngModel)]="item.checked" (change)="checkchange('income',i)" />&nbsp;{{item.title}}
              </span>
            </div>
          </div>
          <div class="flex-r" style="flex-wrap: nowrap;">
            <span class="checktitle">支出:</span>
            <div class="flex-r">
              <span class="flex-r checkwrap" *ngFor="let item of checkdatas.expend; let q = index" >
                  <input type="checkbox" class="checkitems" name="{{item.title}}" [(ngModel)]="item.checked" (change)="checkchange('expend',q)" />&nbsp;{{item.title}}
              </span>
            </div>
          </div>
        </div>
      </div>
  
  
    </div> -->
    <div class=" flex-c tablebox">
      <div class="tablewrap">
        <table id="table" width="100%" border="1" cellspacing="0" cellpadding="4" bgcolor="#ccc" align="center">
          <tr class="">
            <th style="width:170px">订单号</th>
            <th>用户名</th>
            <th style="width:160px">充值时间</th>
            <th>充值金额</th>
            <th>充值方式</th>
            <th>入款手续费</th>
            <th>优惠</th>
            <th>充值状态</th>
            <th style="width:100px">实际充值金额</th>
          </tr>
          <tr *ngFor="let item of moneycodefdata">
            <td>{{item.numb}}</td>
            <td>{{item.user}}</td>
            <td>{{item.time}}</td>
            <td>{{item.money}}</td>
            <td>{{item.type}}</td>
            <td>{{item.expense}}</td>
            <td>{{item.discounts}}</td>
            <td>{{item.status}}</td>
            <!-- <td>{{(item.status=='1')?'充值成功'：(item.status=='0')?'充值中':'充值失败'}}</td> -->
            <td>{{item.lastmoney}}</td>
          </tr>
        </table>
  
      </div>
      <div class="info">
        <p>备注：本页资金变动为所有用户资金变动之和</p>
      </div>
      
      <div class="page" shark-pager [currentPage]="pagination.page" [totalPage]="pagination.totalPage" [gopage]="pagination.gopage"
        [hl]="hl" [segmentSize]="pagination.segmentSize" [startFrom]="pagination.startFrom" (onPageChanged)="onPageChanged($event);">
      </div>
  
    </div>
  </div>