* {
    box-sizing: border-box;
}

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}

.headbox {
    width: 100%;
    background-color: white;
    font-size: 14px;
    align-items: center;

    .head {
        width: 100%;
        min-width: 1200px;
        align-items: center;
        border-bottom: 1px solid #EC221F;

        .headtop {
            width: 1200px;
            height: 60px;
            justify-content: space-between;

            img {
                width: 150px;
                height: auto;
            }
            .head_r{
                nav {
                    a {
                        text-decoration: none;
                        color: black;
                        align-items: center;
                        margin: 0 30px;
                        cursor: pointer;
                        span{
                            color: black;
                            font-size: 18px;
                            line-height: 24px;
                            font-weight: bold;
                        }
                        small{
                            font-size: 10px;
                            line-height: 14px;
                            color: #ACACAC;
                        }
                    }
                    a:hover, a.active{

                        span{
                            color: #EC221F;
                        }
                        small{
                            color: #EC221F;
                        }
                    }
                    
                    i {
                        width: 1px;
                        height: 40px;
                        background-color: #ACACAC;
                    }
                }

            }

        }
    }

    .topline {
        width: 100%;
        height: 2px;
        background-color: #E60301;
        margin: 1px 0;
    }
}