<div id="head" class="flex-c headbox">

    <div class="flex-c head">
        <div class="flex-r headtop">
            <img src="../../images/mod5/LOGO.png" alt="豪彩官网">
            <div class="flex-r head_r">
                <nav class="flex-r">
                    <i></i>
                    <a href="#/index" class="flex-c" [ngClass]="{active:curpath === pathdata[0]}">
                        <span>{{now_lang.NAV.HOME}}</span>
                        <small>home page</small>
                    </a>
                    <i></i>
                    <a href="#/lottery" class="flex-c" [ngClass]="{active:curpath === pathdata[1]}">
                        <span>{{now_lang.NAV.LOOTERY}}</span>
                        <small>Lootery</small>
                    </a>
                    <i></i>
                    <a href="#/usercenter" class="flex-c" [ngClass]="{active:curpath === pathdata[2]}">
                        <span>{{now_lang.NAV.USERCENTER}}</span>
                        <small>UserCenter</small>
                    </a>
                    <i></i>
                    <a href="#/usercenter/proinfo" class="flex-c" [ngClass]="{active:curpath === pathdata[5]}">
                        <span>{{now_lang.NAV.GAMEINFOMATION}}</span>
                        <small>GameInformation</small>
                    </a>
                    <i></i>
                    <a href="javascript:;" class="flex-c" [ngClass]="{active:curpath === pathdata[6]}">
                        <span>{{now_lang.NAV.MOBIE}}</span>
                        <small>Mobile</small>
                    </a>
                    <i></i>
                </nav>
                
            </div>

        </div>
        <div class="midimg">
            
        </div>
        
    </div>
    <div class="topline"></div>
</div>