

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    box-sizing: border-box;
}

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
//遮罩层
.shade {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 888;
}
// 弹框
#notebox{
    position: fixed;
    z-index: 999;
    .content{
        width: 300px;
        min-height: 160px;
        background-color: white;
        // border: 2px solid #fe8f00;
        border-radius: 6px;
        box-shadow: 0 0 0px 5px rgba(255, 255, 255, .3);
        justify-content: space-between;
        align-items: center;
        transform: scale(.6);
        transition: transform .1s linear;
        overflow: hidden;
        .top {
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            color: white;
            padding: 0 12px;
            justify-content: space-between;
            background: linear-gradient(to top, #941927, #e22137);
            i {
                font-size: 20px;
                align-self: flex-start;
                cursor: pointer;
            }
        }
        .note{
            width: 100%;
            padding: 16px;
            justify-content: center;
            align-items: center;
            p{
                font-size: 12px;
                line-height: 24px;
            };
        }
        .foot{
            padding: 10px;
            span{
                padding: 0 10px;
                margin: 0 12px;
                line-height: 26px;
                font-size: 14px;
                border-radius: 4px;
                cursor: pointer;
            }
            .cancel{
                color: #333;
                background-color: #f5f5f5;
                border: 1px solid #ccc;
            }
            .affirm, .cancel:hover{
                color: white;
                background: linear-gradient(to top, #941927, #e22137);
                border: none;
            }
        }
    }
    .scale{
        transform: scale(1);
    }
}