*{
    box-sizing: border-box;
}
.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.bg_1 {
    background-color: #ECECF4;
}

.container {
    width: 100%;
    padding: 0;
    align-content: flex-start;
    align-items: flex-start;
}

input {
    width: 160px;
    height: 30px;
    line-height: 20px;
    padding: 5px 0 4px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    margin-top: 0;
}

#wrap {
    margin-right: 5px;
}

select {
    width: 100px;
    height: 30px;
    line-height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.querycontent {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background-color: #F0F0F0;

    #caizhong{
        width:150px;
    }
}

.querybtn {
    height: 30px;
    line-height: 28px;
    text-align: center;
    padding: 0 14px;
    margin: 5px 10px;
    color: white;
    border-radius: 4px;
	background: linear-gradient(to top, #941927, #e22137);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}

.btnbox{
    padding-top: 10px;
    align-self: flex-end;
}

.tablebox {
    width: 100%;
    padding: 10px 0 0;
}

.tablewrap {
    width: 100%;
    overflow-x: scroll;
    border: 1px solid #ccc;
}

#table {
    table-layout: fixed;
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 1400px;
}

#table th,
    {
    font-size: 14px;
    font-weight: bold;
}

#table th,
#table td {
    text-align: center;
    height: 40px;
}
#table td{
  border-bottom: 1px solid #ccc;
}
#table tr:nth-child(even){
    background-color: #FBFBFB;
}