<div class="flex-c container">
    <div class="flex-r querycontent">
      <span>
        <label for="protype">彩种：</label>
        <select id="protype" name="protype" [(ngModel)]="protype">
          <option value="重庆时时彩【信】" selected>重庆时时彩【信】</option>
          <option value="option1">option1</option>
          <option value="option2">option2</option>
          <option value="option3">option3</option>
        </select>
      </span>
    </div>
    <div class=" flex-c tablebox">
      <div class="tablewrap">
        <table id="table" width="100%" border="1" cellspacing="0" cellpadding="4" bgcolor="#ccc" align="center">
          <tr class="bg_1">
            <th style="width:110px">玩法类型</th>
            <th>玩法分类</th>
            <th>最高奖金</th>
            <th>返点</th>
          </tr>
          <tr>
            <td>五星直选</td>
            <td></td>
            <td>1900</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>五星直选</td>
            <td></td>
            <td>19600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>五星直选</td>
            <td></td>
            <td>1960</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>五星直选</td>
            <td></td>
            <td>5600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>后三直选</td>
            <td></td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>中三直选</td>
            <td></td>
            <td>1950</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>前三直选</td>
            <td></td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>二星直选</td>
            <td></td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>二星组选</td>
            <td></td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>定位胆</td>
            <td></td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>二星一码不定胆</td>
            <td></td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td rowspan="4">四星组合</td>
            <td>一等奖_四星</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>二等奖_三星</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>三等奖_二星</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>四等奖_一星</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td rowspan="5">五星组合</td>
            <td>一等奖_五星</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>二等奖_四星</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>三等奖_三星</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>四等奖_二星</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>五等奖_一星</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td rowspan="4">特殊</td>
            <td>好事成双</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>三星报喜</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>四季发财</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
          <tr>
            <td>一路顺风</td>
            <td>195600</td>
            <td>7.8%</td>
          </tr>
        </table>
      </div>
    </div>
  </div>