

<div class="flex-c content">
    <!-- <div class="mdimg">
        <img src="../../images/mod3/bg_m3_02.png" alt="" width="100%" height="auto">
    </div> -->
    <div class="games">
        <ul class="flex-r gamecon">
            <li class="flex-c items" *ngFor="let item of cpdata; let i=index">
                <header class="flex-r gname" [ngStyle]="{'background-position-y': item.topy}">
                    <h3>{{item.title}}</h3> 
                    <span class="flex-r gxbtn">
                        <button  [ngClass]="{active: !item.gxtog}" [disabled]="!item.official" (click)="item.gxtog=0">官方</button>
                        <button [ngClass]="{active: item.gxtog}" [disabled]="!item.credit" (click)="item.gxtog=1">信用</button>
                    </span>
                </header>
                <div  class="gamelist">
                    <ul class="flex-c gamebox" [style.top.px]="item.postop">
                        <ng-container *ngFor="let child of item.items; let m=index">
                            <li class="flex-r item" *ngIf="(item.gxtog && child.credit) || (!item.gxtog && child.official)" >
                                <span class="flex-r cpnote"  (click)="linkrout(child)">
                                    <img [src]="child.imgsrc" alt="{{child.text}}">
                                    <span>{{child.text}}</span>
                                </span>
                                <button class="active" (click)="linkrout(item, m)">立即开始</button>
                            </li>
                        </ng-container>
                    </ul>

                </div>
                <div class="flex-r ibtn"  *ngIf="butshow(item)" (click)="more(item)" >
                    <i [ngClass]="{rotate:item.postop!==0}"></i>
                </div>

            </li>
        </ul>
    </div>
</div>