
*{
    box-sizing: border-box;
}
.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.color_y {
    color: #C42136;
}

.gamenav {
    width: 1200px;
    height: 160px;
    color: white;
    justify-content: space-between;
    .navitem {
        height: 160px;
        background-color: #211B27;
        overflow: hidden;
        .fltitle {
            font-size: 18px;
            line-height: 26px;
            margin: 20px;
        }
        .fltitle2 {
            width: 100%;
            padding: 0 16px;
            justify-content: space-between;
            .guize{
                cursor: pointer;
                font-size: 10px;
                i{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url("../../images/mod3/wenhao.png");
                    margin-right: 4px;
                }
            }
        }
        .marg10{
            margin: 10px;
        }
    }
    .alltype {
        width: 160px;
        align-content: center;
        align-items: center;
        background-color: #C42133;
        .frimg {
            height: 120px;
            flex: 0 0 120px;
            justify-content: center;
        }
        h3 {
            display: inline-block;
            height: 40px;
            line-height: 20px;
            font-size: 14px;
            font-weight: normal;
        }
    }
    .gametime {
        width: 340px;
        align-items: center;
        .frtime {
            width: 220px;
            height: 58px;
            border: 1px solid #766C6C;
            border-radius: 8px;
            background-color: #342840;
            justify-content: center;
            li {
                list-style: none;
                height: 40px;
                text-align: center;
                color: #fff;
                font-size: 16px;
                i {
                    position: relative;
                    // width: 24px;
                    // height: 40px;
                    // line-height: 40px;
                    // font-size: 24px;
                    // border: none;
                    // border-radius: 8px;
                    // background-color: #A41524;
                    // margin: 2px;
                    // box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.3);
                }
                i:after {
                    content: '';
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #342840;
                }
                .dabd {
                    // line-height: 30px;
                    font-size: 30px;
                    margin: 2px;
                    margin-top: -2px;
                }
            }
        }
    }
    .gameresult {
        width: 380px;
        align-items: center;
        .resultball {
            width: 100%;
            justify-content: space-around;
            align-content: center;
            flex-wrap: wrap;
            i {
                display: inline-block;
                width: 58px;
                height: 58px;
                line-height: 52px;
                font-size: 26px;
                text-align: center;
                color: white;
                background: url('../../images/mod3/balls_m3_01.png') -10px -522px;
                transform: rotatey(0deg);
                transition: transform 1000ms ease;
            }
            .rotates {
                transform: rotatey(360deg);
            }
            .bg_r50 {
                background: url('../../images/mod3/balls_m3_01.png') -10px -522px;
            }
            .bg_b50 {
                background: url('../../images/mod3/balls_m3_01.png') -10px -600px;
            }
            .bg_g50 {
                background: url('../../images/mod3/balls_m3_01.png') -10px -678px;
            }
            .bg_gray50 {
                background: url('../../images/mod3/balls_m3_01.png') -10px -756px;
            }
            .xian {
                font-size: 20px;
                font-weight: bold;
                color: #4291DB;
            }
            .zhuang {
                font-size: 20px;
                font-weight: bold;
                color: #C42136;
            }
        }
        .resultball1 {
            padding: 0 60px 0 30px;
        }
        .resultball2 {
            padding-right: 4px;
            i {
                width: 47px;
                height: 47px;
                line-height: 42px;
                font-size: 20px;
                margin: 4px;
                background: url('../../images/mod3/ballk8_m3_01.png') no-repeat;
            }
        }
        .resultball3 {
            padding: 0 30px;
            span {
                font-size: 22px;
                font-weight: bold;
                margin-top: -4px;
            }
        }
        .resultball4 {
            padding-right: 20px;
            span {
                font-size: 14px;
                font-weight: bold;
                align-self: center;
            }
            .jia {
                font-size: 22px;
                font-weight: bold;
                padding-bottom: 24px;
            }
        }
    }
    .lagbox {
        width: 660px;
        padding: 0 30px;
    }
    .toplist {
        width: 260px;
        .hosthead {
            width: 100%;
            height: 30px;
            flex: 0 0 30px;
            line-height: 30px;
            color: white;
            border-bottom: 1px solid #342840;
            span {
                cursor: pointer;
            }
            span,
            p {
                display: inline-block;
                width: 50%;
                text-align: center;
            }
            .active {
                background-color: #342840;
            }
            .slect {
                position: relative;
                width: 80px;
                height: 26px;
                line-height: 26px;
                select {
                    width: 100%;
                    height: 26px;
                    padding-left: 30px;
                    color: white;
                    background-color: inherit;
                    border: none;
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    cursor: pointer;
                    option {
                        color: black;
                    }
                }
            }
            .slect:after {
                content: '';
                position: absolute;
                top: 10px;
                right: 10px;
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-top: 6px solid white;
                border-right: 4px solid transparent;
                pointer-events: none;
                cursor: pointer;
            }
        }
        ul {
            width: 100%;
            height: 100%;
            overflow-y: auto;
            li {
                width: 100%;
                height: 22px;
                flex: 0 0 22px;
                line-height: 22px;
                font-size: 10px;
                padding: 0 10px;
                justify-content: space-between;
                span {
                    display: inline-block;
                    width: 50%;
                    text-align: center;
                }
                .history_span {
                    // max-width: 73px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
            li:hover {
                background-color: #170E1F;
            }
        }
    }
}


//===== 时间翻页动画样式开始 ==========

.paranm {
    position: relative;
    width: 24px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
    background-color: #A41524;
    margin: 2px;
    box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.3), 0px 0px 3px rgba(0,0,0,0.5);;
    .vabox{
        display: inline-block;
        width: 24px;
        height: 40px;
        line-height: 40px;
        font-size: 24px;
        border: none;
        border-radius: 8px;
        background-color: #A41524;
        box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.3);
        color: white;
        text-align: center;
    }
    .va1, .va2{
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        overflow: hidden;
    }
    .va1{
        top: 0;
        align-items: flex-start;
    }
    .va2{
        top: 50%;
        align-items: flex-end;
    }
    .transbox{
        position: absolute;
        top: 0;
        left:0;
        .playcon {
            position: relative;
            width: 24px;
            height: 40px;
            transform: rotateX(0deg);
            transform-style: preserve-3d;
            .tras1 {
                position: absolute;
                width: 100%;
                height: 50%;
                top: 0;
                left:0;
                transform: rotateX(180deg);
                backface-visibility: hidden;
                -webkit-backface-visibility:hidden;
                -moz-backface-visibility:hidden;
                -ms-backface-visibility:hidden;
                overflow: hidden;
                align-items: flex-end;
            }
            .tras2 {
                position: absolute;
                width: 100%;
                height: 50%;
                top: 0;
                left:0;
                backface-visibility: hidden;
                -webkit-backface-visibility:hidden;
                -moz-backface-visibility:hidden;
                -ms-backface-visibility:hidden;
                overflow: hidden;
                align-items: flex-start;
            }
        }
        .playani {
            transition: transform 800ms ease;
            transform: rotateX(180deg);
        }
    }
}
//===== 时间翻页动画样式结束 ==========