<div class="flex-r gamenav">
    <div class="flex-c navitem alltype">
        <div class="flex-r frimg">
            <img [src]="isrc" alt="{{currentitem}}" width="100px" height="auto" />
        </div>
        <h3>{{currentitem}}</h3>
    </div>
    <div class="flex-c navitem gametime">
        <div class="fltitle">
            <p>{{now_lang.LOT_NAV.NUMBER}}
                <span class="color_y">{{indata.next}}</span>
                {{now_lang.LOT_NAV.STAGE}} {{now_lang.LOT_NAV.PRE_TIME}}</p>
        </div>
        <ul class="flex-r frtime">
            <li class="flex-r">
                    <i class="flex-c paranm">
                        <div class="flex-r va1">
                            <span class="vabox">{{uptimedata[0]}}</span>
                        </div>
                        <div class="flex-r va2">
                            <span class="vabox">{{timedate[0]}}</span>
                        </div>
                        <div class="transbox">
                            <div class="playcon" [ngClass]="{playani:timeanimat(0)}" >
                                <div class="flex-r tras2">
                                    <span class="vabox">{{timedate[0]}}</span>
                                </div>
                                <div class="flex-r tras1">
                                    <span class="vabox">{{uptimedata[0]}}</span>
                                </div>
                            </div>
                        </div>
                    </i>
                <i class="flex-c paranm">
                    <div class="flex-r va1">
                        <span class="vabox">{{uptimedata[1]}}</span>
                    </div>
                    <div class="flex-r va2">
                        <span class="vabox">{{timedate[1]}}</span>
                    </div>
                    <div class="transbox">
                        <div class="playcon" [ngClass]="{playani:timeanimat(1)}" >
                            <div class="flex-r tras2">
                                <span class="vabox">{{timedate[1]}}</span>
                            </div>
                            <div class="flex-r tras1">
                                <span class="vabox">{{uptimedata[1]}}</span>
                            </div>
                        </div>
                    </div>
                </i>
                <span class="dabd">:</span>
            </li>
            <li class="flex-r">
                <i class="flex-c paranm">
                    <div class="flex-r va1">
                        <span class="vabox">{{uptimedata[2]}}</span>
                    </div>
                    <div class="flex-r va2">
                        <span class="vabox">{{timedate[2]}}</span>
                    </div>
                    <div class="transbox">
                        <div class="playcon" [ngClass]="{playani:timeanimat(2)}" >
                            <div class="flex-r tras2">
                                <span class="vabox">{{timedate[2]}}</span>
                            </div>
                            <div class="flex-r tras1">
                                <span class="vabox">{{uptimedata[2]}}</span>
                            </div>
                        </div>
                    </div>
                </i>
                <i class="flex-c paranm">
                    <div class="flex-r va1">
                        <span class="vabox">{{uptimedata[3]}}</span>
                    </div>
                    <div class="flex-r va2">
                        <span class="vabox">{{timedate[3]}}</span>
                    </div>
                    <div class="transbox">
                        <div class="playcon" [ngClass]="{playani:timeanimat(3)}" >
                            <div class="flex-r tras2">
                                <span class="vabox">{{timedate[3]}}</span>
                            </div>
                            <div class="flex-r tras1">
                                <span class="vabox">{{uptimedata[3]}}</span>
                            </div>
                        </div>
                    </div>
                </i>
                <span class="dabd">:</span>
            </li>
            <li class="flex-r">
                <i class="flex-c paranm">
                    <div class="flex-r va1">
                        <span class="vabox">{{uptimedata[4]}}</span>
                    </div>
                    <div class="flex-r va2">
                        <span class="vabox">{{timedate[4]}}</span>
                    </div>
                    <div class="transbox">
                        <div class="playcon" [ngClass]="{playani:timeanimat(4)}" >
                            <div class="flex-r tras2">
                                <span class="vabox">{{timedate[4]}}</span>
                            </div>
                            <div class="flex-r tras1">
                                <span class="vabox">{{uptimedata[4]}}</span>
                            </div>
                        </div>
                    </div>
                </i>
                <i class="flex-c paranm">
                    <div class="flex-r va1">
                        <span class="vabox">{{uptimedata[5]}}</span>
                    </div>
                    <div class="flex-r va2">
                        <span class="vabox">{{timedate[5]}}</span>
                    </div>
                    <div class="transbox">
                        <div class="playcon" [ngClass]="{playani:timeanimat(5)}" >
                            <div class="flex-r tras2">
                                <span class="vabox">{{timedate[5]}}</span>
                            </div>
                            <div class="flex-r tras1">
                                <span class="vabox">{{uptimedata[5]}}</span>
                            </div>
                        </div>
                    </div>
                </i>
            </li>
        </ul>
    </div>
    <div class="flex-c navitem gameresult" [ngClass]="{lagbox:type==='kl8'||type==='lhc'||type==='pk10'||type==='gdk10'}">
        <div class="fltitle" [ngClass]="{marg10:type==='kl8'}">
            <p>{{now_lang.LOT_NAV.NUMBER}}
                <span class="color_y">{{indata.prev}}</span>
                {{now_lang.LOT_NAV.STAGE}} {{now_lang.LOT_NAV.AWARD_NUMBER}}</p>
        </div>
        <!-- 不同彩种开奖球布局 -->
        <span class="flex-r resultball" *ngIf="type==='ssc'||type==='exf'||type==='dpc'||type==='gxk10'||type==='pl35'">
            <i *ngFor="let item of resultdata" [ngClass]="{bg_r50:item.color==='red',bg_b50:item.color==='blue',bg_g50:item.color==='green',rotates:rotate}">{{item.numb}}</i>
        </span>
        <span class="flex-r resultball resultball1" *ngIf="type==='k3'">
            <i *ngFor="let item of resultdata" [ngClass]="{bg_r50:item.color==='red',bg_b50:item.color==='blue',bg_g50:item.color==='green',rotates:rotate}">{{item.numb}}</i>
        </span>
        <span class="flex-r resultball resultball2" *ngIf="type==='pk10'||type==='gdk10'||type==='kl8'">
            <i *ngFor="let item of resultdata" [ngClass]="{rotates:rotate}">{{item.numb}}</i>
        </span>
        <span class="flex-r resultball resultball3" *ngIf="type==='pcdd'">
            <i [ngClass]="{bg_r50:resultdata[0].color==='red',bg_b50:resultdata[0].color==='blue',bg_g50:resultdata[0].color==='green',bg_gray50:resultdata[0].color==='gray',rotates:rotate}">{{resultdata[0].numb}}</i>
            <span>+</span>
            <i [ngClass]="{bg_r50:resultdata[1].color==='red',bg_b50:resultdata[1].color==='blue',bg_g50:resultdata[1].color==='green',bg_gray50:resultdata[1].color==='gray',rotates:rotate}">{{resultdata[1].numb}}</i>
            <span>+</span>
            <i [ngClass]="{bg_r50:resultdata[2].color==='red',bg_b50:resultdata[2].color==='blue',bg_g50:resultdata[2].color==='green',bg_gray50:resultdata[2].color==='gray',rotates:rotate}">{{resultdata[2].numb}}</i>
            <span>=</span>
            <i [ngClass]="{bg_r50:pcddsum.color==='red',bg_b50:pcddsum.color==='blue',bg_g50:pcddsum.color==='green',bg_gray50:pcddsum.color==='gray',rotates:rotate}">{{pcddsum.numb}}</i>
        </span>
        <span class="flex-r resultball resultball4" *ngIf="type==='lhc'">
            <span class="flex-c" *ngFor="let item of resultdata">
                <i [ngClass]="{bg_r50:item.color==='red',bg_b50:item.color==='blue',bg_g50:item.color==='green',rotates:rotate}">{{item.numb}}</i>
                <span>{{item.shengxiao}}</span>
            </span>
            <span class="jia">+</span>
            <span class="flex-c">
                <i [ngClass]="{bg_r50:lhcte.color==='red',bg_b50:lhcte.color==='blue',bg_g50:lhcte.color==='green',rotates:rotate}">{{lhcte.numb}}</i>
                <span>{{lhcte.shengxiao}}</span>
            </span>
        </span>
        <span class="flex-r resultball" *ngIf="type==='vrcbjl'">
            <span class="xian">闲</span>
            <i *ngFor="let item of resultdata let i= index" [ngClass]="{bg_b50:i<2,rotates:rotate}">{{item.numb}}</i>
            <span class="zhuang">庄</span>
        </span>

        <!-- 不同彩种开奖球布局end -->
    </div>
    <div class="flex-c navitem toplist" *ngIf="type!=='kl8' && type!=='lhc' && type!=='pk10' && type!=='gdk10'">
        <span class="flex-r hosthead">
            <span [ngClass]="{active:toplsactive === 0}" (click)="toplsactive = 0">出码排行</span>
            <span [ngClass]="{active:toplsactive === 1}" (click)="toplsactive = 1">遗漏排行</span>
        </span>
        <ng-container *ngIf="toplsactive === 1">
            <ul class="flex-c">
                <li class="flex-r" *ngFor="let item of hostarr">
                    <span>050810</span>
                    <span class="color_y history_span">10,5,8,1,9,12,12,12</span>
                </li>
            </ul>
        </ng-container>
        <ng-container *ngIf="toplsactive === 0">
            <span class="flex-r hosthead">
                <p>次数</p>
                <p>
                    <span class="flex-r slect">
                        <select name="issue" id="issue" [(ngModel)]="toplsval">
                            <option value="1期">1期</option>
                            <option value="2期">2期</option>
                            <option value="3期">3期</option>
                        </select>
                    </span>
                </p>
            </span>
            <ul class="flex-c">
                <li class="flex-r" *ngFor="let item of hostarr">
                    <span>第一球单双@双</span>
                    <span class="color_y history_span">{{toplsval}}</span>
                </li>
            </ul>
        </ng-container>
    </div>
</div>

        <!-- 规则说明组件 -->
        <!-- <app-rule [ruleshow]="rule_show" [cptype]="type" [cpstyle]="indata.style" [cpnav]="ruletab" [cpname]="currentitem" (close)="ruleclose()"></app-rule> -->