.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}

.footerbox {
    width: 100%;
    min-width: 1200px;
    background-color: white;
    font-size: 14px;
    align-items: center;
    .foot {
        width: 1200px;
        align-items: center;
        padding:40px 0;

        .fotnav {
            color: #B74B07;
            // height: 30px;
            font-size: 16px;
            padding-bottom: 20px;

            a {
                text-decoration: none;
                color: #B74B07;
                cursor: pointer;
            }

            i {
                padding: 0 12px;
                margin-top: -2px;
            }

        }
        .footinfo{
            color: #80829F;
            line-height: 30px;
        }
    }
}