<div id="footer" class="flex-c footerbox">
    <footer class="flex-c foot">
        <nav class="flex-r fotnav">
            <a href="javascript:;">帮帮我</a>
            <i>|</i>
            <a href="javascript:;">联系我们</a>
            <i>|</i>
            <a href="javascript:;">隐私声明</a>
            <i>|</i>
            <a href="javascript:;">条款和条件</a>
            <i>|</i>
            <a href="javascript:;">移动端下载</a>

        </nav>
        <p class="footinfo">
            豪彩公司版权所有
        </p>
        <p class="footinfo">
                Copyright © 2018 HaoCaiYuLe Co. Group All Rights Reser
        </p>
        <p class="footinfo">
                © 2018 HaoCaiYuLe Co. Group All Rights Reser
        </p>
        <p class="footinfo">
            本网络游戏适合18+岁的用户使用；为了您的健康，请合理控制游戏时间。
        </p>
    </footer>
</div>

