<div class="flex-c body" [hidden]="!loadpage">
    <div id="layer"></div>
    <div id="layer2" #layer2>
        <div class="chase_container ">
            <div class="cover_bg" #cover_bg></div>
            <div id="layer_box" #layer>
                <div class="top_til">
                    <div class="til">某某彩 追号</div>
                    <div class="close" (click)='close_chase()'>x</div>
                </div>
                <div class="content_box">
                    <div>
                        <div class="top_tab">
                            <div class="tab_box">
                                <div class="tab_item one active" (click)='tab_chase("one",one_chase,two_chase)'>
                                    同倍追号
                                </div>
                                <div class="tab_item two" (click)='tab_chase("two",one_chase,two_chase)'>
                                    翻倍追号
                                </div>
                            </div>
                        </div>
                        <div class="one_chase active" #one_chase>
                            <div class="top_config">
                                <div class="config_col">

                                    <div class="config_item">
                                        追号期数
                                        <input class="config_input" maxlength="3" [(ngModel)]='chase_number_config.chase_amount'
                                            type="number">
                                    </div>
                                    <div class="config_item">
                                        起始倍数
                                        <input class="config_input" [(ngModel)]='chase_number_config.multiple' maxlength="3"
                                            type="number">
                                    </div>
                                    <div class="config_item checkbox_box">
                                        <label>
                                            <input type="checkbox" />官方跳开即停</label>
                                        <label>
                                            <input type="checkbox" />中奖后停止追号</label>
                                    </div>
                                </div>
                                <div class="config_col">
                                    <div class="config_item ">
                                        追号期数:
                                        <select id="select_amount" name="select_amount" [(ngModel)]="chase_number_config.select_amount" (change)="typeoptchange()">
                                            <option *ngFor="let item of typeoptiondata" value="{{item}}">{{item=='all'?'所有':item+'期'}}</option>
                                        </select>

                                    </div>
                                    <div class="config_item ">
                                        追号期数:
                                        <div>
                                            {{chase_amount}}
                                        </div>

                                    </div>
                                    <div class="config_item ">
                                        追号总金额:
                                        <div>
                                            {{chase_money}}元
                                        </div>

                                    </div>
                                    <div class="config_item flr">
                                        <div class="preduce_btn btnh_w120_h40" (click)="produce_plan()">
                                            生成追号计划
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="number_list">
                                <div class="itembox">
                                    <div class="til_top">
                                        期号
                                    </div>
                                    <div class="divid"></div>
                                </div>
                                <div class="itembox">
                                    <div class="til_top">
                                        倍数
                                    </div>
                                    <div class="divid"></div>
                                </div>
                                <div class="itembox">
                                    <div class="til_top">
                                        当前投入
                                    </div>
                                    <div class="divid"></div>
                                </div>
                                <div class="itembox">
                                    <div class="til_top">
                                        截止时间
                                    </div>
                                </div>
                                <div class="item_content">
                                    <ul>
                                        <li *ngFor='let item of lotdata_now'>
                                            <div class="item_child">
                                                <label>
                                                    <input type="checkbox" (change)='check_lot(item)' [(ngModel)]="item.checkon"
                                                    />{{item.lot_num}}</label>
                                            </div>
                                            <div class="item_child">
                                                <div>
                                                    <input class="config_input" (input)='get_takemon(item)' [(ngModel)]="item.multiple" maxlength="10" type="number">倍
                                                </div>
                                            </div>
                                            <div class="item_child">
                                                ￥{{item.take_money}}
                                            </div>
                                            <div class="item_child">
                                                {{item.expire_time}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="two_chase" #two_chase>
                            <div class="top_config">
                                <div class="config_col">
                                    <div class="config_item">
                                        追号计划:
                                    </div>
                                    <div class="config_item">
                                        每隔
                                        <input class="config_input" maxlength="3" [(ngModel)]='chase_number_config.chase_rule.number'
                                            type="number">期X
                                        <input class="config_input" [(ngModel)]='chase_number_config.chase_rule.multiple' maxlength="3" type="number">倍
                                    </div>
                                    <div class="config_item">
                                        追号期数
                                        <input class="config_input" maxlength="3" [(ngModel)]='chase_number_config.chase_amount'
                                            type="number">
                                    </div>
                                    <div class="config_item">
                                        起始倍数
                                        <input class="config_input" [(ngModel)]='chase_number_config.multiple' maxlength="3"
                                            type="number">
                                    </div>
                                    <div class="config_item checkbox_box">
                                        <label>
                                            <input type="checkbox" />官方跳开即停</label>
                                        <label>
                                            <input type="checkbox" />中奖后停止追号</label>
                                    </div>
                                </div>
                                <div class="config_col">
                                    <div class="config_item ">
                                        追号期数:
                                        <select id="select_amount" name="select_amount" [(ngModel)]="chase_number_config.select_amount" (change)="typeoptchange()">
                                            <option *ngFor="let item of typeoptiondata" value="{{item}}">{{item=='all'?'所有':item+'期'}}</option>
                                        </select>

                                    </div>
                                    <div class="config_item ">
                                        追号期数:
                                        <div>
                                            {{chase_amount}}

                                        </div>

                                    </div>
                                    <div class="config_item ">
                                        追号总金额:
                                        <div>
                                            {{chase_money}}元
                                        </div>

                                    </div>
                                    <div class="config_item flr">
                                        <div class="preduce_btn btnh_w120_h40" (click)="produce_plan()">
                                            生成追号计划
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="number_list">
                                <div class="itembox">
                                    <div class="til_top">
                                        期号
                                    </div>
                                    <div class="divid"></div>
                                </div>
                                <div class="itembox">
                                    <div class="til_top">
                                        倍数
                                    </div>
                                    <div class="divid"></div>
                                </div>
                                <div class="itembox">
                                    <div class="til_top">
                                        当前投入
                                    </div>
                                    <div class="divid"></div>
                                </div>
                                <div class="itembox">
                                    <div class="til_top">
                                        截止时间
                                    </div>
                                </div>
                                <div class="item_content">
                                    <ul>
                                        <li *ngFor='let item of lotdata_now'>
                                            <div class="item_child">
                                                <label>
                                                    <input type="checkbox" (change)='check_lot(item)' [(ngModel)]="item.checkon"
                                                    />{{item.lot_num}}</label>
                                            </div>
                                            <div class="item_child">
                                                <div>
                                                    <input class="config_input" (input)='get_takemon(item)' [(ngModel)]="item.multiple" maxlength="10" type="number">倍
                                                </div>
                                            </div>
                                            <div class="item_child">
                                                ￥{{item.take_money}}
                                            </div>
                                            <div class="item_child">
                                                {{item.expire_time}}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="confirm_box">
                    <div class="confirm_btn" (click)="rechase_data()">清空追号</div>
                    <div class="confirm_btn">直接投注</div>
                    <div class="confirm_btn" (click)="close_chase()">取消</div>
                </div>
            </div>
        </div>
    </div>
    <div class="conbox">
        <div class="content" style="margin-top:30px;">
            <app-credtop type="dpc" [indata]="cpnav"></app-credtop>
            <div class="sscorder">
                <div class="sscleft">
                    <div class="tabbox">
                        <span class="pointl">
                            <i></i>
                        </span>
                        <ul class="typetab">
                            <ng-container *ngFor="let val of menu_1;let i = index;">
                                <li class="tab_li" *ngIf='nowitems.tabitem.indexOf(val.name)!=-1' [ngClass]="{active: status.menu_1 === val.active}" (click)="tabmenu(val)">{{val.name}}</li>
                            </ng-container>
                        </ul>
                        <span class="pointr">
                            <i></i>
                        </span>
                        <!-- <ul class="totaltype">
                            <li class="active">
                                <a>{{now_lang.Ball_tab.Official}}</a>
                            </li>
                            <li (click)="linkrouter()">
                                <a>{{now_lang.Ball_tab.Credit}}</a>
                            </li>
                        </ul> -->
                    </div>
                    <div class="tabcon">
                        <div class="tabshow">
                            <ul class="navcon" *ngFor="let val of menu_2">
                                <span class="labtit">{{val.title}}</span>
                                <li [ngClass]="{active: status.menu_2 === item.index}" *ngFor="let item of val.menu" (click)="tabmenu2(item)">{{item.name}}</li>
                            </ul>
                            <p class="tip">{{now_lang.Ball_tab.Tips}}：{{nowitems.name}}{{now_lang.Ball_tab.Tips2}} 300000 {{now_lang.Ball_tab.Yuan}}</p>
                        </div>
                    </div>
                    <div class="chooseno">
                        <div class="helpbox">
                            <div class="hot_lost" [ngClass]="{hot_hidden:hothidden}">
                                <label>
                                    <input #curel type="checkbox" (click)="checkomit(curel,'yl')" name="ballcheck" />{{now_lang.Ball_tab.Miss}}</label>
                                <label>
                                    <input #lr type="checkbox" (click)="checkomit(lr,'lr')" name="ballcheck" />{{now_lang.Ball_tab.Hot_cold}}</label>
                            </div>
                            <div class="tip">
                                <i></i>
                                {{now_description}}
                                <div class="tips" #tips2 [ngClass]="{tipshidden:tips_hidden}">
                                    <span>{{now_tips}}</span>
                                    <!-- 111 -->
                                </div>
                            </div>
                            <div class="example" style="padding-left:19px;">
                                <i class="i2" (mouseenter)="show_tips('example',tips1)" (mouseleave)="hid_tips('example',tips1)"></i>
                                {{now_lang.Ball_tab.Choose_examp}}
                                <div class="tips" #tips1 [ngClass]="{tipshidden:tips_hidden}">
                                    <span [innerHtml]='now_tips'></span>
                                    <!-- 111 -->
                                </div>

                            </div>
                            <div class="example">
                                <i class="i1" (mouseenter)="show_tips('rule',tips)" (mouseleave)="hid_tips('rule',tips)"></i>
                                {{now_lang.Ball_tab.Play_examp}}
                                <div class="tips" #tips [ngClass]="{tipshidden:tips_hidden}">
                                    <span [innerHtml]='now_tips'></span>
                                    <!-- 111 -->
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="check_ballplace" *ngIf="choosem_status">	
						<div class="til">
							选择位置：
						</div>
						<div id="fiveabso" class="check_box">
							<label><input type="checkbox"  value="w"  (click)="checkabo()" checked="checked"/>万</label>
							<label><input type="checkbox"  value="q"  (click)="checkabo()" checked="checked"/>千</label>
							<label><input type="checkbox"  value="b"  (click)="checkabo()" checked="checked"/>百</label>
							<label><input type="checkbox"  value="s"  (click)="checkabo()" checked="checked"/>十</label>
							<label><input type="checkbox"  value="g"  (click)="checkabo()" checked="checked"/>个</label>
						</div>
						<div class="tips_right">
							( 温馨提示：你选择了 <div class="orange_font">{{countabo.count}}</div> 个位置，系统会自动根据位置组合成 <div class="orange_font">{{countabo.plan}}</div> 个方案 )
						</div>
					</div>
					<div *ngIf="up_ball == 1">
                        <div class="chooselist elsebg" [ngClass]="{elsebg: i%2==0}"  *ngFor="let val of now_balllist;let i = index">
                            <div class="leftnum">
                                <div class="numcon">
                                    <div class="name">{{val.title}}</div>
                                    <ul class="numlist">
                                        <li #ballid [ngClass]="{active: item==now_matchtab[i][item]}" *ngFor="let item of val.ball;let f = index" (click)= 'oneball(i,f,item,ballid)'>{{item}}</li>
                                    </ul>
                                </div>
                                <div class="choosecheck" [hidden]="!omitarr[val.index] || omitarr[val.index].length<1">
                                    <div class="name">{{omitname}}</div>
                                    <ul class="numlist">
                                        <li class="active" *ngFor="let eldata of omitarr[val.index]">{{eldata}}</li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="numright">
                                <li #nowid *ngFor="let valtab of val.tab;let d = index" (click)="choosetab(i,d,valtab,nowid)">{{valtab}}</li>
                            </ul>
                        </div>
					</div>
					<div *ngIf="up_ball==2">
						<div class="sumBtn_box">
							<div class="left_input">
								<textarea name="" id="fileReader" (keyup) = "textball('fileReader')"></textarea>
							</div>
							<div class="btn_box">
								<div class="rt_btn btnh_w120_h40" (click)="delnum('fileReader')">删除重复号</div>
								<div class="rt_btn btnh_w120_h40">导入文件
									<input #uploadFile type="file" accept="text/plain" class="file-input" (change)="filetxt($event,'fileReader')" />
								</div>
								<div class="rt_btn btnh_w120_h40" (click)="clearfile('fileReader')">清空</div>
							</div>
							<div class="input_tips">
									程序会自动过滤掉不合法的号码,您也可以点击  <span class="gray_font">"删除重复号"</span> 按钮对输入内容进行格式化。
							</div>
						</div>
					</div>
					<div class="addchoose">
						<div class="funleft">
							<div class="topcz">
								<div class="amount">
									<span class="title">倍数：</span>

									<em class="btnaddrem" (click)="minusrem('multiple')">-</em><input class="mathinput" type="text" name="beis" id="testinput" [(ngModel)]="multiple_input.value" (focus)="toggle_ul('multiple')" maxlength="5" (keyup)="changereg()"  (blur)="toggle_ul('')"/><em class="btnaddrem" (click)="addrem('multiple')">+</em>

									<ul class="dropdown" [ngClass]="{ulhidden:ul_hidden}">
										<li (click)="check_multi(item)" *ngFor="let item of multi_select">{{item}}</li>
									</ul>
								</div>
								<div class="amount">
									<span class="title">模式：</span>
									<select class="mathselect" name="mos" [(ngModel)]="model" (change) = "modelchange(totalinfo.count)">
										<option *ngFor="let item of models;let i = index" [value]='i'>{{item}}</option>  
									</select>
								</div>
								<div class="amount">
									<span class="title">随机：</span>
									<em class="btnaddrem" (click)="minusrem('radom')">-</em><input class="mathinput" type="text" name="beis" maxlength="5" [(ngModel)]="radom_input.value"  (focus)="inmoneyfocus('radom')" (keyup)="changereg()" /><em class="btnaddrem" (click)="addrem('radom')">+</em><span class="title ml10">注</span>
									
								</div>
								<div class="amount">
									<span class="title mr10">{{rangepercent}}%</span>
									<em class="btnaddrem" (click)="rangevaluelessen()">-</em>

									<div class="range_box" id="range_box">
										<div class="range_line">
											<div class="range_tag" id="range_tag">
												
											</div>
										</div>
									</div>

									<em class="btnaddrem" (click)="rangevalueadd()">+</em><span class="title ml10">{{rangenum}}</span>
								</div>
							</div>
							<div class="tip">
								<span class="comtext">共选<em>{{totalinfo.count}}</em>注，共投<em>{{totalinfo.sum}}</em>元，盈利<em>{{totalinfo.amount}}</em>元</span>
								<label><input type="checkbox" />是否锁定倍数</label>
							</div>
						</div>
						<div class="btnright">
							<a class="btnh_w120_h40 mb10 bgyellow" [ngClass]="{noactive: !ballcurr.status}" (click)='addball(menu_2,ballcurr.status)'>添加号码</a>
							<a class="btnh_w120_h40 bgyellow" (click)='mathball(menu_2)'>随机添加</a>
						</div>
					</div>
                    <div class="resultarea">
                        <div class="betcheck">
                            <ul class="betarea">
                                <li *ngFor="let val of sureballlist;let i = index">
                                    <div class="lot_type">{{val.name}}</div>
                                    <div class="lot_num">{{val.ball}}</div>
                                    <div>{{models[val.model]}}</div>
                                    <div>{{val.count}}{{now_lang.Ball_tab.Ticket}}</div>
                                    <div>{{val.multiple}}{{now_lang.Ball_tab.Multiple1}}</div>
                                    <div>{{val.sum}}{{now_lang.Ball_tab.Yuan}}</div>
                                    <a class="lot_close" (click)="delball('del',val)"></a>
                                </li>
                            </ul>
                            <p class="info">
                                {{now_lang.Ball_tab.On}}
                                <span>20180517021</span>{{now_lang.Ball_tab.Expire_time}}：
                                <span>00:04:22</span>{{now_lang.Ball_tab.All_orders}}：
                                <span>{{orderinfo.total}}</span>{{now_lang.Ball_tab.All_tickets}}
                                <span>{{orderinfo.betcount}}</span>{{now_lang.Ball_tab.All_amounts}}
                                <span>{{orderinfo.money}}</span>{{now_lang.Ball_tab.Yuan}}
                            </p>
                        </div>
                        <div class="btnright">
                            <a class="btnh_w120_h40 bgfff mb10">{{now_lang.Ball_tab.Order_history}}</a>
                            <a class="btnh_w120_h40 bgfff mb10" (click)='chase_number()'>{{now_lang.Ball_tab.Chasing}}</a>
                            <label>
                                <input type="checkbox" />{{now_lang.Ball_tab.Open_stop}}</label>
                            <label>
                                <input type="checkbox" />{{now_lang.Ball_tab.Win_stop}}</label>
                        </div>
                    </div>
                    <div class="surearea">
                        <a class="btnh_w120_h40 bgyellowcenter" (click)="delball('clear','')">{{now_lang.Ball_tab.Clear_number}}</a>
                        <a class="btnh_w120_h40 bgyellowcenter">{{now_lang.Ball_tab.confirm_bet}}</a>
                    </div>
                </div>
                <!-- 右边信息区内容 -->
                <div class="flex-c infobox">
                    <div class="infoitem userinfobox">
                        <span class="flex-r userinfo">
                            <i>
                                <img src="../../images/cqssc_13.png" height="177" width="688" alt="">
                            </i>
                            <span>{{userInfo.name}}</span>
                        </span>
                        <span>{{now_lang.Right_info.Balance}}：
                            <span class="orange_font">{{userInfo.balance}}</span> {{now_lang.Ball_tab.Yuan}}</span>
                        <span class="flex-r userbtngroup">
                            <span class='money_btn'>{{now_lang.Right_info.In_money}}</span>
                            <span class='money_btn'>{{now_lang.Right_info.Our_money}}</span>
                            <span class='money_btn'>{{now_lang.Right_info.transf_money}}</span>
                        </span>

                    </div>
                    <div class="resultinfobox">
                        <div class="flex-c infoitem  resultinfo">

                            <span class="top_til">
                                <span class='til_ico til_ico_history'></span>
                                <span class='til_font'>{{now_lang.Right_info.Open_history}}</span>
                            </span>
                            <ul class="resultul">
                                <li class="flex-r resultitem" *ngFor="let item of resultdata">
                                    <span>{{item.sta}} {{now_lang.Ball_tab.Term}}</span>
                                    <strong class="flex-r resultitemr color_y">{{item.num}}</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="resultinfobox">
                        <div class="flex-c infoitem  resultinfo">
                            <span class="top_til">
                                <span class='til_ico til_ico_rank'></span>
                                <span class='til_font'>{{now_lang.Right_info.Win_rank}}</span>
                            </span>
                            <ul class="resultul">
                                <li class="flex-r resultitem" *ngFor="let item of rankdata; let i=index;">
                                    <span class='num_til'>{{i+1}}</span>
                                    <span class='name_font'>{{item.name}}</span>
                                    <span>{{item.type}}</span>
                                    <span class='font_orange'>{{item.money}}</span>
                                    <!-- <strong class="flex-r resultitemr color_y">2 9 0 8 7</strong> -->
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>
        <app-pupout [data]='popoutInfo' (close)="closePopouot($event)" (notarize)="NOTARIZE()"></app-pupout>