
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}


.color_m {
    color: #C42136;
}

.container {
    width: 100%;
    min-width: 1200px;
    margin: 0;
    padding: 0;
    background: url("../images/mod3/bg_m3_01.png") center no-repeat;
    background-size: cover;
    ul{
        list-style: none
    }
}

.content{
    position: relative;
    width: 1200px;
    div{
        width: 100%;
    }
    .mdimg{
        max-height: 414px;
        overflow: hidden;
    }
    .gamesbox{
        width: 100%;
        padding-bottom: 20px;
        background-color: #342840;
        .games{
            ul{
                width: 100%;
                justify-content: center;
                li{
                    width: 212px;
                    height: 194px;
                    margin: 10px;
                    font-size: 14px;
                    color: #DFDFDF;
                    background: url("../images/mod3/indexbg_m3_01.png") no-repeat;
                    justify-content: space-between;
                    cursor: pointer;
                    .cpitem{
                        width: 100%;
                        padding: 5px;
                        flex: 1;
                        i{
                            width: 64px;
                            height: 60px;
                            margin: 20px 0;
                            background: url('../images/mod3/cplogo_m3_01.png');
                            background-position-x: -10px;
                        }
                    }
                    .botbtn{
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        background-color: #170E1F;
                    }
                    .active{
                        background: linear-gradient(to top ,#941927, #e22137);
                    }
                }
            }
            
        }
        .gpro{
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 20px;
            .proitem{
                .head{
                    display: inline-block;
                    width: 100%;
                    height: 40px;
                    line-height: 42px;
                    font-size: 14px;
                    padding: 0 10px;
                    color: #DFDFDF;
                    background-color: #170E1F;
                }
            }
            .proctent{
                cursor: pointer;
            }
            .activity{
                width: 404px;
                height: 288px;
                .head{
                    border-right: 1px solid #342840;
                }
                .proctent{
                    width: 404px;
                    height: 248px;
                    background: url("../images/mod3/indexbg_m3_03.png") no-repeat;
                    background-size: cover;
                }
            }
            .recomd{
                width: 456px;
                height: 288px;
                .proctent{
                    width: 456px;
                    height: 248px;
                    background: url("../images/mod3/indexbg_m3_02.png") no-repeat;
                    background-size: cover;
                }
            }
            .rank{
                width: 320px;
                height: 288px;
                align-items: flex-start;
                overflow: hidden;
                .head{
                    position: relative;
                    width: 100%;
                    height: 40px;
                    flex: 0 0 40px;
                    line-height: 40px;
                    font-size: 14px;
                    border-left: 1px solid #342840;
                    background-color: #170E1F;
                    justify-content: space-between;
                    align-content: center;
                    span{
                        display: inline-block;
                        width: 50%;
                        text-align: center;
                        color: #DFDFDF;
                        background-color: #170E1F;
                        cursor: pointer;
                    }
                    .activeline {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 50%;
                        height: 2px;
                        background-color: #A80B42;
                        border-radius: 1px;
                        transition: left 200ms ease;
                    }
                    .zjline{
                        left: 50%;
                    }
                }
                .tab_info{
                    position: relative;
                    width: 100%;
                    height: 288px;
                    background-color: #211B27;
                    overflow: hidden;
                    .infobox{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        .info_tr {
                            width: 100%;
                            height: 48px;
                            line-height: 24px;
                            color: white;
                            font-size: 12px;
                            border-bottom: 1px solid #342840;
                            justify-content: space-between;
                            padding: 0 14px;
                            cursor: pointer;
                            .info-text{
                            }
                            i{
                                width: 33px;
                                height: 33px;
                                line-height: 30px;
                                font-size: 16px;
                                margin-right: 20px;
                                text-align: center;
                                background: url('../images/mod3/icon_m3_01.png') -10px -137px;
                            }
                            strong{
                                padding: 0 4px;
                            }
                        }
                        .info_tr:hover{
                            background-color: #110819;
                        }
                    }

                }
            }
        }
    }
}




footer {
    width: 100%;
}
.mfoot{
    width: 100%;
    height: 296px;
    background-color: #010101;
    header{
        height: 60px;
        justify-content: center;
    }
    .footinfo{
        width: 1060px;
        height: 50px;
        margin: 20px 0;
        justify-content: center;
        border-top: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        p{
            font-size: 14px;
            color: white;
        }
    }
}