<div class="flex-c container">
    <header>
        <app-header [username]="'test08'" [curpath]="'index'"></app-header>
    </header>
    <main>
        <div class="flex-c content">
            <div class="mdimg">
                <img src="../images/mod3/bg_m3_02.png" alt="" width="100%" height="auto">
            </div>
            <div class="flex-c gamesbox">
                <div class="games">
                    <ul class="flex-r">
                        <li class="flex-c" *ngFor="let item of cpdata; let i = index" (mouseenter)="entercp(i)" (mouseleave)="leavecp(i)" (click)="linkrout(item.link)">
                            <span class="flex-c cpitem">
                                <i [ngStyle]="{'background-position-y': item.top,'width':item.width,'height':item.height}"></i>
                                <span>{{item.name}}</span>

                            </span>
                            <span class="botbtn" [ngClass]="{active:cpacitve === i}">开始游戏</span>
                        </li>
                    </ul>
                </div>
                <div class="flex-r gpro">
                    <div class="flex-r" style="width: 734px">
                        <span class="flex-c proitem activity">
                            <header class="head">
                                <span>最新活动</span>
                            </header>
                            <span class="proctent">

                            </span>

                        </span>
                        <span class="flex-c rank" (mouseenter)="liststop(0)" (mouseleave)="liststop(1)">
                            <header class="flex-r head">
                                <span (click)="toglist(0)">投注排行</span>
                                <span (click)="toglist(1)">中奖排行</span>
                                <span class="activeline" [ngClass]="{zjline:cursrank===1}"></span>
                            </header>

                            <div class="tab_info">
                                <ul id="infobox" class="flex-c infobox" [style.top.px]="listdata.top">
                                    <ng-container *ngIf="cursrank===0">
                                        <li class="flex-r info_tr" *ngFor="let item of listdata.touzhu_list; let i = index">
                                            <span class="flex-r">
                                                <i>{{i+1}}</i>
                                                <span>QWE******</span>
                                            </span>
                                            <span class="info-text">
                                                <strong class="color_m">12345678</strong>元
                                            </span>

                                        </li>
                                    </ng-container>
                                    <ng-container *ngIf="cursrank===1">
                                        <li class="flex-r info_tr" *ngFor="let item of listdata.zhogj_list; let i = index">
                                            <span class="flex-r">
                                                <i>{{i+1}}</i>
                                                <span>CZH+++++</span>
                                            </span>
                                            <span class="info-text">
                                                <strong class="color_m">888888</strong>元
                                            </span>

                                        </li>
                                    </ng-container>
                                </ul>

                            </div>

                        </span>
                    </div>
                    <span class="flex-c proitem recomd">
                        <header class="head">
                            <span>最新推荐</span>
                        </header>
                        <span class="proctent">

                        </span>
                    </span>

                </div>

            </div>

        </div>

    </main>



</div>

<footer>
    <div class="flex-c mfoot">
        <header class="flex-c">
            <img src="../images/mod3/logo_m3_01.png" alt="豪彩网">
        </header>
        <span class="footitem">
            <img src="../images/mod3/footbg_m3_01.png" alt=" ">
        </span>
        <span class="flex-c footinfo">
            <p>GODLUCK权所有 Copyright © 2018 HaoCaiYuLe Co. Group All Rights Res</p>
        </span>
        <span class="footitem">
            <img src="../images/mod3/footbg_m3_02.png" alt=" ">
        </span>

    </div>

</footer>