*{
    box-sizing: border-box;
}
.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.flex-r-l {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: left;
    align-items: left;
}
.flex-r-l-w{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: left;
    align-items: left;
    flex-wrap: wrap;
}
.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
.bg_1 {
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    padding: 0;
    align-content: flex-start;
    align-items: flex-start;
}

input {
    width: 132px;
    height: 30px;
    line-height: 20px;
    padding: 5px 0 4px 5px;
    border: 1px solid #ccc;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    margin-top: 0;
}

#wrap {
    margin-right: 5px;
}

select {
    width: 100px;
    height: 30px;
    line-height: 20px;
    border: 1px solid #ccc;
}

.querycontent {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    /* border: 1px solid #ccc; */
    /* border-radius: 3px; */
    /* background-color: #f5f5f5; */
}
.querycontent>span{
     margin-right: 15px;
}
.querycontent select{
    min-width: 120px;
    height: 28px;
}
.querycontent label{
    color: #989898;
}
.querybtn {
    width: 70px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    color: white;
    background: -webkit-linear-gradient(#D63C3E, #B52036); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#D63C3E, #B52036); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#D63C3E, #B52036); /* Firefox 3.6 - 15 */
    background: linear-gradient(#D63C3E, #B52036); /* 标准的语法 */
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    
}


.tablebox {
    width: 100%;
    padding: 10px 0 0;
}

.tablewrap {
    width: 98%;
    margin: 0 auto;
    overflow-x: hidden;
    
    /* border: 1px solid #F5F5F5; */
    /* border-top: 2px solid #636363; */
    .fake_table{
        /* display: inline-block; */
        width: 740px;
        height: auto;
        .items{
            margin: 10px;
            border-left:  3px solid #B61010;
            line-height: 20px;
            padding-left: 10px;
            div{
                margin-right: 10px;
            }
        }
        div{
            height: 20px;

        }
        .info{
            height: 22px;
            padding: 0 10px;
            margin-top: 9px;
            background: url("../../../images/user_center/tips.png") center center no-repeat ;
            -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
            p{
                display: inline-block;
                line-height: 20px;
                height: 100%;
            }
        }
    }
}
#get_more{
    height: 40px;
    width: 100%;
    font-size: 16px;
    text-align: center;
}
#get_more td{
    background: url("../../../images/user_center/more.png") center left 47% no-repeat ;
    text-align: center!important;
}
#table {
    table-layout: fixed;
    /* border: 1px solid #ccc; */
    border-collapse: collapse;
    width: 100%;
    border: none;
}

#table th,{
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #666666;
}

#table th,
#table td {
    text-align: left;
    text-indent: 15px;
    height: 40px;
    /* border: 1px solid #ccc; */
}
#table td{
   color: #333333 
}
#table tr:nth-child(odd){
   background-color: white;
}
#table tr:nth-last-child(1){
    cursor: pointer;
    background-color: white;
}
.page {
    align-self: center;
}
.divi_bor{
    width: 98%;
    margin: 0 1%;
    border-top:1px solid #D7D7D7;
    .til_bal{
        display: block;
        height: 20px;
        font-size: 14px;
        color: #666666;
        margin-top: 15px;
    }
    .money{
        height: 25px;
        font-size: 20px;
        font-weight: bold;
        .yuan{
            font-size: 14px;
            margin-right: 10px;
        }
    }
    .btn_box{
        div{
            margin-right: 10px;
            width: 75px;
            height: 30px;
            border-radius: 4px;
            cursor: pointer;
            color: white;
            /* text-indent: 30px; */
            line-height: 26px;
        }
        .inmoney_btn{
            border: 1px solid #B52525;
            background: -webkit-linear-gradient(#FF6162, #E44647); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(#FF6162, #E44647); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(#FF6162, #E44647); /* Firefox 3.6 - 15 */
            background: linear-gradient(#FF6162, #E44647); /* 标准的语法 */
        }
        .outmoney_btn{
            border: 1px solid #2C64C3;
            background: -webkit-linear-gradient(#66A3F4, #376CD6); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(#66A3F4, #376CD6); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(#66A3F4, #376CD6); /* Firefox 3.6 - 15 */
            background: linear-gradient(#66A3F4, #376CD6); /* 标准的语法 */
        }
        .icon_in{
            height: 20px;
            width: 20px;
            margin-top: 3px;
            margin-left: 10px;
            margin-right: 3px;

            display: inline-block;
            background: url("../../../images/user_center/in_ico.png") center left no-repeat;
        }
        .icon_out{
            height: 20px;
            width: 20px;
            margin-top: 3px;
            margin-left: 10px;
            margin-right: 3px;

            display: inline-block;
            background:  url("../../../images/user_center/out_ico.png") center left no-repeat;
        }
        .inmoney_btn:hover{
            background: -webkit-linear-gradient(#ff6767, #ed6b6b); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(#ff6767, #ed6b6b); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(#ff6767, #ed6b6b); /* Firefox 3.6 - 15 */
            background: linear-gradient(#ff6767, #ed6b6b); /* 标准的语法 */
        }
        .outmoney_btn:hover{
            background: -webkit-linear-gradient(#487be1, #7982ff); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(#487be1, #7982ff); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(#487be1, #7982ff); /* Firefox 3.6 - 15 */
            background: linear-gradient(#487be1, #7982ff); /* 标准的语法 */
        }
    }
}