<div class="flex-c container">
  <div class="flex-r querycontent">
    <span class="flex-r" style="justify-content: flex-start;">
      <span class="query_item">
        <label for="starttime">时间： </label>
        <input type="date" id="starttime" name="starttime" [(ngModel)]="querydata.starttime" />
        <label for="endtime">至 </label>
        <input type="date" id="endtime" name="endtime" [(ngModel)]="querydata.endtime" />
      </span>
      <span class="query_item">
        <label for="numb">用户名： </label>
        <input type="text" id="username" name="username" [(ngModel)]="querydata.username" />
      </span>
      <span class="flex-r query_item">
        <input type="checkbox" id="wrap" name="wrap" [(ngModel)]="querydata.iswrap" />包含下级</span>
    </span>
    <button class="querybtn">查 询</button>
  </div>
  <div class=" flex-c tablebox">
    <table width="100%" border="1" cellspacing="0" cellpadding="4" bgcolor="#ccc" align="center">
      <tr class="bg_2 sortr">
        <th style="width:210px">彩种
          <strong
          (click)="sortclick('type')"> &#10606; </strong>
        </th>
        <th style="width:120px">投注人数
          <strong
          (click)="sortclick('numbtou')"> &#10606; </strong>
        </th>
        <th style="width:120px">投注单数
          <strong
          (click)="sortclick('celltou')"> &#10606; </strong>
        </th>
        <th style="width:120px">投注金额
          <strong
          (click)="sortclick('money')"> &#10606; </strong>
        </th>
        <th style="width:120px">奖金
          <strong
          (click)="sortclick('bonus')"> &#10606; </strong>
        </th>
        <th style="width:120px">返点
          <strong
          (click)="sortclick('rebates')"> &#10606; </strong>
        </th>
        <th>
          <span class="padright">盈亏<strong
          (click)="sortclick('fitorloss')"> &#10606; </strong></span>
          
        </th>
      </tr>
    </table>
    <div class="tablewrap">
      <table id="table" width="100%" border="1" cellspacing="0" cellpadding="4" bgcolor="#ccc" align="center">
        <tr *ngFor="let item of outdata">
          <td style="width:210px">{{item.type}}</td>
          <td style="width:120px">{{item.numbtou}}</td>
          <td style="width:120px">{{item.celltou}}</td>
          <td style="width:120px">{{item.money}}</td>
          <td style="width:120px">{{item.bonus}}</td>
          <td style="width:120px">{{item.rebates}}</td>
          <td>{{item.fitorloss}}</td>
        </tr>
      </table>
    </div>
    <table width="100%" border="1" cellspacing="0" cellpadding="4" bgcolor="#ccc" align="center">
      <tr class="bg_1 trbold color_y">
        <td style="width:210px; color: #333">总和</td>
        <td style="width:120px">{{add('numbtou')}}</td>
        <td style="width:120px">{{add('celltou')}}</td>
        <td style="width:120px">{{add('money')}}</td>
        <td style="width:120px">{{add('bonus')}}</td>
        <td style="width:120px">{{add('rebates')}}</td>
        <td>
          <span class="padright">{{add('fitorloss')}}</span>
        </td>
      </tr>
    </table>

  </div>
  <div class="viewbox">
    <div class="draw">
      <span>分析图区域</span>
    </div>

  </div>
</div>