<div id="rechargebox" class="flex-c">
    <div class="flex-r rechbox">
        <span class="boption">支付方式：</span>
        <div class="flex-r itembox">
            <div class="rechitem" *ngFor="let item of rechdata; let i=index">

                <span class="flex-r item" [ngClass]="{bd_m:rechitemindex === i}" (click)="rechitem(i,'rechitemindex')">
                    <span class="flex-r iconbox">
                        <i [style.background-position-y.px]="item.bgtop" [style.height.px]="item.height" [style.width.px]="item.width"></i>

                    </span>
                    <span>{{item.text}}</span>
                    <span class="triangle" *ngIf="rechitemindex == i"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="flex-r rechbox rechbox2">
        <span class="boption">存入金额：</span>
        <div class="flex-r itembox">
            <div class="rechitem" *ngFor="let item of moneyitem; let i=index">

                <span class="flex-r item" [ngClass]="{bd_m:moneyitemindex === i}" (click)="rechitem(i,'moneyitemindex')">
                    <span>{{item}}</span>
                    <span class="triangle" *ngIf="moneyitemindex === i"></span>
                </span>
            </div>
            <div class="rechitem">

                <span class="flex-r item" [ngClass]="{bd_m:moneyitemindex === 5}" (click)="rechitem(5,'moneyitemindex')">
                    <input type="text" placeholder="其他" [(ngModel)]="customoney" (blur)="changereg()">
                    <span class="triangle" *ngIf="moneyitemindex === 5"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="flex-r rechbox rechbox3">
        <span class="boption">存款人姓名：</span>
        <div class="flex-r itembox">
            <div class="flex-r rechitem">
                <span class="flex-r item" [ngClass]="{bd_m:nameinputactive}">
                    <input type="text" name='name' placeholder="请输入姓名" [(ngModel)]="moneydata.name" (focus)="nameinputactive = true" (blur)="nameinputactive = false">
                </span>
                <p>*此处所填写姓名必须与您付款卡姓名一致，若不一致，将无法自动到账。</p>
            </div>
        </div>
    </div>

    <div class="flex-c rechbox rechbox5 ">
        <span class="boption">请选择支付银行卡：</span>
        <ul class="flex-c itembox">
            <li class="flex-r item" *ngFor="let item of rechdata3; let i=index" [ngClass]="{bd_m:rechitemindex3==i}">
                <input type="radio" name="bank" value="{{i}}" [(ngModel)]="rechitemindex3">
                <span class="flex-r iconbox">
                    <i [style.background-position-y.px]="item.bgtop" [style.height.px]="item.height" [style.width.px]="item.width"></i>
                </span>
                <span class="width200">{{item.text}}</span>
                <span>{{item.carnumb}}</span>
            </li>
        </ul>
    </div>

    <div class="flex-r rechbox rechbox4 ">
        <span class="boption">转账类型：</span>
        <div class="flex-r itembox">
            <div class="rechitem" *ngFor="let item of rechdata2; let i=index">

                <span class="flex-r item" [ngClass]="{bd_m:rechitemindex2 === i}" (click)="rechitem(i,'rechitemindex2')">
                    <span class="flex-r iconbox">
                        <i [style.background-position-y.px]="item.bgtop" [style.height.px]="item.height" [style.width.px]="item.width"></i>
                    </span>
                    <span>{{item.text}}</span>
                    <span class="triangle" *ngIf="rechitemindex2 == i"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="flex-r">
        <span class="sbtn">确认</span>
    </div>

</div>