* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    box-sizing: border-box;
}

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.color_y {
    color: #fe8f00;
}

.color_m {
    color: #b61010;
}
.color_r {
    color: red;
}

.color_g {
    color: #0f954e;
}

.color_b {
    color: #002eff;
}

.sscbox {
    width: 1000px;
    font-size: 12px;
}

.ssccontain {
    width: 100%;
    align-self: center;
    background-size: cover;
    .tabbox {
        width: 100%;
        padding-right: 20px;
        justify-content: space-between;
        background-color: #3B3B3B;
        .tabcontent {
            span {
                position: relative;
                height: 36px;
                line-height: 36px;
                padding: 0 18px;
                color: white;
                cursor: pointer;
            }
            .tabactive {
                background-color: #b61010;
            }
            .tabactive:before {
                content: '';
                position: absolute;
                top: 36px;
                left: 50%;
                margin-left: -9px;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-top: 8px solid #B61010;
                border-right: 8px solid transparent;
            }
        }
        .togglebtn {
            height: 23px;
            line-height: 21px;
            border-radius: 11px;
            background-color: #575757;;
            overflow: hidden;
            span {
                width: 70px;
                height: 100%;
                line-height: 21px;
                text-align: center;
                color:#fff;
                border-radius: 11px;
                background-color: #575757;
                cursor: pointer;
            }
            .togactive{
                color: #fff;
                background-color: #B61010;
            }
        }
    }
    .contaner {
        width: 1000px;
        align-self: center;
        border-bottom: 1px solid #dadada;
        .mainbox {
            padding:0;
            justify-content: space-between;
            align-content: flex-start;
            align-items: flex-start;
            .contentbox {
                width: 820px;
                align-self: stretch;
                .selctbox {
                    width: 100%;
                    height: 60px;
                    padding: 0 20px 0 0;
                    justify-content: space-between;
                    background-color: white;
                    .rangebox {
                        .showvalue {
                            flex: 0 0 70px;
                            width: 50px;
                            text-align: right;
                            padding-right: 20px;
                            color: #666;
                        }
                        .icon {
                            flex: none;
                            width: 20px;
                            height: 20px;
                            font-size: 14px;
                            line-height: 16px;
                            text-align: center;
                            font-weight: bold;
                            border: 1px solid #999;
                            border-radius: 2px;
                            background-color: white;
                            color: #999;
                            cursor: pointer;
                        }
                        .range {
                            width: 130px;
                            padding: 0 10px;
                            align-items: center;
                        }
                    }
                    .btngroup {
                        button {
                            width: 76px;
                            font-size: 12px;
                            height: 26px;
                            line-height: 24px;
                            text-align: center;
                            padding: 0;
                            color: #333;
                            background-color: white;
                            border: 1px solid #999;
                            border-radius: 2px;
                            margin-left: 8px;
                            outline: none;
                        }
                        .lactive {
                            margin-left: 0px;
                        }
                        .btnactive,
                        .resetbtn:hover,
                        .kuxuan:hover {
                            position: relative;
                            color: #b61010;
                            border: 1px solid #b61010;
                            outline: none;
                        }
                        .btnactive:before {
                            content: '';
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: 15px;
                            height: 14px;
                            background: url('../../images/mod2/icon_01.png') -10px -76px;
                        }
                    }
                }
            }
        }
        .resultbox{
            width:180px;
            align-self:stretch;
            border-left: 1px solid #dadada;
        }
    }
    
    .wenlubox{
        width: 100%;
    }
}

.mycontaion {
    position: relative;
    width: 820px;
    .content {
        width: 100%;
        align-items: center;
        .contenttop {
            width: 100%;
            background-color: #f1f1f1;
            .itembox {
                flex: auto;
                height: 36px;
                border-top: 2px solid #666;
                border-right: 1px solid #ddd;
                span {
                    text-align: center;
                    border-right: 1px solid #ddd;
                }
                span:last-child {
                    border-right: none;
                }
                .item1,
                .item2 {
                    flex: 3;
                    line-height: 24px;
                }
                .item3 {
                    flex: 4;
                }
            }
            .itembox:last-child {
                border-right: none;
            }
        }
        .conmain {
            width: 100%;
            background-color: white;
            flex-wrap: wrap;
            background-color: white;
            .itembox {
                flex: 0 0 20%;
                height: 36px;
                border-right: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                span {
                    text-align: center;
                }
                .item1,
                .item2 {
                    flex: 3;
                    line-height: 24px;
                }
                .item3 {
                    flex: 4;
                }
                .item1 {
                    font-weight: bold;
                    i {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                        font-size: 14px;
                        text-align: center;
                        color: white;
                        background: url('../../images/mod2/ball.png') -10px -10px;
                    }
                }
            }
            .itemcol{
                flex:0 0 36px;
                width:20%; 
            }
        }
    }
}

//龙虎斗
.conmain2 {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .itemwrap2 {
        // padding: 0 2px 10px 2px;
        .itembox2 {
            width: 205px;
            flex:0 0 205px;
            font-size: 14px;
            align-content: center;
            align-items: center;
            border: 1px solid #ddd;
            .item1 {
                width: 100%;
                height: 36px;
                font-size: 14px;
                font-weight: bold;
                line-height: 36px;
                text-align: center;
                color: #333;
                border-top: 2px solid #666;
                background: linear-gradient(to top, #E3E3E3, #F9F9F9);
            }
            .item2,
            .item3 {
                width: 100%;
                height: 36px;
                line-height: 36px;
                text-align: center;
                background-color: #eee;
                justify-content: space-around;
            }
            .item2 {
                height: auto;
                .item2info {
                    width: 68px;
                    justify-content: flex-start;
                    span {
                        height: 36px;
                        line-height: 36px;
                    }
                    span:first-child {
                        flex: 0 0 30px;
                    }
                }
                .togstyle2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                }
            }
            .item3{
                background-color: white;
            }
        }
    }
    .itemwrap2:last-child {
        padding-bottom: 0;
    }
    .itemwrap2:nth-child(8) {
        padding-left: 205px;
    }
    .itemwrap2:nth-child(9) {
        padding-right: 205px;
    }
}

// 整合
.content1 {
    .conmain {
        width: 100%;
        align-items: flex-start;
        .conmainbox {
            flex: auto;
            align-content: center;
            align-items: center;
            span {
                width: 100%;
            }
            .itembox {
                padding-right: 2px;
                height: 40px;
                flex: 0 0 40px;
                justify-content: space-between;
                .item3 {
                    input {
                        width: 56px;
                    }
                }
            }
            .contenttop {
                .itembox {
                    height: 40px;
                    border-right: 1px solid #ddd;
                    .item1 {
                        font-weight: normal;
                    }
                }
            }
            .contenttop1 {
                .itembox {
                    flex: auto;
                    height: 36px;
                    justify-content: center;
                    background: linear-gradient(to top, #E3E3E3, #F9F9F9);
                    font-size: 16px;
                    color: #333;
                }
            }
        }
        .contenttop2 {
            .itembo {
                flex: auto;
                height: 36px;
                justify-content: center;
                background: linear-gradient(to top, #E3E3E3, #F9F9F9);
                font-size: 16px;
                color: #333;
                border-top: 2px solid #666;
                border-right: 1px solid #ddd;
                cursor: pointer;
            }
            .itembo:last-child {
                border-right: none;
            }
            .bg_y {
                color: white;
                background: linear-gradient(to top, #cf364c, #ec5c5c);
            }
        }
        .contenttop3 {
            .itembox {
                flex: auto;
                height: 36px;
                justify-content: center;
                border-top: none;
            }
        }
        .contenttop4 {
            .itembox {
                flex: auto;
                height: 36px;
                justify-content: center;
                border-top: none;
            }
        }
        .conmainbox:last-child .contenttop .itembox {
            border-right: none;
        }
        .conmainbox:last-child .itembox {
            border-right: none;
        }
    }
    .itembold {
        font-weight: bold;
    }
}

// 输入框统一样式
.inmoney {
    width: 60px;
    font-size: 12px;
    height: 22px;
    padding-left: 5px;
    border: 1px solid #ccc;
}

.subbox {
    width: 100%;
    padding: 20px 0 40px 0;
    justify-content: center;
    .btngroup {
        button {
            width: 80px;
            font-size: 14px;
            height: 36px;
            line-height: 34px;
            text-align: center;
            padding: 0;
            background: linear-gradient(to top, #E3E3E3, #F9F9F9);
            color: #333;
            border: 1px solid #999;
            border-radius: 4px;
            outline: none;
        }
        .resetbtn {
            margin-left: 10px;
        }
        .btnactive,
        .resetbtn:hover {
            color: white;
            background: linear-gradient(to top, #b42237, #d93d3d);
            border:1px solid #781113;
            outline: none;
        }
        .inmoney {
            width: 80px;
            height: 36px;
            margin-right: 10px;
        }
    }
}

#selectbox {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 70px;
    height: 160px;
    padding-top: 6px;
    z-index: 888;
    .selectwrap {
        position: relative;
        padding-top: 4px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 2px 4px 0px rgba(0, 0, 0, .2);
        i {
            position: absolute;
            top: -4px;
            left: 37px;
            width: 6px;
            height: 6px;
            border-left: 1px solid #ccc;
            border-top: 1px solid #ccc;
            background-color: white;
            transform: rotate(45deg);
        }
        .option {
            width: 100%;
            height: 32px;
            line-height: 32px;
            text-align: center;
            cursor: pointer;
        }
        .option:hover {
            background-color: #ccc;
        }
    }
}

.setbox {
    position: fixed;
    top: 8px;
    left: 450px;
    z-index: 998;
    .content {
        width: 260px;
        min-height: 300px;
        background-color: white;
        border: none;
        border-radius: 6px;
        box-shadow: 0 0 0px 5px rgba(50, 50, 50, .6);
        overflow: hidden;
        transform: scale(.6);
        transition: transform .1s linear;
        .top {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color: white;
            padding: 0 12px 0 20px;
            justify-content: space-between;
            background: linear-gradient(to top, #cf364c, #ec5c5c);
            i {
                font-size: 18px;
                cursor: pointer;
            }
        }
        .main {
            padding: 5px 12px 20px 20px;
            p {
                font-size: 10px;
                line-height: 20px;
                color: #999;
            }
            .setinput {
                width: 100%;
                justify-content: center;
                .item {
                    width: 100%;
                    font-size: 12px;
                    padding: 5px 0;
                    justify-content: center;
                    input {
                        width: 100px;
                        height: 30px;
                        line-height: 28px;
                        padding-left: 5px;
                        border: 1px solid #ccc;
                    }
                    span {
                        width: 50px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        letter-spacing: 4px;
                        padding-left: 4px;
                        border-radius: 2px;
                        margin-left: 10px;
                        color: white;
                        background-color: #999;
                        cursor: pointer;
                    }
                }
            }
            .btnbox {
                width: 100%;
                justify-content: center;
                padding: 10px 0;
                span {
                    width: 75px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 14px;
                    background-color: #999;
                    color: white;
                    border-radius: 2px;
                    cursor: pointer;
                }
                .btn2,
                .btn1:hover {
                    background: linear-gradient(to top, #b42237, #d93d3d);
                }
                .btn2 {
                    margin-left: 10px;
                }
            }
        }
    }
    .scale{
        transform: scale(1);
    }
}


.subpopup {
    position: fixed;
    left: 160px;
    z-index: 998;
    .content {
        width: 800px;
        background-color: white;
        border: none;
        border-radius: 6px;
        box-shadow: 0 0 0px 5px rgba(50, 50, 50, .6);
        overflow: hidden;
        transform: scale(.6);
        transition: transform .1s linear;
        .top {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color: white;
            padding: 0 12px 0 20px;
            justify-content: space-between;
            background: linear-gradient(to top, #cf364c, #ec5c5c);
            i {
                font-size: 18px;
                cursor: pointer;
            }
        }
        .thead {
            width: 760px;
            margin-top: 10px;
            border: 1px solid #ccc;
            border-bottom: none;
            table {
                table-layout: fixed;
                width: 100%;
                border-collapse: collapse;
                th {
                    text-align: center;
                    height: 40px;
                    font-size: 14px;
                    font-weight: bold;
                    background-color: rgb(195, 221, 230);
                    border: 1px solid #ccc;
                }
            }
        }
        .tablewrap {
            width: 760px;
            height: 260px;
            overflow-y: scroll;
            border: 1px solid #ccc;
            border-top: none;
            table {
                table-layout: fixed;
                width: 100%; // border: 1px solid #ccc;
                border-collapse: collapse;
                tr:nth-child(even) {
                    background-color: #eee;
                }
                td {
                    text-align: center;
                    height: 30px;
                    border: 1px solid #ccc;
                }
            }
        }
        .foot {
            height: 30px;
            line-height: 30px;
            font-size: 18px;
            strong {
                font-size: 20px;
                color: #b61010;
                padding: 0 8px;
            }
        }
    }
    .scale{
        transform: scale(1);
    }
}
// 弹框
#notebox{
    position: fixed;
    z-index: 999;
    .content{
        width: 300px;
        min-height: 160px;
        background-color: white;
        border: 2px solid #b61010;
        border-radius: 6px;
        box-shadow: 0 0 0px 5px rgba(50, 50, 50, .6);
        justify-content: space-between;
        transform: scale(.6);
        transition: transform .1s linear;
        overflow: hidden;
        .top {
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            color: white;
            padding: 0 12px 0 20px;
            justify-content: space-between;
            background: linear-gradient(to top, #cf364c, #ec5c5c);
            i {
                font-size: 18px;
                cursor: pointer;
            }
        }
        .note{
            width: 100%;
            padding: 16px;
            justify-content: center;
            align-items: center;
            p{
                font-size: 12px;
                line-height: 24px;
            };
        }
        .foot{
            justify-content: center;
            padding: 10px;
            span{
                padding: 0 8px;
                line-height: 26px;
                font-size: 14px;
                color: white;
                background: linear-gradient(to top, #b42237, #d93d3d);
                border:1px solid #781113;
                border-radius: 4px;
                cursor: pointer;
            }
        }
    }
    .scale{
        transform: scale(1);
    }
}
//遮罩层
.shade {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(154, 154, 154, 0.5);
    z-index: 19;
}

// 各浏览器滑块样式
input[type="range"] {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
}
input[type="range"]:focus{
    outline:none;
}

// range中心圆点
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 18px;
    border: none;
    border-radius: 5px;
    background-color: #b61010;
    cursor: pointer;
    margin-top: -4px;
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    height: 12px;
    width: 18px;
    border: none;
    border-radius: 5px;
    background-color: #b61010;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    -ms-appearance: none;
    appearance: none;
    height: 12px;
    width: 18px;
    border: none;
    border-radius: 5px;
    background-color: #b61010;
    cursor: pointer;
    margin-top: 1px;
}

input[type="range"]::slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 18px;
    border: none;
    border-radius: 5px;
    background-color: #b61010;
    cursor: pointer;
    margin-top: -6px;
}

// range轨道
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background-color: #b61010;;
    border-radius: 2px;
    cursor: pointer;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 4px;
    background-color: #b61010;;
    border-radius: 2px;
    cursor: pointer;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    border-color: transparent;
    // color: #C4C4C8;
    border-radius: 2px;
    background: #b61010;
    cursor: pointer;
}
// 已达进度
 
// input[type=range]::-ms-fill-lower {
//     background-color: #b61010;
// }
// input[type=range]::-moz-fill-lower {
//     background-color: #C4C4C8;
// }
 
//  //未达进度
 
// input[type=range]::-ms-fill-upper {
//     background-color: #b61010;
// }
 
// input[type=range]::-ms-ticks-before {
//     // display: none;
// }
// input[type=range]::-ms-ticks-after {
//     // display: none;
// }
