*{
    box-sizing: border-box;
}
.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}
.bg_1 {
  background-color: #ECECF4;
}

.container {
    width: 100%;
    padding: 0;
    align-content: flex-start;
    align-items: flex-start;
}
.formbox {
  width: 100%;
  min-height: 502px;
  padding: 10px 0 20px;
  border-top: none;
}
.formitem {
  height: 50px;
  padding-top: 20px;
  justify-content: flex-start;
}
.formitem label {
  width: 150px;
  height: 30px;
  line-height: 28px;
  text-align: right;
}
.formitem select {
  width: 240px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 8px;
//   border: 1px solid #ccc;
}
.formitem select[id="money"] {
  width: 150px;
}

.btngroup {
    width: 100%;
    padding: 10px;
    justify-content: flex-start;
    background-color: #F0F0F0;
    span {
        display: inline-block;
        height: 30px;
        line-height: 28px;
        text-align: center;
        padding: 0 14px;
        margin: 0 5px;
        color: black;
        border: none;
        border-radius: 4px;
        background: linear-gradient(to top, #d7d5d5, #fdfdfd);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
    .active,
    span:hover {
        color: white;
        background: linear-gradient(to top, #941927, #e22137);
    }
    .btnlag{
        font-size: 14px;
        height: 40px;
        line-height: 38px;
        padding: 0 40px

    }
}

.settitle {
  padding: 10px 0 0 70px;
  font-size: 14px;
}
.warning {
  color: red;
  padding-left: 8px;
}
.linkbtn {
  padding: 30px 0 0 150px;
}

.tablebox {
  position: relative;
  width: 100%;
  padding: 10px 0 0;
}

.tablewrap {
  width: 100%;
}
#table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
#table th {
  font-size: 14px;
  font-weight: bold;
}
#table th,
#table td {
  text-align: center;
  height: 40px;
}
#table td{
  border-bottom: 1px solid #ccc;
}
#table tr:nth-child(even){
    background-color: #FBFBFB;
}
.total_tr {
  font-size: 14px;
  color: #C42136;
}
.color_y {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}
.padr{
    padding-right: 6px;
}

.page {
  align-self: center;
}

//   详情/编辑内容样式========================================
#addcontent {
  position: absolute;
  top: -96px;
  left: 130px;
  width: 440px;
  height: 460px;
  font-size: 14px;
  color: #333;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 0 4px rgba(153, 153, 153, 0.7);
  z-index: 29;
}
.addgead {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  background: linear-gradient(to top, #e24545, #ff6161);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.addgead i {
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.contentbox {
  width: 100%;
  padding: 30px 35px;
}
.content {
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: none;
  min-height: 100px;
  align-items: flex-start;
}
.contentitem {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  justify-content: flex-start;
}
.labelspan {
  width: 100px;
  text-align: right;
}
.contentinfo {
  position: relative;
}
.code {
  height: 140px;
}
.code .labelspan, .code .contentinfo{
  align-self: flex-start;
}
.code .contentinfo{
    padding-top: 10px;
}
.codeimg {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background-color: #ccc;
}
#editrebates, #edittype, #editstatus{
    position: absolute;
    width: 100px;
    height: 24px;
    line-height: 24px;
    top:3px;;
    left:0;
}
// 遮罩层样式
.shade{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 19;
}
