* {
    box-sizing: border-box;
}

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
}

#rechargebox {
    width: 100%;
    font-size: 14px;
    align-content: flex-start;
    align-items: flex-start;
}

.rechbox {
    width: 100%;
    justify-content: flex-start;
    .boption {
        width: 100px;
        flex: 0 0 100px;
        height: 50px;
        line-height: 50px;
        margin: 10px 0;
        text-align: right;
        align-self: flex-start;
    }
    .itembox {
        flex-wrap: wrap;
        .item {
            position: relative;
            width: 140px;
            height: 50px;
            color: black;
            background-color: white;
            border: 1px solid #ccc;
            justify-content: flex-start;
            margin: 10px;
            cursor: pointer;
            .iconbox {
                width: 50px;
                flex: none;
                justify-content: center;
                i {
                    background-image: url("../../../images/mod3/userbank_m3_01.png");
                    background-position-x: -10px;
                }
            }
            .triangle {
                position: absolute;
                width: 25px;
                height: 18px;
                bottom: 0;
                right: 0;
                background: url("../../../images/mod3/active_01.png") no-repeat;
            }
        }
        .bd_m,
        .item:hover {
            border: 1px solid #C42136;
        }
    }
}

.sbtn {
    height: 36px;
    line-height: 34px;
    text-align: center;
    padding: 0 40px;
    margin: 10px 30px;
    color: white;
    border-radius: 4px;
    background: linear-gradient(to top, #941927, #e22137);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.rechbox2 {
    .boption {
        height: 40px;
        line-height: 40px;
    }
    .itembox {
        .rechitem {
            .item {
                width: 100px;
                height: 40px;
                justify-content: center;
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    text-align: center;
                }
            }
        }
    }
}

.rechbox3 {
    .boption {
        height: 30px;
        line-height: 30px;
        align-self: center;
    }
    .itembox {
        .rechitem {
            .item {
                width: 180px;
                height: 40px;
                justify-content: center;
                input {
                    width: 100%;
                    height: 100%;
                    border: none;
                    padding-left: 4px;
                }
            }
            p {
                font-size: 10px;
                color: red;
                padding-left: 8px;
            }
        }
    }
}

.rechbox4 {
    .boption {
        height: 40px;
        line-height: 40px;
    }
    .itembox {
        .rechitem {
            .item {
                width: 120px;
                height: 40px;
                .iconbox {
                    width: 40px;
                }
            }
        }
    }
}

.rechbox5 {
    align-content: flex-start;
    align-items: flex-start;
    .boption {
        width: 100%;
        height: 30px;
        flex: 0 0 30px;
        text-align: left;
    }
    .itembox {
        width: 100%;
        padding: 0 30px 10px 30px;
        .item {
            width: 100%;
            height: 50px;
            flex: 0 0 50px;
            padding: 0 20px;
            margin: 0;
            border:  1px solid transparent;
            border-bottom: 1px solid #ccc;
            input[type="radio"]{
                margin-top: 2px;
            }
            .iconbox {
                width: 40px;
                justify-content: center;
            }
            .width200{
                width: 200px;
            }
        }
        .bd_m {
            border: 1px solid #C42136;
        }
    }
}

