
.errtip {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 24px;
  font-size: 12px;
  padding-left: 10px;
  color: #6c6c6c;
  background-color: #f2dede;
  border: none;
  border-radius: 3px;
}
.errtip .alltip {
  height: 20px;
  line-height: 20px;
  padding-left: 8px;
}
.errtip .icon-err {
  width: 20px;
  height: 20px;
  background: url("../../images/log-reg.png") -100px -10px;
}
