<div class="flex-c bankbox">
  <div class="flex-r bankhead">
    <span>{{now_lang.User_center_c.My_bankcard}}</span>
    <p>{{now_lang.User_center_c.Added}}
      <i class="color_y">2</i>
      {{now_lang.User_center_c.Bankcard}}</p>
  </div>
  <div class="flex-r bankcontent">
    <div class="bankitembox">
      <div class="flex-c bankitem">
        <div class="flex-r">
          <i></i>
          <span class="bold">{{now_lang.User_center_c.Til_number}}8888
            <span class="cardtype">{{now_lang.User_center_c.Bankcard1}}</span>
          </span>
        </div>
        <div class="flex-r bankinfo">
          <span>
            <p>{{now_lang.User_center_c.Banker_owner}}*赌神</p>
            <p>{{now_lang.User_center_c.Phone_number}}：188****3333</p>
          </span>
          <span class="del">{{now_lang.User_center_c.Delet}}</span>
        </div>
      </div>

    </div>
    <div class="bankitembox">
      <div class="flex-c bankitem">
        <div class="flex-r">
          <i></i>
          <span class="bold">{{now_lang.User_center_c.Til_number}}8888
            <span class="cardtype">{{now_lang.User_center_c.Bankcard1}}</span>
          </span>
        </div>
        <div class="flex-r bankinfo">
          <span>
            <p>{{now_lang.User_center_c.Banker_owner}}：*赌神</p>
            <p>{{now_lang.User_center_c.Phone_number}}：188****3333</p>
          </span>
          <span class="del">{{now_lang.User_center_c.Delet}}</span>
        </div>
      </div>

    </div>
    <div class="bankitembox">

      <div class="flex-c bankitem add" (click)="addbank()">
        <strong>+</strong>
        <span>{{now_lang.User_center_c.Add_bankcard}}</span>
      </div>
    </div>
    <div id="addcontent" *ngIf="addbanck" class="flex-c">
      <div class="flex-r addgead">
        <span>{{now_lang.User_center_c.Add_bankcard}}</span>
        <i (click)="deladd()"> &times; </i>
      </div>
      <form class="flex-c addform">
        <div class="flex-r formitem">
          <label for="name">{{now_lang.User_center_c.Banker_owner}}</label>
          <input type="text" id="name" name="name" placeholder="输入持卡人姓名" [(ngModel)]="formdata.username" />
        </div>
        <div class="flex-r formitem">
          <label for="name">{{now_lang.User_center_c.Opening_bank}}：</label>
          <input type="text" id="bankname" name="bankname" placeholder="输入开户银行名称" [(ngModel)]="formdata.bankname" />
        </div>
        <div class="flex-r formitem">
          <label for="name">{{now_lang.User_center_c.Branch_bank}}：</label>
          <input type="text" id="bankbranch" name="bankbranch" placeholder="输入银行支行" [(ngModel)]="formdata.bankbranch" />
        </div>
        <div class="flex-r formitem">
          <label for="name">{{now_lang.User_center_c.Branch_bank}}：</label>
          <input type="text" id="cardnmb" name="cardnmb" placeholder="输入银行卡号" [(ngModel)]="formdata.cardnmb" />
        </div>
        <div class="flex-r formitem">
          <label for="name">{{now_lang.User_center_c.Bankcard_phone}}：</label>
          <input type="text" id="phone" name="phone" placeholder="输入办卡时预留手机号码" [(ngModel)]="formdata.phone" />
        </div>
        <div class="flex-r formitem">
          <label for="name">{{now_lang.User_center_c.Message_sms}}：</label>
          <span class="flex-r note">
            <input type="text" id="note" name="note" placeholder="" [(ngModel)]="formdata.note" />
            <span class="getnote">{{now_lang.User_center_c.Get_sms}}</span>
          </span>
        </div>
        <div class="flex-r formitem ">
          <label for="check"></label>
          <div class="flex-r check">
            <input type="checkbox" id="check" name="check" [(ngModel)]="formdata.checkvalue" />
            <p>{{now_lang.User_center_c.I_read_and_agree}}
              <span class="color_y">《{{Tips8}}》</span>
            </p>
          </div>
        </div>
        <div class="flex-r formitem btngroup">
          <span>{{now_lang.User_center_c.Comfirm}}</span> 
          <span>{{now_lang.User_center_c.Cancel}}</span>
        </div>

      </form>

    </div>
  </div>
</div>
<div class="shade" [style.width.px]="shade.w" [style.height.px]="shade.h" *ngIf="addbanck"></div>