<div id="rechargebox" class="flex-c">

    <div class="flex-r querycontent">
        <span class="flex-r" style="justify-content: flex-start;">
            可提款金额（元）
            <strong class="color_m">997.2268</strong> 元
        </span>
        <span>
            <span class="linkbtn">提款记录</span> | <span class="linkbtn">查看流水</span>
        </span>
    </div>
    <div class="flex-c rechbox rechbox5 ">
        <span class="boption">请选择提现银行卡：</span>
        <ul class="flex-c itembox">
            <li class="flex-r item" *ngFor="let item of rechdata3; let i=index" [ngClass]="{bd_m:rechitemindex3==i}">
                <input type="radio" name="bank" value="{{i}}" [(ngModel)]="rechitemindex3">
                <span class="flex-r iconbox">
                    <i [style.background-position-y.px]="item. bgtop" [style.height.px]="item.height" [style.width.px]="item.width"></i>
                </span>
                <span class="width200">{{item.text}}</span>
                <span>{{item.carnumb}}</span>
            </li>
        </ul>
    </div>

    <div class="flex-r rechbox rechbox3">
        <span class="boption">提款金额：</span>
        <div class="flex-r itembox">
            <div class="flex-c rechitem">
                <span class="flex-r">
                    <span class="flex-r item">
                        <input type="text" name='name' placeholder="请输入提款金额" (blur)="changereg()" [(ngModel)]="customoney">
                    </span> 元
                </span>
                <p class="gray">单次提现金额 100.0000~49990.0000元</p>
            </div>
        </div>
    </div>
    <div class="flex-r rechbox rechbox4">
        <span class="boption" style="line-height: 16px; margin:0;">注意事项：</span>
        <div class="flex-r itembox">
            <div class="flex-c rechitem">
                <p>每日前5次提现免手续费</p>
                <p>提现时间：24小时</p>
                <p>每日限制次数:10次</p>
                <p>当日最大出款金额:500000.00元</p>
            </div>
        </div>
    </div>

    <div class="flex-r">
        <span class="sbtn">提交申请</span>
    </div>

</div>