 
 
 <ng-container *ngIf="data.show">
   <!-- 提示信息窗口 -->
     <div id="notebox" [style.left.px]= "popup.note.left" [style.top.px]= "popup.note.top">
      <div class="flex-c content" [ngClass]="{scale:scale}" >
          <div class="flex-r top"
          (mousedown)="popmousedown($event)"
          (mouseleave)="popmouseup($event)"
          (mouseup)="popmouseup($event)"
          (mousemove)="popmousmove($event)">
              <span>{{data.title}}</span>
              <i (click)="click()"> &times; </i>
          </div>
          <div class="flex-r note">
              <p>{{data.msg}}</p>
          </div>
          <div class="flex-r foot">
            <span class="affirm" (click)="click(true)">{{data.btn?data.btn:'确定'}}</span>
              <span class="cancel" (click)="click()" *ngIf="data.event" >取消</span>
          </div>
      </div>
    </div>
    <!-- 遮罩层 -->
    <div class="shade" [style.width.px]="popup.shade.w" [style.height.px]="popup.shade.h">
    </div>
 </ng-container>


