
*{
    box-sizing: border-box;
}.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.bg_1 {
    background-color: #ECECF4;
}
.padr {
  padding-right: 5px;
}

.container {
    width: 100%;
    padding: 0;
    align-content: flex-start;
    align-items: flex-start;
}

.itemr_box {
  height: 50px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}
.itemr_box:last-child {
  border-bottom: none;
}
.querycontent {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background-color: #F0F0F0;
    justify-content: flex-start;
}
.query_item {
  flex: none;
  padding-right: 20px;
}
input {
    width: 160px;
    height: 30px;
    line-height: 20px;
    padding: 5px 0 4px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
label {
  font-size: 14px;
  font-weight: normal;
}
.querybtn {
    display: inline-block;
    height: 30px;
    line-height: 28px;
    text-align: center;
    padding: 0 14px;
    margin: 5px 10px;
    color: white;
    border-radius: 4px;
	background: linear-gradient(to top, #941927, #e22137);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.tablebox {
  width: 100%;
  padding: 10px 0 0;
}

.tablewrap {
  width: 100%;
}
#table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
#table th {
  font-size: 14px;
  font-weight: bold;
}
#table th,
#table td {
  text-align: center;
  height: 40px;
}
#table tr{
  border-bottom: 1px solid #ccc;
}
#table tr.bg_1{
  border-bottom: none;
}
#table tr:nth-child(even){
    background-color: #FBFBFB;
}
.addtd {
  justify-content: center;
  border: none;
}

.midinfo {
  width: 100%;
  height: 75px;
  padding: 40px 0 0 10px;
}
.viewbox {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: center;
}
.wraning {
  width: 100%;
  justify-content: flex-start;
}
.wraning i {
  width: 8px;
  height: 8px;
  background-color: #C42136;
  border-radius: 50%;
}
.wraning p {
  padding-left: 8px;
}
.color_y {
  color: #C42136;
}
.draw {
  align-items: center;
  padding: 0 70px 70px 80px;
}
.drawbox {
  position: relative;
  width: 800px;
  height: 210px;
  background-color: white;
}
