<div class="flex-c container">
  <div class="flex-r querycontent">
    <span class="flex-r" style="justify-content: flex-start;">
      <span class="query_item">
        <label for="starttime">{{now_lang.User_center_c.Time}}： </label>
        <input type="date" id="starttime" name="starttime" [(ngModel)]="querydata.starttime" />
        <label for="endtime"> - </label>
        <input type="date" id="endtime" name="endtime" [(ngModel)]="querydata.endtime" />
      </span>
    </span>
    <span>
      <span class="querybtn">{{now_lang.User_center_c.Search}}</span>
    </span>
  </div>
  <div class=" flex-c tablebox">
    <div class="tablewrap">
      <table id="table" width="100%" border="0" cellspacing="0" cellpadding="4"   align="center">
        <tr class="bg_1" style="height: 60px;">
          <th>{{now_lang.User_center_c.Inmoney}}
            <p>{{now_lang.User_center_c.Yuan}}</p>
          </th>
          <th>{{now_lang.User_center_c.Group_Inmoney}}
            <p>{{now_lang.User_center_c.Yuan}}</p>
          </th>
          <th>{{now_lang.User_center_c.Group_Outmoney}}
            <p>{{now_lang.User_center_c.Yuan}}</p>
          </th>
          <th>{{now_lang.User_center_c.Group_mens}}
            <p>{{now_lang.User_center_c.Yuan}}</p>
          </th>
          <th>{{now_lang.User_center_c.New_add_men}}
            <p>{{now_lang.User_center_c.Yuan}}</p>
          </th>
          <th>{{now_lang.User_center_c.Activity_men}}
            <p>{{now_lang.User_center_c.Yuan}}</p>
          </th>
          <th>{{now_lang.User_center_c.Now_online}}
            <p>{{now_lang.User_center_c.Yuan}}</p>
          </th>
          <th>3{{now_lang.User_center_c.Day_offline}}
            <p>{{now_lang.User_center_c.Yuan}}</p>
          </th>
          <th>7{{now_lang.User_center_c.Day_offline}}
            <p>{{now_lang.User_center_c.Yuan}}</p>
          </th>
        </tr>
        <tr>
          <td>999</td>
          <td>0</td>
          <td>0</td>
          <td class="flex-r addtd">
            <span class="padr">186</span>
            <span class="flex-c" style="align-items: flex-start;">
              <p>{{now_lang.User_center_c.Agent}} 147</p>
              <p>{{now_lang.User_center_c.Menber}} 39</p>
            </span>
          </td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>172</td>
          <td>171</td>
        </tr>
      </table>
    </div>
    <div class="flex-r midinfo">{{now_lang.User_center_c.Lot}}</div>
    <div class="tablewrap">
      <table id="table" width="100%" border="0" cellspacing="0" cellpadding="4"   align="center">
        <tr class="bg_1">
          <th>{{now_lang.User_center_c.Bet_money}}</th>
          <th>{{now_lang.User_center_c.Win_money}}</th>
          <th>{{now_lang.User_center_c.tie_back}}</th>
          <th>{{now_lang.User_center_c.Bet_back}}</th>
          <th>{{now_lang.User_center_c.Agent_back}}</th>
          <th>{{now_lang.User_center_c.Activity_bonus}}</th>
          <th>{{now_lang.User_center_c.Total_win}}</th>
        </tr>
        <tr>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </table>
    </div>
    <div class="flex-c viewbox">
      <div class="flex-r wraning color_y">
        <i></i>
        <p> {{now_lang.User_center_c.Tips9}}</p>
      </div>
      <div class="flex-c draw">
        <div style="padding-top: 30px;">
          <div class="flex-c drawbox" id="drawbox">
          </div>
        </div>
      </div>
    </div>
  </div>


</div>