
.flex-r{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .flex-c{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

.hr{
    width: 100%;height: 200px;
}