<div class="flex-c" style="min-height:800px;">
  <div>
    <app-header></app-header>

  </div>
  <div class="usercontent flex-r">
    <div class="sidebox">
      <ul class="flex-c sidel">
        <li class="sidetop">
          <strong>|</strong>&nbsp;用户中心
        </li>
        <li class="flex-c" *ngFor="let item of usersidedata; let i=index">
          <div class="flex-r itembox" (click)="itemboxclick(i)" [ngClass]="{'yborder': currentactive == i}">
            <div>
              <!-- 图标需更换'h -->
              <i class="icon-clock-o"></i>
              <span>{{item.title}}</span>
            </div>
            <div>
              <i class="itemboxiconr" [ngClass]="{'iconactive': currentactive == i}"> &#8250; </i>

            </div>
          </div>
          <ng-container *ngIf="currentactive == i">
            <div class="item" *ngFor="let child of item.items; let n=index" (click)="itemclick(item.title,child.text,child.link)" [ngClass]="{'itemactive': currentitem== child.text}">
              {{child.text}}
            </div>
          </ng-container>

        </li>
        <li></li>
        <li></li>
      </ul>

    </div>
    <div class="flex-c content">
      <!-- 右边内容区头部 -->
      <div class="flex-r contop">
        <div class="flex-r contopl">
          <i></i>
          <div>
            <strong>您好,</strong>
            <span>test02</span>
          </div>
        </div>
        <div class="flex-c contopr">

          <span class="cottitle">
            <strong>账户余额</strong>
            <span>冻结余额：0.00元</span>
          </span>
          <div class="flex-r cotmid">
            <span>
              <strong>9999.00</strong>&nbsp;
              <small>元</small>
            </span>
            <button class="chongzhi">充&nbsp;值</button>
            <button class="tixian">提&nbsp;现</button>
          </div>
          <span class="cotinfo">
            上次登录时间： 2018-05-22 10：07：10
          </span>
        </div>
      </div>
      <!-- 面包屑 -->
      <div class="flex-r crumbs">
        <p>
          <a>用户中心</a>&nbsp;>&nbsp;
          <a>{{currentfristitem}}</a>&nbsp;>&nbsp;
          <span>{{currentitem}}</span>
        </p>
        <div *ngIf="currentfristitem=='报表管理'">
          <a href="javascript:;"><button class="chongzhi">充值记录</button></a>
          <a href="javascript:;"><button class="tixian">取现记录</button></a>
        </div>
      </div>
      <!-- 表格内容 -->
      <div class="tablecontent">
        <router-outlet></router-outlet>
      </div>

    </div>

  </div>
  <div>
    <app-footer></app-footer>
  </div>

</div>