.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.bg_1 {
  background-color: #f5f5f5;
}
.container {
  width: 950px;
  padding: 0;
  align-content: flex-start;
  align-items: flex-start;
  color: #333;
}
.itemr_box {
  height: 50px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}
.itemr_box:last-child {
  border-bottom: none;
}
.querycontent {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
}
.query_item {
  flex: none;
  padding-right: 20px;
}
input {
  width: 132px;
  height: 30px;
  line-height: 20px;
  padding: 5px 0 4px 5px;
  border: 1px solid #ccc;
}
label {
  font-size: 14px;
  font-weight: normal;
}
.datebtn {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 1px;
  cursor: pointer;
}
.bd_y,
.datebtn:hover {
  border: 1px solid #fe8f00;
}
.querybtn {
  width: 70px;
  height: 30px;
  line-height: 28px;
  padding: 0;
  text-align: center;
  background-color: #fe8f00;
  border: 1px solid #d17702;
  border-radius: 2px;
  color: white;
  outline: none;
  cursor: pointer;
}
.tablebox {
  width: 100%;
  padding: 10px 0 0;
}

.tablewrap {
  width: 100%;
}
#table {
  table-layout: fixed;
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}
#table th {
  font-size: 14px;
  font-weight: bold;
}
#table th,
#table td {
  text-align: center;
  height: 40px;
  border: 1px solid #ccc;
}

.midinfo {
  width: 100%;
  height: 75px;
  padding: 40px 0 0 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.viewbox {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
  justify-content: flex-start;
  align-items: center;
}
.wraning {
  width: 100%;
  justify-content: flex-start;
}
.wraning i {
  width: 8px;
  height: 8px;
  background-color: #fe8f00;
  border-radius: 50%;
}
.wraning p {
  padding-left: 8px;
}
.color_y {
  color: #fe8f00;
}
.draw {
  align-items: center;
  padding: 0 70px 70px 80px;
}
.drawbox {
  position: relative;
  width: 800px;
  height: 210px;
  background-color: white;
}
