
    <div class="flex-c contentbox">
            <div class="flex-r head">
                <span class="flex-r headl">
                    <i></i>
                    <span>当前在线人数：
                        <strong class="color_m">13652</strong> 人</span>
                </span>
                <ul class="flex-r headr">
                    <li class="flex-r">
                        <a href="javescript:;">登陆</a>
                        <span class="line">|</span>
                        <a href="javescript:;" (click)="regis= true">注册</a>
                    </li>
                    <li class="flex-r">
                        <i class="message"></i>
                        <a href="javescript:;">消息</a>
                    </li>
                    <li class="flex-r langbox" (mouseenter)="langdata.show=true" (click)="langdata.show=true" (mouseleave)="langdata.show=false">
                        <span>{{langdata.curlang}}</span>
                        <i class="language"></i>
                        <span class="flex-c langselct" *ngIf="langdata.show" (mouseenter)="langdata.show=true" (mouseleave)="langdata.show=false">
                            <ul>
                                <li *ngFor="let item of langdata.data ;let i = index" (click)="langclick(i)">{{item}}</li>
                            </ul>
                        </span>
                    </li>
    
                </ul>
            </div>
            <div class="flex-r main_head">
                <span class="flex-r headl">
                    <img src="../../images/mod3/logo_m3_01.png" alt="豪彩网">
                </span>
                <span class="flex-r headr">
                    <ul class="flex-r" id="nav">
                        <li class="flex-r" *ngFor="let item of navdata; let i = index" (click)="navclick($event,i)">
                            <a attr.href="{{item.link}}">{{item.text}}</a>
                        </li>
                    </ul>
                    <span class="navbtn">在线客服</span>
                    <span class="activeline" [ngStyle]="{width: lineinfo.width, left: lineinfo.left}"></span>
                </span>
            </div>
            <div class="flex-r noticebox">
                <span>
                    <i></i>
                </span>
                <span class="marq">
                    <marquee>{{now_lang.index.news1}}</marquee>
                </span>
                <span>
                    <a href="javescript:;">更多公告</a>
                </span>
            </div>
        </div>
        <div id="regis" *ngIf="regis" >
            <div class="flex-c regisbox">
                <app-register (close)="close()"></app-register>
            </div>
    
        </div>