.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
}

.color_m {
    color: #C42136;
}

.contentbox {
    width: 100%;
    min-width: 1200px;
    a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    ul{
        list-style: none;
        padding: 0;
    }
    .head {
        width: 1200px;
        height: 46px;
        padding: 0 6px;
        font-size: 12px;
        color: white;
        background-color: #170E1F;
        justify-content: space-between;
        .headl {
            i {
                width: 12px;
                height: 12px;
                background: url('../../images/mod3/icon_m3_01.png') -10px -67px;
                margin-right: 6px;
            }
        }
        ul.headr {
            list-style: none;
            li {
                margin: 0 10px;
                height: 46px;
                line-height: 46px;
                .line {
                    font-size: 14px;
                    padding: 0 4px;
                    cursor: default;
                }
                i.message {
                    width: 14px;
                    height: 12px;
                    margin-right: 4px;
                    background: url('../../images/mod3/icon_m3_01.png') -10px -35px;
                }
                i.language {
                    width: 9px;
                    height: 5px;
                    margin-left: 6px;
                    background: url('../../images/mod3/icon_m3_01.png') -10px -10px;
                }
            }
            .langbox{
                position: relative;
                min-width: 58px;
                justify-content: flex-end;
                cursor: pointer;
                .langselct{
                    position: absolute;
                    top: 40px;
                    right: 0;
                    width: 58px;
                    padding: 5px 0;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    color: #170E1F;
                    background-color: #fff;
                    z-index: 9;
                    ul{
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        li{
                            width: 100%;
                            margin: 0;
                            height: 20px;
                            line-height: 20px;
                            font-size: 10px;
                            text-align: center;
                            border-radius: 2px;
                        }
                        li:hover{
                            background-color: #170E1F;
                            color: white;
                        }
                    }

                }
            }
        }
    }
    .main_head {
        width: 1200px;
        height: 64px;
        padding: 0 20px;
        font-size: 14px;
        background-color: #342840;
        justify-content: space-between;
        .headr {
            position: relative;
            ul {
                list-style: none;
                height: 60px;
                li {
                    position: relative;
                    a {
                        padding: 0 15px;
                        height: 64px;
                        line-height: 64px;
                    }
                }
                li.activeline::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 100%;
                    height: 2px;
                    background-color: #A80B42;
                    border-radius: 1px;
                }
            }
            .navbtn {
                height: 32px;
                line-height: 32px;
                padding: 0 20px;
                margin-left: 15px;
                border: none;
                border-radius: 16px;
                color: white;
                background-color: #241B2F;
                cursor: pointer;
            }
            // .activeline {
            //     position: absolute;
            //     left: 0;
            //     bottom: -2px;
            //     width: 50px;
            //     height: 2px;
            //     background-color: #A80B42;
            //     border-radius: 1px;
            //     // transition: left 200ms ease; //移动动画
            // }
        }
    }
    .noticebox {
        width: 1200px;
        height: 30px;
        padding: 0 20px;
        background-color: #241B2F;
        justify-content: space-between;
        i {
            width: 18px;
            height: 18px;
            background: url('../../images/mod3/icon_m3_01.png') -10px -99px;
        }
        .marq{
            flex: 1;
            margin: 0 30px 0 8px;
            font-size: 10px;
            color: #DFDFDF;
        }
    }
}


#regis{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 888;
    .regisbox{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;
    }
}

