.bg-向右_3_拷贝3 {
    width: 8px; height: 11px;
    background: url('../../images/mod5/indexicon_m5_01.png') -10px -36px;
}
.bg-向右_3_拷贝2 {
    width: 22px; height: 31px;
    background: url('../../images/mod5/indexicon_m5_01.png') -10px -67px;
}
.bg-组16 {
    width: 22px; height: 31px;
    background: url('../../images/mod5/indexicon_m5_01.png') -10px -118px;
}
.bg-组15 {
    width: 22px; height: 31px;
    background: url('../../images/mod5/indexicon_m5_01.png') -10px -169px;
}
.bg-组14 {
    width: 18px; height: 6px;
    background: url('../../images/mod5/indexicon_m5_01.png') -10px -10px;
}
.bg-安卓 {
    width: 30px; height: 34px;
    background: url('../../images/mod5/indexicon_m5_01.png') -10px -220px;
}
.bg-ios {
    width: 30px; height: 34px;
    background: url('../../images/mod5/indexicon_m5_01.png') -10px -274px;
}