<div id="rechargebox" class="flex-c bg_1">
  <div class="flex-r rechbox">
    <div class="rechitem" *ngFor="let item of rechdata; let i=index">
      <span class="flex-r item" [ngClass]="{bd_y:item.hover||rechitemindex == i}" (mouseenter)="item.hover=true" (mouseleave)="item.hover=false"
        (click)="rechitem(i)">
        <i [style.background-position-y.px]="item.bgtop" [style.height.px]="item.height"></i>
        <span> &nbsp; {{item.text}}</span>
        <span class="triangle" *ngIf="rechitemindex == i"></span>
      </span>
    </div>
  </div>
  <!-- 银行卡转账 -->
  <div class="rechcontent" *ngIf="rechitemindex == 0" >
    <div class="flex-c">
      <!-- 状态1显示 -->
      <div class="flex-c" *ngIf="status.bank ==1">
        <span class="flex-r" style="justify-content: flex-start">
          <i class="bgicon">1</i>&nbsp;&nbsp;
          <p>请选择入款银行账号：</p>
        </span>
        <span class="setpadding">
          <span class="flex-r card bd_1" [ngClass]="{bd_y:activeinfo.inaccount}" (click)="activeinfo.inaccount=!activeinfo.inaccount">
            <i></i>
            <span class="flex-c">
              <p>开户银行：中国农业银行</p>
              <p>开户网点：深圳罗湖支行</p>
              <p>收款账号：1635892462015561</p>
              <p>收款人：深圳人才技术有限公司</p>

            </span>
            <span class="card_triangle" *ngIf="activeinfo.inaccount"></span>

          </span>
        </span>
        <span class="setpadding">
          <button class="btn" (click)="set_status(2)">下一步</button>
        </span>
      </div>
      <!-- 状态2显示 -->
      <div class="flex-c" *ngIf="status.bank ==2">
        <span>
          <span class="color-red">*</span>您目前选择的是
          <span class="color-y">
            中国农业银行
          </span>充值服务
        </span>
        <span class="flex-r setpad" style="justify-content: flex-start; padding-top:10px;">
          <i class="bgicon">2</i>&nbsp;&nbsp;
          <p>填写转账资料：</p>
        </span>
        <span class="flex-r">
          <table class="table" width="270px" border="1" cellspacing="0" cellpadding="4" bgcolor="#ccc" align="center">
            <tr>
              <td style="width: 90px;">存入金额</td>
              <td>
                <input type="text" name="money" id="money" [(ngModel)]="moneydata.money">
              </td>
            </tr>
            <tr>
              <td>存款人姓名</td>
              <td>
                <input type="text" name="money" id="money" [(ngModel)]="moneydata.name">
              </td>
            </tr>

          </table>
          <span class="flex-c rightinfo">
            <P>
              <i class="warnicon"></i>&nbsp;
              <span class="color-red">*</span>此处所填写姓名必须与您付款卡姓名一致，若不一致，将无法自动到账。
            </P>
            <P>
              <i class="warnicon"></i>&nbsp;
              <span class="color-red">*</span>此处所填写金额必须与您实际支付金额一致，若不一致，将无法自动到账
            </P>
          </span>
        </span>
        <span class="flex-r" style="justify-content: flex-start; padding-top:10px;">
          <i class="bgicon">3</i>&nbsp;&nbsp;
          <p>选择转账类型：</p>
        </span>
        <!-- =============下面的选择转账类型 -->
        <div class="flex-r rechbox setpad">
          <div class="rechitem" *ngFor="let item of rechdata2; let i=index">
            <span class="flex-r item item2" [ngClass]="{bd_y:item.hover||rechitemindex2 == i}" (mouseenter)="item.hover=true" (mouseleave)="item.hover=false"
              (click)="rechitem2(i)">
              <i [style.background-position-y.px]="item.bgtop" [style.height.px]="item.height"></i>
              <span> &nbsp; {{item.text}}</span>
              <span class="triangle" *ngIf="rechitemindex2 == i"></span>
            </span>
          </div>
        </div>
        <span class="flex-r setpad">
          <button class="btn" (click)="set_status(1)">上一步</button>&nbsp;&nbsp;
          <button class="btn"  (click)="set_status(3)">确认</button>
        </span>
      </div>
      <!-- 状态3显示 -->
      <div class="flex-c" *ngIf="status.bank ==3">
        <span>
          请确认订单信息：
        </span>
        <div class="setpad" style="width:700px">
          <span class="notarize">
            充值申请的有效时间为30分钟，为保障充值成功，请在30分钟之内完成充值。倒计时 <span class="color-red">29:10</span> 
          </span>

        </div>
        <span>
          <span class="color-red">*</span>您目前选择的是
          <span class="color-y">
            中国农业银行
          </span>充值服务
        </span>

        <span class="flex-r" style="padding-top: 15px;">
          <table class="table" width="430px" border="1" cellspacing="0" cellpadding="4" bgcolor="#ccc" align="center">
            <tr>
              <td style="width: 100px">收款帐户名</td>
              <td style="width: 230px">深圳市安徽福建有限公司</td>
              <td style="width: 100px">
                <span class="btn copy">复制</span>
              </td>
            </tr>
            <tr>
              <td>卡号</td>
              <td>12121212121212121</td>
              <td>
                <span class="btn copy">复制</span>
              </td>
            </tr>
            <tr>
              <td>开户城市</td>
              <td>深圳罗湖支行</td>
              <td>
                <span class="btn copy">复制</span>
              </td>
            </tr>
            <tr>
              <td>订单金额</td>
              <td>￥ 10元</td>
              <td>
                <span class="btn copy">复制</span>
              </td>
            </tr>
            <tr>
              <td>订单号</td>
              <td>1546154651321654654616</td>
              <td>
                <span class="btn copy">复制</span>
              </td>
            </tr>
          </table>
        </span>

        <span class="info">
          <p>
            <i class="warnicon"></i>&nbsp;
            <span class="color-red">*</span>点击复制按钮将收款银行信息复制到您银行转账信息填写页面进行转账充值；
          <p>
            <i class="warnicon"></i>&nbsp;
            <span class="color-red">*</span>转账成功后，点击提交按钮提交此次订单信息，若不提交，无法自动到账；
          </p>
          <p>
            <i class="warnicon"></i>&nbsp;
            <span class="color-red">*</span>若由于充值错误导致资金受损，本公司恕不负责；
          </p>
          <p>
            <i class="warnicon"></i>&nbsp;
            <span class="color-red">*</span>若付款后5分钟未到账，请将您的信息，以及您成功转账的截图提交给客服进行处理。
          </p>

        </span>
        <span class="flex-r setpad">
          <button class="btn" (click)="set_status(2)">上一步</button>&nbsp;&nbsp;
          <button class="btn">提交</button>
        </span>
      </div>





      <!-- 底部提示信息，在提交页面隐藏！ -->
      <span class="setpadding info" *ngIf="status.bank !==3">
        <p>
          <i class="warnicon"></i>
          转账须知：
        </p>
        <P>
          <span class="color-red">*</span>单笔最低存款金额0元</P>
        <P>
          <span class="color-red">*</span>单笔最高存款金额0元</P>
        <P>
          <span class="color-red">*</span>以上银行账号仅限本次使用，账号不定期更换！请您根据本页面所提供的收款账号进行转账，若存款至过期账号，本公司恕不负责！</P>
      </span>
    </div>
  </div>
 <!-- 在线支付 -->
 <div class="rechcontent" *ngIf="rechitemindex == 1">
   zaixinzhifu
 </div>
</div>