<div class="flex-c bankbox">
  <div class="flex-r bankhead">
    <span>我的银行卡</span>
    <p>已添加<i class="color_y">2</i>张储蓄银行卡</p>
  </div>
  <div class="flex-r bankcontent" >
    <div class="flex-c bankitem">
      <div class="flex-r">
        <i></i>
        <span class="bold">尾号8888&nbsp;&nbsp;<span class="cardtype">储蓄卡</span></span>
      </div>
      <div class="flex-r bankinfo">
        <span>
          <p>持卡人姓名：*赌神</p>
          <p>手机号：188****3333</p>
        </span>
        <span class="del">删除</span>
      </div>
    </div>
    <div class="flex-c bankitem">
      <div class="flex-r">
        <i></i>
        <span class="bold">尾号8888&nbsp;&nbsp;<span class="cardtype">储蓄卡</span></span>
      </div>
      <div class="flex-r bankinfo">
        <span>
          <p>持卡人姓名：*赌神</p>
          <p>手机号：188****3333</p>
        </span>
        <span class="del">删除</span>
      </div>
    </div>
    <div class="bankitem add"></div>
  </div>
</div>