.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}
.bg_1 {
  background-color: #f5f5f5;
}
.container {
  width: 950px;
  padding: 0;
  align-content: flex-start;
  align-items: flex-start;
  // border: 1px solid #ccc;
}
.formbox {
  width: 100%;
  min-height: 502px;
  padding: 10px 0 20px;
  border: 1px solid #ccc;
  border-top: none;
}
.tablebox {
}
.formitem {
  height: 50px;
  padding-top: 20px;
  justify-content: flex-start;
}
.formitem label {
  width: 150px;
  height: 30px;
  line-height: 28px;
  text-align: right;
}
.formitem select {
  width: 240px;
  height: 30px;
  line-height: 28px;
  padding-left: 8px;
  border: 1px solid #ccc;
}
.formitem select[id="money"] {
  width: 150px;
}
.subbox {
  width: 100%;
  //   padding:20px 0 0 84px;
  padding-left: 20px;
  height: 50px;
  border: 1px solid #ccc;
  justify-content: flex-start;
}
.btn1 {
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  padding: 0;
  border: 1px solid #999;
  border-radius: 2px;
  background-color: #ccc;
}
.bg_y,
.btn1:hover {
  color: white;
  background-color: #fe8f00;
  border: 1px solid #d17702;
}
.settitle {
  padding: 10px 0 0 70px;
  font-size: 14px;
}
.warning {
  color: red;
  padding-left: 8px;
}
.linkbtn {
  padding: 30px 0 0 150px;
}

.tablebox {
  position: relative;
  width: 100%;
  padding: 10px 0 0;
}

.tablewrap {
  width: 100%;
  border: 1px solid #ccc;
}
#table {
  table-layout: fixed;
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}
#table th {
  font-size: 14px;
  font-weight: bold;
}
#table th,
#table td {
  text-align: center;
  height: 40px;
  border: 1px solid #ccc;
}
.total_tr {
  font-size: 14px;
  color: #fe8f00;
}
.color_y {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

.page {
  align-self: center;
}

//   ========================================
#addcontent {
  position: absolute;
  top: -96px;
  left: 130px;
  width: 440px;
  height: 460px;
  font-size: 14px;
  color: #333;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 0 4px rgba(153, 153, 153, 0.7);
  z-index: 999;
}
.addgead {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 20px;
  text-align: center;
  justify-content: space-between;
  background-color: #fe8f00;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.addgead i {
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.contentbox {
  width: 100%;
  padding: 30px 35px;
}
.content {
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: none;
  min-height: 100px;
  align-items: flex-start;
}
.contentitem {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  justify-content: flex-start;
}
.labelspan {
  width: 100px;
  text-align: right;
}
.contentinfo {
  position: relative;
}
.code {
  height: 140px;
}
.code .labelspan, .code .contentinfo{
  align-self: flex-start;
}
.code .contentinfo{
    padding-top: 10px;
}
.codeimg {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background-color: #ccc;
}
#editrebates, #edittype, #editstatus{
    position: absolute;
    width: 100px;
    height: 24px;
    line-height: 24px;
    top:3px;;
    left:0;
}
