<div class="container flex-r">
  <div class="contain">
    <div class="top">
      <div class="logobox">
      </div>
    </div>
    <div class="main">
      <form id="reform" class="reform flex-c rel">
        <div class="errbox" *ngIf="errtip">
          <app-errtip [message]="errtip"></app-errtip>
        </div>
        <div class="head">
          <span>用户注册</span>
        </div>
        <div calss="account">
          <div class="flex-r reform-item trans-bg" [ngClass]="{'errborder': inborder.account}">
            <label for="account">
              <i class="account-icon"></i>
            </label>
            <input class="reform-item-in" type="text" placeholder="账号只能有3-15位是熟悉和字母组成" [(ngModel)]="formdata.account" name="account"
              id="account" (blur)="validator('account')" (keyup.enter)="validator('account')">
          </div>
        </div>
        <div calss="password">
          <div class="flex-r reform-item trans-bg" [ngClass]="{'errborder': inborder.password1}">
            <label for="password1">
              <i class="password-icon"></i>
            </label>
            <input class="reform-item-in" id="password1" type="password" placeholder="密码长度有6-13个数字和字母组成" autocomplete='' [(ngModel)]="formdata.password1"
              name="password" (blur)="validator('password1')" (keyup.enter)="validator('password1')">
          </div>
        </div>
        <div calss="password">
          <div class="flex-r reform-item trans-bg" [ngClass]="{'errborder': inborder.password2}">
            <label for="password2">
              <i class="password-icon"></i>
            </label>
            <input class="reform-item-in" id="password2" name="password2" type="password" placeholder="重复输入密码" autocomplete='' [(ngModel)]="formdata.password2"
              (blur)="validator('password2')" (keyup.enter)="validator('password2')">
          </div>
        </div>
        <div calss="phone">
          <div class="flex-r reform-item trans-bg" [ngClass]="{'errborder': inborder.phone}">
            <label for="apassword2">
              <i class="phone-icon"></i>
            </label>
            <input class="reform-item-in" type="text" id="phone" name="phone" placeholder="手机号码" [(ngModel)]="formdata.phone" (blur)="validator('phone')"
              (keyup.enter)="validator('phone')">
          </div>
        </div>
        <div>
          <div class="flex-r">
            <div class="flex-r reform-item trans-bg security-l" [ngClass]="{'errborder': inborder.security}">
              <label for="security">
                <i class="security-icon"></i>
              </label>
              <input class="reform-item-se" style="width: 100px;" id="security" name="security" type="text" placeholder="验证码" [(ngModel)]="formdata.security"
                (blur)="validator('security')" (keyup.enter)="validator('security')">
            </div>
            <div class="trans-bg">
              <div class="reform-item-se flex-r security-r">
                <span class="security-imgbox"></span>
                <span class="security-rep color-white">换一个</span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button class="sub-btn" (click)="onsubmit()">立即注册</button>
        </div>
        <div class="linktip color-white">
          <a class="color-white" href="#/login">我要登录</a> &nbsp;|&nbsp;
          <a class="color-white" href="javascript:;">联系客服</a>
        </div>
      </form>
    </div>
  </div>
</div>