@charset "UTF-8";
// * {
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     font-size: 12px;
// }

.flex-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
.result-head{
    width: 100%;
    min-width: 1360px;
    height: 60px;
    color: white;
    background-color: #5c5c5c;
    font-size: 14px;
    justify-content: center;
    .result-head-in{
        min-width: 1200px;
        .game{
            margin-right: 16px;
            .gamelist{
                width: 225px;
                height: 40px;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: white;
                color: black;
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
                option{
                    line-height: 20px;
                    font-size: 14px;
                }
            }
        }
        .checkbox-box{
            justify-content: center;
             label{
                align-items: center;
                margin-left: 16px;
                input[type="checkbox"]{
                    margin-right: 3px;
                }
            }

        }
        .period{
            justify-content: center;
            margin-left: 16px;
            a{
                text-decoration: none;
                color: white;
                width: 80px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                cursor: pointer;
            }
            .active{
                background-color: #fe8f00;
            }

        }

    }

}
.result-main{
    width:100%;
    // margin: 0 auto;
    // background: #111 url("../images/bg_02.jpg") center no-repeat;
    // background-size: cover;
    padding: 5px 0 20px;
}