<div class="flex-c sscbox" [hidden]="!loadpage">
    <div class="flex-c pccontain">
        <div class="flex-r tabbox">
            <div class="flex-r tabcontent">
                <span class="tabactive">大小骰宝</span>
            </div>
            <div class="flex-r togglebtn">
                <span (click)="routlink()">官方</span>
                <span class="togactive">信用</span>
            </div>
        </div>
        <div class="contaner">
            <div class="flex-r mainbox">
                <div class="flex-c contentbox">
                    <div class="flex-r selctbox" onselectstart="return false;" style="-moz-user-select:none;">
                        <span class="flex-r">
                            <span class="flex-r rangebox">
                                <span class="showvalue">{{(odds-rangevalue)| number : '1.0-1'}}%</span>
                                <span class="icon" (click)="rangevaluelessen()">-</span>
                                <span class="flex-r range">
                                    <input type="range" name="points" min="0" max="{{odds}}" step="{{rastep}}" id="points" [(ngModel)]="rangevalue">
                                </span>
                                <span class="icon" (click)="rangevalueadd()">+</span>
                            </span>
                        </span>
                        <span class="flex-r btngroup">
                            <button [ngClass]="{btnactive:selectbtnvalue === 0}" (click)="tabclick(0)">一般</button>
                            <button [ngClass]="{btnactive:selectbtnvalue === 1}" (click)="tabclick(1)">快捷</button>
                            <button class="kuxuan" (click)="tabclick(2)">快选金额</button>
                        </span>
                    </div>
                    <div class="flex-c mycontaion">

                        <!-- 大小骰子 -->
                        <div class="flex-c content">
                            <div class="flex-r conmain">
                                <div class="flex-r contenttop" *ngFor="let item of contenttoptitle;">
                                    <span class="flex-r itembox">
                                        <span class="item1">号码</span>
                                        <span class="item2">赔率</span>
                                        <span class="item3" *ngIf="inputshow">金额</span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-r contitle">{{k3data1.title}}</div>
                            <div class="flex-r conmain">
                                <div class="flex-r conmainbox" *ngFor="let item of k3data1.data1; let i=index" [ngClass]="{checkbg:selectbtnvalue===1&&item.checked}" (click)="rapid(item)">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1" [title]="k3data1.title+'：'+item.numb">
                                            <i [ngStyle]="{'background-position-y': imgtop[item.numb].top}"></i>
                                        </span>
                                        <span class="item2 color_m">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoneyfoc($event, item)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                </div>
                                <div class="flex-r conmainbox" *ngFor="let item of k3data1.data2; let i=index" [ngClass]="{checkbg:selectbtnvalue===1&&item.checked}" (click)="rapid(item)">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1" *ngIf="item.name !== null" [title]="'大小：'+item.name">
                                            {{item.name}}
                                        </span>
                                        <span class="item2 color_m" *ngIf="item.name !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow && item.name !== null">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoneyfoc($event, item)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-r contitle">{{k3data2.title}}</div>
                            <div class="flex-r conmain">
                                    <div class="flex-r conmainbox" *ngFor="let item of k3data2.data1; let i=index" [ngClass]="{checkbg:selectbtnvalue===1&&item.checked}" (click)="rapid(item)">
                                            <span class="flex-r itembox">
                                                <span class="flex-r item1" [title]="'全骰：'+item.name">
                                                    {{item.name}}
                                                </span>
                                                <span class="item2 color_m">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                                <span class="item3" *ngIf="inputshow">
                                                    <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoneyfoc($event, item)"
                                                        (blur)="inmoneyblur()" (keyup)="changereg()">
                                                </span>
                                            </span>
                                        </div>
        
                                <div class="flex-r conmainbox" *ngFor="let item of k3data2.data2; let i=index" [ngClass]="{checkbg:selectbtnvalue===1&&item.checked}" (click)="rapid(item)">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 " *ngIf="item.numb !== null" [title]="'围骰：'+item.numb">
                                            <i [ngStyle]="{'background-position-y': imgtop[item.numb].top}"></i>
                                        </span>
                                        <span class="item2 color_m" *ngIf="item.numb !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow && item.numb !== null">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoneyfoc($event, item)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-r contitle">{{k3data3.title}}</div>
                            <div class="flex-r conmain">        
                                <div class="flex-r conmainbox" *ngFor="let item of k3data3.data1; let i=index" [ngClass]="{checkbg:selectbtnvalue===1&&item.checked}" (click)="rapid(item)">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 doubicon " *ngIf="item.numb !== null" [title]="k3data3.title+'：'+item.numb[0]+item.numb[1]">
                                            <i [ngStyle]="{'background-position-y': imgtop[item.numb[0]].top}"></i>
                                            <i [ngStyle]="{'background-position-y': imgtop[item.numb[1]].top}"></i>
                                        </span>
                                        <span class="item2 color_m" *ngIf="item.numb !== null">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow && item.numb !== null">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoneyfoc($event, item)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-r contitle">{{k3data4.title}}</div>
                            <div class="flex-r conmain">        
                                <div class="flex-r conmainbox" *ngFor="let item of k3data4.data1; let i=index" [ngClass]="{checkbg:selectbtnvalue===1&&item.checked}" (click)="rapid(item)">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 doubicon" [title]="k3data4.title+'：'+item.name">
                                            {{item.name}}
                                        </span>
                                        <span class="item2 color_m">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoneyfoc($event, item)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="flex-r contitle">{{k3data5.title}}</div>
                            <div class="flex-r conmain">        
                                <div class="flex-r conmainbox" *ngFor="let item of k3data5.data1; let i=index" [ngClass]="{checkbg:selectbtnvalue===1&&item.checked}" (click)="rapid(item)">
                                    <span class="flex-r itembox">
                                        <span class="flex-r item1 doubicon" [title]="k3data5.title+'：'+item.numb[0]+item.numb[1]">
                                                <i [ngStyle]="{'background-position-y': imgtop[item.numb[0]].top}"></i>
                                                <i [ngStyle]="{'background-position-y': imgtop[item.numb[1]].top}"></i>
                                        </span>
                                        <span class="item2 color_m">{{(item.point+(item.step*rangevalue))| number : '1.0-3'}} </span>
                                        <span class="item3" *ngIf="inputshow">
                                            <input type="text" maxlength="9" class="inmoney" name="inmoney" [(ngModel)]="item.value" (focus)="inmoneyfoc($event, item)"
                                                (blur)="inmoneyblur()" (keyup)="changereg()">
                                        </span>
                                    </span>
                                </div>
                            </div>

                        </div>
                        <!-- 按钮 -->
                        <div class="flex-r subbox">
                            <span class="flex-r btngroup">
                                <span *ngIf="!inputshow">
                                    <input type="text" maxlength="9" class="inmoney" id="allinmoney" name="allinmoney" [(ngModel)]="setallmoney.value" value=""
                                        (focus)="inmoneyfoc($event, setallmoney)" (blur)="inmoneyblur()" (change)="allchange()" (keyup)="changereg()">
                                </span>
                                <button class="btnactive" (click)="sub()">确定</button>
                                <button class="resetbtn" (click)="reset()">取消</button>
                            </span>

                        </div>

                        <!-- 活动选择框 -->
                        <div id="selectbox" [ngStyle]="{'top': boxposition.y, 'left': boxposition.x}" *ngIf="boxshow && boxvalid">
                            <div class="flex-c selectwrap">
                                <i></i>
                                <span class="option" *ngFor="let item of selmoeny" (mousedown)="optinclick(item)">{{item}}元</span>
                            </div>
                        </div>
                        <!-- 快选金额 -->
                        <div class="setbox" *ngIf="popup.setnumb.show" [style.left.px]= "popup.setnumb.left" [style.top.px]= "popup.setnumb.top">
                            <div class="flex-c content" [ngClass]="{scale:popup.setnumb.scale}">
                                <div class="flex-r top" (mousedown)="popmousedown($event,'setnumb')" (mouseleave)="popmouseup($event,'setnumb')" (mouseup)="popmouseup($event,'setnumb')" (mousemove)="popmousmove($event,'setnumb')">
                                    <span>快选金额</span>
                                    <i (click)="close()"> &times; </i>
                                </div>
                                <div class="flex-c main">
                                    <p>注意： </p>
                                    <p>设置只保存在您的电脑，清空浏览器缓存或 更换电脑会显示默认值。</p>
                                    <div class="flex-c setinput">

                                        <span class="flex-r item" *ngFor="let item of popup.setnumb.data; let i=index">
                                            <input type="text" name="setinput" maxlength="9" [(ngModel)]="popup.setnumb.data[i].value" (keyup)="changeregset(i)">
                                            <span (click)="setnumbdel(i)">删除</span>
                                        </span>
                                        <span class="flex-r item" *ngIf="popup.setnumb.data.length<5">
                                            <input type="text" name="setinput" maxlength="9" [(ngModel)]="popup.setnumb.value" (keyup)="changeregset(-1)">
                                            <span (click)="addnumb()">增加</span>
                                            <span (click)="numbdel()">删除</span>
                                        </span>

                                    </div>
                                    <div class="flex-r btnbox">
                                        <span class="btn1" (click)="setboxvalid()">{{boxvalid?'禁用':'开启'}}</span>
                                        <span class="btn2" (click)="savenum()">保存</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 提交窗口 -->
                        <div class="subpopup" *ngIf="popup.sub.show" [style.left.px]= "popup.sub.left" [style.top.px]= "popup.sub.top">
                                <div class="flex-c content" [ngClass]="{scale:popup.sub.scale}">
                                    <div class="flex-r top" (mousedown)="popmousedown($event,'sub')" (mouseleave)="popmouseup($event,'sub')" (mouseup)="popmouseup($event,'sub')" (mousemove)="popmousmove($event,'sub')">
                                        <span>投注信息</span>
                                        <i (click)="close()"> &times; </i>
                                    </div>
                                    <div class="flex-c thead">
                                        <table id="table" width="100%" border="0" cellspacing="0" cellpadding="4"   align="center">
                                            <tr class="bg_1">
                                                <th style="width: 40px;">序号</th>
                                                <th style="width: 140px;">频道</th>
                                                <th style="width: 140px;">玩法</th>
                                                <th style="width: 100px;">期号</th>
                                                <th style="width: 80px;">球号</th>
                                                <th style="width: 60px;">号码</th>
                                                <th style="width: 80px;">赔率</th>
                                                <th style="padding-right: 18px;">金额</th>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="flex-c tablewrap">
                                        <table id="table" width="100%" border="0" cellspacing="0" cellpadding="4"   align="center">
                                            <tbody>
                                                <tr *ngFor="let item of subdata; let i=index">
                                                    <td style="width: 40px;">{{ i + 1 }}</td>
                                                    <td style="width: 140px;">{{item.channel}}</td>
                                                    <td style="width: 140px;">{{item.type}}</td>
                                                    <td style="width: 100px;">{{item.id}}</td>
                                                    <td style="width: 80px;">{{item.ball}}</td>
                                                    <td style="width: 60px;">{{item.number}}</td>
                                                    <td style="width: 80px;">{{item.point}}</td>
                                                    <td>{{item.money}}</td>
                                                </tr>
    
                                            </tbody>
                                        </table>
                                    </div>
                                    <span class="flex-r foot">共<strong>{{subdata.length}}</strong>注，总计投注金额
                                        <strong>{{submoney}}</strong>元
                                        <span class="flex-r newpoint">
                                            <input type="checkbox" [(ngModel)]="newpoint">  按最新赔率提交
                                        </span>
                                    </span>
                                    <div class="flex-r subbox">
                                        <span class="flex-r btngroup">
                                            <button class="btnactive" (click)="submit()">提交</button>
                                            <button class="resetbtn" (click)="close()">取消</button>
                                        </span>
            
                                    </div>
                                </div>
                            </div>
                            <!-- 遮罩层 -->
                            <div class="shade" [style.width.px]="popup.shade.w" [style.height.px]="popup.shade.h" *ngIf="popup.shade.show"></div>
    
                        </div>
    
                    </div>
                    <!-- 右边信息区内容 -->
                    <div class="resultbox">
                        <app-sider></app-sider>
    
                    </div>
                </div>
            </div>
    </div>

    <app-pupout [data]='popoutInfo' (close)="closePopouot($event)" (notarize)="NOTARIZE()"></app-pupout>