@charset "UTF-8";
@import '../../images/common';
html,body {height:100%;}
$yellow:#fe8f00;
.nav{
	width:100%;
	position:relative;
	float:left;
}
*{
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	font-size:12px;
}
/* 颜色 */
.orange_font{
	color: #fe8f00;
}
.jiangjin_tips{
	float: left;
    position: relative;
    z-index: 998;
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    background-color: rgb(204, 204, 204);
    color: rgb(68, 68, 68);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
}
/* 提示 */
.tips{
	width: 250px;
	/* min-height: 74px; */
	padding: 10px 25px;
	background-color: #222;
	line-height: 25px;
	position: absolute;
	left: 0;
	top:0;
	color: white;
	/* margin-top: -125%; */
	transform:translateY(-110%) scale(0.5);
	margin-left: -125px;
	border:2px solid #fe8f00;
	border-radius: 4px;
	text-align: center;
	transition:0.1s ease;
}
.long_tips{
	text-align: left;
	width: 400px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.dropdown{
	height:auto;
	width: 50px;
	position: absolute;
	margin-left:56px;
	border:1px solid #ccc;
	box-shadow: 0px -2px 8px 1px rgba(0,0,0,0.2);
	margin-top: 22px;
	background-color: #fff;
	li{
		border-bottom: 1px solid #ccc;
		text-align: center;
		cursor: pointer;
	}
	li:hover{
		background-color: #eee;
	}
}
.ulhidden{
	display: none;
}
.tipshidden{
	/* display: none; */
	visibility: hidden;
}


.tipsshow{
	/* display: block; */
	visibility: visible;
	transform:translateY(-110%) scale(1);
}
.check_ballplace{
	height: 35px;
	width: 100%;
	background-color: #fff;
	clear: both;
	>div{
		height: 100%;
		line-height: 35px;
		vertical-align: top;
		font-size: 14px;
		float: left;
	}
	.til{
		text-indent: 38px;
		width: 15%;
	}
	.check_box{
		width: 25%;
	}
	.check_box input{
		margin-top: 10px;
		margin-right: 5px;
		vertical-align: top;
	}
	.tips_right{
		width: 60%;
	}
	.tips_right>div{
		display: inline-block;
	}
}

.topbox{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
	height:40px;
	.topleft{
		float:left;
		overflow:hidden;
		height:40px;
		.time{
			float:left;
			height:15px;
			line-height:15px;
			border-right:1px solid #ffffff;
			padding-right:10px;
			color:#fff;
			margin-top:12px;
			font-size:14px;
		}
		.language{
			margin-top:9px;
			float:left;
			margin-left:10px;
			cursor:pointer;
			img{
				height:16px;
			}
		}
	}
	.topright{
		float:right;
		overflow:hidden;
		height:40px;
		.userinfo{
			float:left;
			padding:10px;
			font-size:14px;
			color:#fff;
			.title{
				float:left;
			}
			.getinfo{
				float:left;
				color:#fff;
			}
			.mr20{
				margin-right:20px;
			}
			.ml10{
				margin-left:20px;
			}
			.money{
				float:left;
				width: 80px;
				color:$yellow;
			}
			.titlerel{
				float:left;
				margin-left:10px;
				margin-top:3px;
				cursor:pointer;
			}
		}
		.centerlist{
			float:left; 
			height:40px;
			padding:12px 0px;
			margin-left:20px;
			li{
				float:left;
				color:#fff;
				list-style:none;
				padding:0px 10px;
				height:14px;
				line-height:14px;
				border-right:1px solid #fff;
				a{
					color:#fff;
					cursor:pointer;
					:hover{
						color:$yellow;
					}
				}
			}
			:last-child{
				padding-right:0px;
				border-right:none;
			}
			
		}
	}
}

.headbox{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
	height:80px;
	padding:10px 0px;
	.headleft{
		float:left;
		overflow:hidden;
		height:100%;
		width:370px;
		.logo{
			height:60px;
		}
	}
	.headright{
		float:right;
		overflow:hidden;
		height:100%;
		width:830px;
		.navtab{
			float:right; 
			padding:12px 0px;
			margin-left:20px;
			li{
				float:left;
				color:#fff;
				list-style:none;
				margin-right:45px;
				.pc{
					font-size:16px;
					text-align:center;
					margin-bottom:0px;
					font-weight:bold;
				}
				.pe{
					font-size:12px;
					text-align:center;
					width:100%;
					margin-bottom:0px;
				}
				a{
					color:#333;
					cursor:pointer;
					text-decoration:none;
					:hover{
						color:$yellow;
					}
				}
				:hover{
					color:$yellow;
				}
			}
			:last-child{
				margin-right:0px;
			}
			
		}
	}
}
.banner{
	width:100%;
	float:left;
	text-align:center;
	height:200px;
	.img{
		height:200px;
		margin:0 auto;
		background:url(../../images/banner_10.jpg) center no-repeat;
		background-size:cover;
	}
}
.conbox{
	width:100%;
	float:left;
	background:url("../../images/bg_02.jpg") center no-repeat;
	background-size: cover;
	.content{
		width:1200px;
		position:relative;
		margin:0 auto;
		overflow:hidden;
		margin-bottom:20px;
		.gamenav{
			width:100%;
			float:left;
			position:relative;
			margin-top:30px;
			.alltype{
				width:240px;
				height:100px;
				float:left;
				border-radius:4px;
				overflow:hidden;
				cursor:pointer;
				.fltitle{
					background:$yellow;
					width:40px;
					color:#fff;
					font-size:14px;
					text-align:center;
					line-height:20px;
					height:100px;
					float:left;
					padding:10px 10px;
				}
				.frimg{
					background:#333333;
					width:200px;
					text-align:center;
					float:left;
					line-height:100px;
					img{
						height:83px;
					}
				}
			}
			.gametime{
				width:340px;
				height:100px;
				float:left;
				border-radius:4px;
				overflow:hidden;
				padding:25px;
				background:#333333;
				margin-left:20px;
				.fltitle{
					width:40px;
					color:#fff;
					font-size:12px;
					float:left;
					width:125px;
					height:100%;
					p{
						width:100%;
						color:#fff;
						margin:0;
						line-height:20px;
						span{
							color:$yellow;
							padding:0 3px;
						}
					}
				}
				.frtime{
					text-align:center;
					float:right;
					margin:0px;
					padding:0px;
					li{
						float:left;
						list-style:none;
						width: 50px; height: 50px;
						background: url('../../images/sscsprites.png') -53px -0;
						line-height:50px;
						text-align:center;
						color:#fff;
						font-size:16px;
					}
				}
			}
			.gameresult{
				width:580px;
				height:100px;
				float:right;
				border-radius:4px;
				padding:25px;
				background:#333333;
				.fltitle{
					width:40px;
					color:#fff;
					font-size:12px;
					float:left;
					width:125px;
					height:100%;
					p{
						width:100%;
						color:#fff;
						margin:0;
						line-height:20px;
						span{
							color:$yellow;
							padding:0 3px;
						}
					}
				}
				.frnumber{
					float:left;
					margin:0px;
					padding:0px;
					li{
						float:left;
						list-style:none;
						width: 53px; height: 53px;
						background: url('../../images/sscsprites.png') -0 -0;
						line-height:50px;
						text-align:center;
						color:#fff;
						font-size:22px;
						margin-right:10px
					}
				}
				.line{
					float:left;
					width: 2px; height: 52px;
					background: url('../../images/sscsprites.png') -161px -0;
					margin-left:10px;
				}
				.currresult{
					width:40px;
					color:#fff;
					font-size:12px;
					float:right;
					width:60px;
					height:100%;
					.pt{
						width:100%;
						color:$yellow;
						font-size:14px;
						margin:0;
						text-align:center;
						margin-top:5px;
					}
					.pimg{
						text-align:center;
						width:100%;
						height:15px;
						margin:0;
						margin-top:5px;
						span{
							display: inline-block;
							width: 14px; height: 15px;
							background: url('../../images/sscsprites.png') -141px -36px;
						}
					}
				}
			}
		}
		.sscorder{
			width:100%;
			float:left;
			position:relative;
			margin-top:20px;
			/* overflow:hidden; */
			.sscleft{
				width:900px;
				float:left;
				/* overflow:hidden; */
				border-radius:4px;
				.tabbox{
					height:50px;
					width:100%;
					float:left;
					background:#333;
					.pointl{
						float:left;
						width:50px;
						height:50px;
						line-height:50px;
						text-align:center;
						padding-top: 5px;
						cursor:pointer;
						i{
							width: 20px; height: 20px;
							background: url('../../images/sscsprites.png') -120px -111px;
						}
					}
					.typetab{
						float:left;
						max-width:690px;
						width: 100%;
						/* overflow:hidden; */
						height:50px;
						li{
							height:50px;
							float:left;
							font-size:14px;
							color:#fff;
							padding:0px 10px;
							line-height:50px;
							cursor:pointer;
						}
						.active{
							background:#3d3d3d;
						}
					}
					.pointr{
						float:left;
						width:50px;
						height:50px;
						line-height:50px;
						text-align:center;
						padding-top: 5px;
						cursor:pointer;
						i{
							width: 20px; height: 20px;
							background: url('../../images/sscsprites.png') -100px -111px;
						}
					}
					.totaltype{
						height:25px;
						float:right;
						border-radius:2px;
						border:1px solid #fff;
						overflow:hidden;
						margin-right:20px;
						margin-top:13px;
						li{
							float:left;
							padding:0px 10px;
							line-height:23px;
							cursor:pointer;
							color:#fff;
							a{
								color:#fff;
								text-decoration: none;
							}
						}
						.active{
							color:#333;
							background:#fff;
							a{
								color:#333;
								text-decoration: none;
							}
						}
					}
				}
				.tabcon{
					width:100%;
					float:left;
					background:#3d3d3d;
					overflow:hidden;
					padding:20px 40px;
					.tabshow{
						width:100%;
						float:left;
						.navcon{
							width:100%;
							float:left;	
							margin-bottom:10px;
							.labtit{
								color:#fff;
								float:left;
								width:80px;
								height:30px;
								line-height:30px;
								font-size:14px;
							}
							li{
								cursor:pointer;
								padding:0px 5px;
								height:30px;
								line-height:30px;
								text-align:center;
								font-size:14px;
								color:#fff;
								float:left;
								background:#525151;
								margin-left:10px;
								border-radius:4px;
							}
							.active{
								background:$yellow;
								color:#333;
							}
						}
						.tip{
							font-size:12px;
							color:#fff;
							width:100%;
							margin-top:10px;
							float:left;
						}
					}
				}
				.chooseno{
					width:100%;
					height:40px;
					float:left;
					padding-left:40px;
					background:#fff;
					padding-right:30px;
					.helpbox{
						width:100%;
						line-height:40px;
						.hot_lost{
							display: inline-block;
							float:left;
						}
						.hot_hidden{
							display: none;
						}
						label{
							float:left;
							margin-right:15px;
							color:#333;
							input[type=checkbox]{
								border:1px solid $yellow;
								color:$yellow;
								width:18px;
								height:18px;
								float:left;
								margin-top: 12px;
								margin-right:3px;
							}
						}
						.tip{
							float:left;
							position:relative;
							padding-left:13px;
							i{
								width: 8px; height: 17px;
								background: url('../../images/sscsprites.png') -141px -72px;
								position:absolute;
								top:11px;
								left:0px;
								cursor: pointer;
							}
						}

						.example{
							float:right;
							position:relative;
							padding-left:13px;
							margin-left:20px;

							
							.tips span{
								/* white-space:nowrap; */
							}
							.i1{
								width: 8px; height: 17px;
								background: url('../../images/sscsprites.png') -141px -72px;
								position:absolute;
								top:11px;
								left:0px;
								cursor:pointer;
							}
							.i2{
								width: 16px; height: 18px;
								background: url('../../images/sscsprites.png') -141px -18px;
								position:absolute;
								top:11px;
								left:0px;
								cursor:pointer;
							}
						}
					}
				}
				.chooselist{
					width:100%;
					float:left;
					padding-left:40px;
					background:#fff;
					padding-right:30px;
					.leftnum{
						width:560px;
						float:left;
						padding:10px 0px;
						.numcon{
							width:100%;
							float:left;
							.name{
								float:left;
								width: 65px; height: 26px;
								background: url('../../images/sscsprites.png') -0 -53px;
								color:#333;
								font-size:12px;
								text-align:center;
								line-height:24px;
								margin-top:6px;
							}
							.numlist{
								float:left;
								margin-left:15px;
								width:473px;
								li{
									float:left;
									width: 38px; height: 38px;
									background: url('../../images/sscsprites.png') -103px -0;
									text-align:center;
									line-height:36px;
									font-size:16px;
									color:#333;
									margin-right:5px;
									cursor:pointer;
								}
								:hover{
									 
									background: url('../../images/hoveball.png');
									color:#fff;
								}
								.active{
									
									background: url('../../images/sscsprites.png') -103px -38px;
									color:#fff;
								}
							}
						}
						.choosecheck{
							width:100%;
							float:left;
							.name{
								float:left;
								width: 65px; height: 15px;
								color:#333;
								font-size:12px;
								text-align:center;
								line-height:15px;
							}
							.numlist{
								float:left;
								margin-left:15px;
								li{
									float:left;
									width: 38px; height: 15px;
									text-align:center;
									font-size:12px;
									color:#333;
									margin-right:5px;
								}
								.active{
									color:$yellow;
								}
							}
						}
					}
					.numright{
						float:right;
						padding:10px 0px;
						li{
							float:left;
							width: 38px; height: 38px;
							background: url('../../images/sscsprites.png') -103px -0;
							text-align:center;
							line-height:34px;
							font-size:14px;
							color:#333;
							margin-right:5px;
							padding-right:0px;
							cursor:pointer;
						}
						:last-child{
							margin-right:0px;
						}
						:hover{
							width: 38px; height: 38px;
							background: url('../../images/sscsprites.png') -103px -38px;
							color:#fff;
						}
						.active{
							width: 38px; height: 38px;
							background: url('../../images/sscsprites.png') -103px -38px;
							color:#fff;
						}
					}
				}
				.elsebg{
					background:#eeeeee;
				}

				#square .numlist{
					li{
						float:left;
						width: 68px; height: auto;
						background-color: #fff;
						text-align:center;
						line-height:36px;
						font-size:16px;
						color:#333;
						margin-right:5px;
						cursor:pointer;
						background: none;
						div{
							background: none;
						}
						.btn_square{
							overflow:visible;
							background:  url(../../images/square.png) top center no-repeat;
							-webkit-background-size: 100% 110%;
							background-size: 100% 110%;
						}
						.btn_square:hover{
							width: 68px; height: auto;
							background: url('../../images/square_hover.png') top center no-repeat;
							-webkit-background-size: 100% 110%;
							background-size: 100% 110%;
							color:#fff;
						}
						.active{
							width: 68px; height: auto;
							background: url('../../images/square_active.png') top center no-repeat!important;
							-webkit-background-size: 100% 110%!important;
							background-size: 100% 110%!important;
							color:#fff;
						}
						.radix{
							color: red!important;
						}
						
					}
					
					.ball_item{
						/* height: 20px; */
						width: 68px;
						line-height: 30px;
					}
					
				}
				.sumBtn_box{
					height: 350px;
					/* margin-top: 236px; */
					clear: both;
					background-color: #fff;
					.left_input{
						width: 700px;
						height: 85%;
						/* background-color: blue; */
						float: left;
						textarea{
							color: #333;
						    border: 1px solid #D7D1D1;
						    background: #fff;
							width: 650px;
						    height: 265px;
						    margin-left: 25px;
						    margin-top: 15px;
						    padding: 15px;
						    border-radius: 8px;
						    background-color: #eee;
						    resize: none;
						}
					}
					.btn_box{
						width: 200px;
						height: 85%;
						/* background-color: green; */
						float: right;
						.rt_btn{
							margin: 0 auto;
							margin-top: 15px;
							background-color: #fe8f00;
						}
						.rt_btn:nth-child(1){
							margin-top: 75px;
						}
					}
					.input_tips{
						height: 15%;
						/* background-color: pink; */
						padding-left: 30px;
						clear: both;
						.gray_font{
							font-weight: bold;
						}
					}
				}
				.addchoose{
					width:100%;
					float:left;
					padding:20px 40px;
					background:#fff;
					.funleft{
						float:left;
						width:650px;
						.topcz{
							width:100%;
							float:left;
							.amount{
								float:left;
								color:#333;
								margin-right:10px;
								line-height:22px;
								position: relative;
								.title{
									color:#333;
									font-size:12px;
									float:left;
									min-width: 25px;
								}
								.btnaddrem{
									width:15px;
									height:15px;
									font-size:14px;
									background:#CCCCCC;
									border-radius:50%;
									display: inline-block;
									line-height:13px;
									text-align:center;
									color:#fff;
									font-weight:bold;
									cursor:pointer;
									font-style:normal;
									float:left;
									margin-top:3px;
								}
								.mathinput{
									width:50px;
									height:22px;
									line-height:22px;
									font-size:12px;
									border-radius:4px;
									margin:0 5px;
									padding:5 10px;
									text-align:center;
									float:left;
								}
								.mathselect{
									width:40px;
									height:22px;
									line-height:22px;
									font-size:12px;
									border-radius:4px;
									margin:0 5px;
									padding:5 10px;
									text-align:center;
									float:left;
								}
								.ml10{
									margin-left:10px;
								}
								.mr10{
									margin-right:10px;
								}
							}
						}
						.tip{
							width:100%;
							float:left;
							margin-top:10px;
							line-height:40px;
							.comtext{
								float:left;
								color:#333;
								font-size:12px;
								em{
									font-style:normal;
									color:$yellow;
									margin:5px;
									font-weight:bold;
								}
							}
							label{
								float:right;
								margin-right:15px;
								color:#333;
								input[type=checkbox]{
									border:1px solid $yellow;
									color:$yellow;
									width:18px;
									height:18px;
									float:left;
									margin-top: 12px;
									margin-right:3px;
									cursor:pointer;
								}
							}
						}
					}
					.btnright{
						float:right;
						width:150px;
					}
				}
				.resultarea{
					width:100%;
					float:left;
					padding:20px 40px;
					background:#eeeeee;
					.betcheck{
						float:left;
						width:670px;
						height:177px;
						background:url("../../images/6_63.png") center no-repeat;
						background-size: contain;
						padding:20px 30px;
						.betarea{
							width:100%;
							overflow-y:scroll;
							height:120px;
							padding-right:20px;
							li{
								height:30px;
								width:100%;
								list-style:none;
								float:left;
								border-bottom:1px solid #CCCCCC;
								line-height:30px;
								display: flex;
								.lot_type{
									text-align: left;
								}
								.lot_num{
									width: 40%;
									overflow:hidden;
									text-overflow:ellipsis;
									white-space:nowrap;
									letter-spacing: 3px;
								}
								.lot_close{
									height: 100%;
									width: 5%;
									cursor: pointer;
									text-align: right;
									background:  url(../../images/close01.png) center right no-repeat;
								}
							}
							li>div{
								display: inline-block;
								text-align: center;
								width: 20%;
							}
						}
						.info{
							width:100%;
							text-align:center;
							color:#333;
							font-size:12px;
							span{
								margin:0 5px;
								color:$yellow;
							}
						}
					}
					.btnright{
						float:right;
						width:120px;
						padding-top:20px;
						label{
							float:left;
							margin-right:15px;
							color:#333;
							height:20px;
							line-height:20px;
							margin-top:5px;
							font-weight:500;
							input[type=checkbox]{
								border:1px solid $yellow;
								color:$yellow;
								width:18px;
								height:18px;
								float:left;
								margin-top: 2px;
								margin-right:3px;
								cursor:pointer;
							}
						}
					}
				}
				.surearea{
					width:100%;
					float:left;
					padding:20px 40px;
					background:#fff;
					text-align:center;
					
				}
			}
			.sscright{
				width:280px;
				float:right;
				overflow:hidden;
				border-radius:4px;
			}
		}
	}
}
.fl{
	float:left;
}

.btnh_w120_h40{
	cursor: pointer;
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
}
.btnh_w150_h50{
	cursor: pointer;
    width: 150px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
}
.btnh_w120_h40:hover{
	text-decoration:none;
	 -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.5);
    -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.5);
    box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.5);
}
.bgyellow{
	background: $yellow;
	float:right;
	-moz-box-shadow: 0 10px 20px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 10px 20px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow: 0 10px 20px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
}
.bgfff{
	background: #fff;
	color:#333;
	font-size:14px;
	float:right;
	text-decoration:none;
	 -moz-box-shadow: 0 10px 20px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 10px 20px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
    box-shadow: 0 10px 20px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
}
.bgyellowcenter{
	background: $yellow;
	color:#fff;
	font-size:14px;
	display:inline-block;
	margin-right:10px;
	-moz-box-shadow: 0 10px 20px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);
	-webkit-box-shadow: 0 10px 20px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
	box-shadow: 0 10px 20px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
}
.mb10{
	margin-bottom:10px;
}
input[type="range"] {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 22px;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  margin:0px 5px;
}

/*range中心圆点*/

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 18px;
  border-radius: 5px;
  background-color: #fe8f00;
  cursor: pointer;
  margin-top: -4px;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  height: 12px;
  width: 18px;
  border-radius: 5px;
  background-color: #fe8f00;
  cursor: pointer;
}
input[type="range"]::-ms-thumb {
  -ms-appearance: none;
  appearance: none;
  height: 12px;
  width: 18px;
  border-radius: 5px;
  background-color: #fe8f00;
  cursor: pointer;
  margin-top: 1px;
}
input[type="range"]::slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 18px;
  border-radius: 5px;
  background-color: #fe8f00;
  cursor: pointer;
  margin-top: -6px;
}
/*range轨道*/
input[type="range"]::-webkit-slider-runnable-track {
  width: 100px;
  height: 4px;
  background-color: #fe8f00;
  border-radius: 2px;
  cursor: pointer;
}
input[type="range"]::-moz-range-track {
  width: 100px;
  height: 4px;
  background-color: #fe8f00;
  border-radius: 2px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100px;
  height: 4px;
  border-color: transparent;
  color: #fe8f00;
  border-radius: 2px;
  background: #fe8f00;
  cursor: pointer;
}

.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
// 右边信息区域样式开始
.infobox {
  width: 280px;
  float:right;
  .userbtngroup{
  	height: 35px;
  	display: flex;
  	justify-content: space-between ;
  	margin-top: 20px;
  	.money_btn{
  		height: 30px;
  		width: 70px;
  		text-align: center;
  		vertical-align: middle;
  		line-height: 28px;
  		background-color: #525151;
  		border:1px solid #A6A6A6;
  		border-radius: 3px;
  		cursor:pointer;
  		box-sizing:border-box;

  	}
  }
}

.infoitem {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  .top_til{
	height: 50px;
	width: 100%;
	background-color: #333333;
	
	/* -webkit-background-size: 20px; */
	/* background-size: 20px; */
  }
  .til_ico{
  	display: inline-block;
  	width: 32px;
  	height: 32px;
  	margin-top: 8px;
  	margin-left: 20px;
  	
  }
  .til_ico_history{
  	background: #333333 url(../../images/sscsprites.png) 0px -79px no-repeat;
  }
  .til_ico_rank{
  	background: #333333 url(../../images/sscsprites.png) -32px -79px no-repeat;
  }
  .til_font{
  	display: inline-block;
  	vertical-align: top;
  	color: #ddd;
  	margin-left: 10px;
  	line-height: 50px;
  	font-size: 16px;
  	height: 100%;
  }
}

.userinfobox {
  padding: 25px 25px;
  color: white;
  background-color: #333;

}
.userinfo {
  padding-bottom: 20px;
}
.userinfo i {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  overflow: hidden;
  
}
.userinfo i img{
	width: 100%;
	height: 100%;
	object-fit:cover;
}
.userinfo span {
  padding-left: 20px;
  font-size: 18px;
}
.userbtngroupbtngroup {
  width: 100%;
  padding-top: 16px;
  justify-content: space-between;
}
.userbtngroupbtngroup span {
  width: 70px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  background-color: #525151;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.resultinfobox {
  width: 100%;
  padding-top: 20px;
}
.resultinfo,
.tabtn {
  width: 100%;
}
.tabtn span {
  width: 50%;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: white;
  cursor:pointer;
  background-color: #333;
}
.tabtn span.btnactive {
  color: white;
  border-color: #fe8f00;
  background-color: #fe8f00;
}
.resultinfo .resultul{
	width: 100%;
}
.resultinfo .num_til{
	width: 20px;
	height: 20px;
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: #FE8F00;
	line-height: 18px;
	text-align: center;
	margin-top: 2px;
	color: white;
}
.resultinfo .font_orange{
	color: #FE8F00;
	font-weight: bold;
}
.resultinfo .name_font{
	margin-left: -40px;
}
.resultul .resultitem {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  justify-content: space-between;
  padding: 0 25px;
  background-color: #eee;
  border-bottom: 1px solid white;
}
.resultitem:last-child {
  border-bottom: none;
}
.querybox {
  padding: 5px 20px;
  justify-content: flex-end;
  background-color: #eee;
}
select#qishu {
  width: 100px;
  height: 30px;
  line-height: 28px;
  border-color: #ccc;
}
.querybox,
.resultbox,
.resulttable {
  width: 100%;
}
.resulttable {
  height: 340px;
  background-color: white;
  overflow-y: scroll;
}
.resulttable table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.resulttable table td {
  text-align: left;
  padding-left: 8px;
  height: 30px;
  border: 1px solid #ccc;
}
// 右边信息区域样式结束

