.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.container {
  width: 950px;
  font-size: 14px;
  padding: 0;
  align-content: flex-start;
  align-items: flex-start;
}
.querycontent {
  width: 100%;
  border: 1px solid #ccc;
}
.witem {
  width: 100%;
  padding: 14px 20px;
  border-top: 1px solid #ccc;
}
.whead {
  height: 50px;
  line-height: 48px;
  padding-top: 0;
  font-weight: bold;
  background-color: #f5f5f5;
  border-top: none;
}
.witem i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: white;
  text-align: center;
  border-radius: 50%;
  background-color: #333;
}
.witem i.bg_y {
  background-color: #fe8f00;
}
.linkitem{
    color: #999;
    cursor: pointer;
}

.color_y {
  color: #fe8f00;
}
.tablebox {
  width: 100%;
  padding: 0;
}
.color_dark {
  color: #999;
}
.page {
  align-self: center;
}
